APRIL 0
    <p align="justify"><b>APRIL 1. </b></p>
    <p align="justify">&quot;For if we would judge ourselves, we should not be 
    judged.&quot; 1 Cor. 11:31 </p>
    <p align="justify">Self-condemnation averts God's condemnation. When a 
    penitent sinner truly, humbly, graciously sits in judgment upon himself, the 
    Lord will never sit in judgment upon him. The penitent publican, who stood 
    afar off, wrapped in the spirit of self-condemnation, retired from His 
    presence a justified man. The proud, self-righteous Pharisee, who marched 
    boldly to the altar and justified himself, went forth from God's presence a 
    condemned man. When God sees a penitent sinner arraigning, judging, 
    condemning, loathing himself, He exclaims, &quot;I do not condemn you; go and sin 
    no more.&quot; He who judges and condemns himself upon God's footstool shall be 
    acquitted and absolved from God's throne. The Lord give unto us this secret 
    spirit of self-judgment. Such was Job's, when in deep contrition he 
    declared, &quot;I abhor myself, and repent in dust and ashes.&quot; Such was David's, 
    when he penitentially confessed, &quot;Against You, You only have I sinned, and 
    done this evil in Your sight.&quot; Such was Peter's, when he vehemently 
    exclaimed, &quot;Depart from me; for I am a sinful man, O Lord.&quot; Such was 
    Isaiah's, when he plaintively cried, &quot;Woe is me, for I am undone; because I 
    am a man of unclean lips.&quot; Such was the publican's, when he humbly prayed, 
    &quot;God be merciful to me a sinner.&quot; Oh lovely posture! Oh sacred spirit of 
    self-abhorrence, of self condemnation! The Holy Spirit works it in the 
    heart, and this stamps it as so precious, so salutary, and so safe. The 
    great day of the Lord will unveil blessings passing all thought, and glories 
    passing all imagination, to the soul who beneath the cross lies prostrate, 
    in the spirit of self-condemnation. The judgment-day of the self-condemning 
    soul is on this side of eternity; while the judgment-day of the 
    self-justifying soul is on the other side of eternity. And oh, how terrible 
    will that judgment be! <br>
&nbsp; </p>
    <p align="justify">APRIL 2. </p>
    <p align="justify">&quot;There is a friend that sticks closer than a brother.&quot; 
    Proverbs 28:24. </p>
    <p align="justify">The power of human sympathy is amazing, if it leads the 
    heart to Christ. It is paralyzed, if it leads only to ourselves. Oh, how 
    feeble and inadequate are we to administer to a diseased mind, to heal a&nbsp; 
    broken heart, to strengthen the feeble hand, and to confirm the trembling 
    knees! Our mute sympathy, our prayerful silence, is often the best exponent 
    of our affection, and the most effectual expression of our aid. But if, 
    taking the object of our solicitude by the hand, we gently lead him to God- 
    if we conduct him to Jesus, portraying to his view the depth of His love, 
    the perfection of His atoning work, the sufficiency of His grace, His 
    readiness to pardon, and His power to save, the exquisite sensibility of His 
    nature, and thus His perfect sympathy with every human sorrow; we have then 
    most truly and most effectually soothed the sorrow, stanched the wound, and 
    strengthened the hand in God. <br>
    There is no sympathy- even as there is no love, no gentleness, no 
    tenderness, no patience- like Christ's. Oh how sweet, how encouraging, to 
    know, that in all my afflictions He is afflicted; that in all my temptations 
    He is tempted; that in all my assaults He is assailed; that in all my joys 
    He rejoices- that He weeps when I weep, sighs when I sigh, suffers when I 
    suffer, rejoices when I rejoice. May this truth endear Him to our souls! May 
    it constrain us to unveil our whole heart to Him, in the fullest confidence 
    of the closest, most sacred, and precious friendship. May it urge us to do 
    those things always which are most pleasing in His sight. Beloved, never 
    forget- and let these words linger upon your ear, as the echoes of music 
    that never die- in all your sorrows, in all your trials, in all your needs, 
    in all your assaults, in all your conscious wanderings, in life, in death, 
    and at the day of judgment- you possess a friend that sticks closer than a 
    brother! That friend is- Jesus! </p>
    <p align="justify">APRIL 3. </p>
    <p align="justify">&quot;Do not be deceived; God is not mocked: for whatever a 
    man sows, that shall he also reap. For he that sows to his flesh shall of 
    the flesh reap corruption; but he that sows to the Spirit shall of the 
    Spirit reap life everlasting.&quot; Galatians 6:7-8 </p>
    <p align="justify">It is a self-evident truth, that there can be no harvest 
    where no seed has been sown. But the fact that there is coming a moral 
    harvest in each individual life- a future reaping of present sowing- is a 
    truth equally demonstrable. The life that now is, is the seed-time of a life 
    that is to come. The future of human destiny derives all its complexion and 
    its form from the present of human character. The spring does not more 
    certainly deepen into summer- nor the summer fade into autumn- nor the 
    autumn pale into winter- nor the winter bloom again into spring, than does 
    our present probation merge into our future destiny, carrying with it its 
    fixed principles, its unchanged habits, and its tremendous account. <br>
    And what, my dear reader, are you sowing? I wish this question to have all 
    the earnestness and force of a personal appeal. With what seed, again I ask, 
    are you sowing for the future? If you are unconverted, nothing is more true 
    than that you are sowing to the flesh! You may be rigidly moral, deeply 
    intellectual, profoundly learned, exquisitely refined, outwardly religious, 
    generous, and amiable, and yet all the while you are but sowing to the 
    flesh, and not to the Spirit. &quot;That which is born of the flesh is flesh,&quot; 
    and nothing but flesh. &quot;That which is born of the Spirit is spirit,&quot; it is 
    spiritual and divine, heavenly and holy; and, what is more, it is 
    imperishable. No lowly seed of divine truth, or grace, love, or service, 
    sown in this present life of suffering and toil, shall ever be lost. All 
    other things shall perish- the world with its loveliness and love, the 
    &quot;lust, of the flesh, and the lust of the eye, and the pride of life,&quot; all 
    shall pass away and vanish; but not one seed of grace implanted in the heart 
    of man by the Holy Spirit shall ever perish. The Divine image once restored 
    to the soul shall never more be obliterated. Nothing done by Jesus, or for 
    Jesus- no sin laid down, no cross taken up, no holiness cultivated, no labor 
    wrought, no service done, no cup of cold water given- nothing, the fruit of 
    love to God and of faith in Jesus Christ, shall ever be lost. Oh, who does 
    not earnestly desire that in his heart and life may be sowing the good 
    incorruptible seed, that shall, though long buried and concealed, yield a 
    golden harvest of future joy, bliss, and glory? <br>
&nbsp; </p>
    <p align="justify">APRIL 4. </p>
    <p align="justify">&quot;How are the dead raised up? and with what body do they 
    come?&quot; 1 Cor. 15:35 </p>
    <p align="justify">The identical body that was sown, yet so changed, so 
    spiritualized, so glorified, so immortalized, as to rival in beauty the 
    highest form of spirit, while it shall resemble, in its fashion, the 
    glorious body of Christ Himself. We can form but a faint conception, even 
    from the glowing representations of the apostle, of the glory of the raised 
    body of the just. But this we know, it will be in every respect a structure 
    worthy of the perfected soul that will inhabit it. Now 'the body' is the 
    antagonist, and not the auxiliary of 'the soul'- its clog, its prison, its 
    foe. The moment that Jesus condescends to &quot;grace this mean abode&quot; with His 
    indwelling presence, there commences that fierce and harassing conflict 
    between holiness and sin, which so often wrings the bitter cry from the 
    believer, &quot;Oh wretched man that I am! who shall deliver me from the body of 
    this death?&quot; Oh, what a cumbrance is this body of sin! Its corruptions, its 
    infirmities, its weaknesses, its ailments, its diseases, all conspire to 
    render it the tyrant of the soul, if grace does not keep it under, and bring 
    it into subjection as its slave. How often, when the mind would pursue its 
    favorite study, the wearied and over-tasked body enfeebles it! How often, 
    when the spirit would expatiate and soar in its contemplations of, and in 
    its communings with, God, the inferior nature detains it by its weight, or 
    occupies it with its needs! How often, when the soul thirsts for divine 
    knowledge, and the heart pants for holiness, its highest aspirations and its 
    strongest efforts are discouraged and thwarted by the clinging infirmities 
    of a corrupt and suffering humanity! <br>
    Not so will it be in the morning of the resurrection. &quot;Then shall this 
    corruptible put on incorruption, and this mortal shall put on immortality.&quot; 
    Mysterious and glorious change! &quot;In a moment, in the twinkling of an eye, at 
    the last trump,&quot; the dead in Christ shall awake from their long sleep, and 
    spring from their tombs into a blissful immortality. Oh, how altered! oh, 
    how transformed! oh, how changed! &quot;Sown a natural body, it is raised a 
    spiritual body.&quot; &quot;A spiritual body!&quot; Who can imagine, who describe it? What 
    anatomy can explain its mysteries? What pencil can paint its beauties! &quot;A 
    spiritual body!&quot; All the remains, all the vestiges of corrupt matter passed 
    away. &quot;A spiritual body!&quot; So regenerated, so sanctified, so etherealized, so 
    invested with the high and glorious attributes of spirit, yet retaining the 
    &quot;form and pressure&quot; of matter; that now sympathizing and blending with the 
    soul in its high employment of obeying the will and chanting the praises of 
    God, it shall rise with it in its lofty soarings, and accompany and aid it 
    in its deep researches in the hidden and sublime mysteries of eternity. </p>
    <p align="justify">APRIL 5. </p>
    <p align="justify">&quot;If God be for us, who can be against us?&quot; Romans 8:31.
    </p>
    <p align="justify">With such a Father, such a Friend, and such a Comforter, 
    who can wage a successful hostility against the saints of God? God Himself 
    cannot be against us, even when the clouds of His providence appear the most 
    lowering, and His strokes are felt to be the most severe. &quot;Though He slay 
    me, yet will I trust in Him.&quot; The law cannot be against us; for the 
    Law-fulfiller has, by His obedience, magnified and made it honorable. Divine 
    justice cannot be against us; for Jesus has, in our stead, met its demands, 
    and His resurrection is a full discharge of all its claims. Nor sin, nor 
    Satan, nor men, nor suffering, nor death, can be really or successfully 
    against us, since the condemnation of sin is removed, and Satan is 
    vanquished, and the ungodly are restrained, and suffering works for good, 
    and the sting of death is taken away. &quot;If God be for us, who can be against 
    us?&quot; With such a Being on our side, whom shall we fear? We will fear nothing 
    but the disobedience that grieves, and the sin that offends Him. Fearing 
    this, we need fear nothing else. &quot;God is our refuge and strength, a very 
    present help in trouble. Therefore will not we fear.&quot; Listen once more to 
    His wondrous words: &quot;Fear not; for I am with you: do not be dismayed; for I 
    am your God: I will strengthen you; yes, I will help you; yes, I will uphold 
    you with the right hand of my righteousness.&quot; <br>
    Would we always have God for us? Then let us aim to be for God. God deals 
    with us His creatures by an equitable rule. &quot;The ways of the Lord are 
    equal.&quot; &quot;If you walk contrary unto me, their will I walk contrary unto you.&quot; 
    Is not God for you? Has He not always, since He manifested Himself to you as 
    your covenant God, been on your side? Has He ever been a wilderness to you, 
    a land of darkness? Has He, in any instance, been unkind, unfriendly, 
    unfaithful? Never. Then be for God- decidedly, wholly, uncompromisingly for 
    God. Your heart for God, your talents for God, your rank for God, your 
    property for God, your influence for God, your all for God; a holy 
    unreserved consecration to Him, all whose love, all whose grace, all whose 
    perfections, all whose heaven of glory is for you. Trembling Christian! God 
    is on your side; and &quot;if God be for us, who can be against us?&quot; <br>
&nbsp; </p>
    <p align="justify">APRIL 6. </p>
    <p align="justify">&quot;But even the very hairs of your head are all numbered.&quot; 
    Luke 12:7. </p>
    <p align="justify">You know so little of God, my reader, because you live at 
    such a distance from God; you have so little transaction with Him- so little 
    confession of sin, so little searching of your own conscience, so little 
    probing of your own heart, so little dealing with Him in the blood and 
    righteousness of Christ, so little transaction with Him in the little things 
    of life. You deal with God in great matters; you take great trials to God, 
    great perplexities, great needs; but in the minutiae of each day's history, 
    in what are called the little things of life, you have no dealings with God 
    whatever; and consequently you know so little of the love, so little of the 
    wisdom, so little of the glory, of this glorious covenant God and reconciled 
    Father. <br>
    I tell you, the man who lives with God in little matters, who walks with God 
    in the minutiae of his life, is the man who becomes the best acquainted with 
    God- with His character, His faithfulness, His love. To meet God in my daily 
    trials, to take to Him the trials of my calling, the trials of my church, 
    the trials of my family, the trials of my own heart- to take to Him that 
    which brings the shade upon my brow, that rends the sigh from my heart- to 
    remember it is not too trivial to take to God- above all, to take to Him the 
    least taint upon the conscience, the slightest pressure of sin upon the 
    heart, the softest conviction of departure from God- to take it to Him, and 
    confess it at the foot of the cross, with the hand of faith upon the 
    bleeding sacrifice- oh! these are the paths in which a man becomes 
    intimately and closely acquainted with God! <br>
&nbsp; </p>
    <p align="justify">APRIL 7. </p>
    <p align="justify">&quot;I the Lord search the heart.&quot; Jeremiah 17:10. </p>
    <p align="justify">Solemn as is this view of the Divine character, the 
    believing mind finds in it sweet and hallowed repose. What more consolatory 
    truth in some of the most trying positions of a child of God than this- the 
    Lord knows the heart. The world condemns, and the saints judge, but God 
    knows the heart. And to those who have been led into deep discoveries of the 
    heart's hidden evil, to whom have been made startling and distressing 
    unveilings, how precious is this character of God- &quot;He that searches the 
    heart!&quot; Is there a single recess of our hearts we would veil from His 
    penetrating glance? Is there a corruption we would hide from His view? Is 
    there an evil of which we would have Him ignorant? Oh no! Mournful and 
    humiliating as is the spectacle, we would throw open every door, and uplift 
    every window, and invite and urge His scrutiny and inspection, making no 
    concealments, and indulging in no reserves, and framing no excuses when 
    dealing with the great Searcher of hearts, exclaiming, &quot;Search me, O God, 
    and know my heart; try me, and know my thoughts; and see if there be any 
    wicked way in me, and lead me in the way everlasting.&quot; And while the Lord is 
    thus acquainted with the evil of our hearts, He most graciously conceals 
    that evil from the eyes of others. He seems to say, by His benevolent 
    conduct, &quot;I see my child's infirmity,&quot;- then, covering it with His hand, 
    exclaims- &quot;but no other eye shall see it, but my own!&quot; Oh, the touching 
    tenderness, the loving-kindness of our God! Knowing, as He does, all the 
    evil of our nature, He yet veils that evil from human eye, that others may 
    not despise us as we often despise ourselves. Who but God could know it? who 
    but God would conceal it? And how blessed, too, to remember that while God 
    knows all the evil, He is as intimately acquainted with all the good that is 
    in the hearts of His people! He knows all that His Spirit has implanted, 
    that His grace has wrought. Oh encouraging truth! That spark of love, faint 
    and flickering- that pulsation of life, low and tremulous- that touch of 
    faith, feeble and hesitating- that groan, that sigh, that low thought of 
    self that leads a man to seek the shade- that self-abasement that places his 
    mouth in the dust, oh, not one of these sacred emotions is unseen, unnoticed 
    by God. His eye ever rests with infinite complaisance and delight on His own 
    image in the renewed soul. Listen to His language to David: &quot;Forasmuch as it 
    was in your heart to build a house for my name, you did well, in that it was 
    in your heart.&quot; <br>
&nbsp; </p>
    <p align="justify">APRIL 8. </p>
    <p align="justify">&quot;This is my infirmity.&quot; Psalm 77:10. </p>
    <p align="justify">The infirmities of the believer are as varied as they are 
    numerous. Some are weak in faith, and are always questioning their interest 
    in Christ. Some, superficial in knowledge, and shallow in experience, are 
    ever exposed to the crudities of error and to the assaults of temptation. 
    Some are slow travelers in the divine life, and are always in the rear; 
    while yet others are often ready to halt altogether. Then there are others 
    who groan beneath the burden of bodily infirmity, exerting a morbid 
    influence upon their spiritual experience. A nervous temperament-&nbsp; a 
    state of perpetual depression and despondency- the constant corrodings of 
    mental disquietude- physical ailment- imaginary forebodings- a facile 
    yielding to temptation- petulance of spirit- unguardedness of speech- gloomy 
    interpretations of providence- an eye that only views the dark hues of the 
    cloud, the somber shadings of the picture. Ah! from this dismal catalogue 
    how many, making their selection, may exclaim, &quot;This is my infirmity.&quot; But 
    be that infirmity what it may, let it endear to our hearts the grace and 
    sympathy of Him who for our sake was encompassed with infirmity, that He 
    might have compassion upon those who are alike begirt. All the fulness of 
    grace that is in Jesus is for that single infirmity over which you sigh. </p>
    <p align="justify">APRIL 9. </p>
    <p align="justify">&quot;He shall take of mine, and shall show it unto you.&quot; John 
    16:15 </p>
    <p align="justify">The Spirit is the Great Conveyancer of Christ to the 
    soul. Placing Himself between the Fountain and the believer, He purposes to 
    convey all blessing, to supply all need, by taking the things of Christ's 
    mediatorial fulness, and bringing them into our blest and holy experience. 
    Having gone before to prepare the soul for the blessing, by discovering its 
    poverty of state, and creating its poverty of spirit, He now takes of the 
    atoning blood and applies it to the conscience; the justifying 
    righteousness, and wraps it around the soul; the sanctifying grace, and 
    conducts it into the heart. In a word, He reveals Jesus to the mind, 
    testifies of Christ to the soul- how divine He is, therefore able to save; 
    how loving He is, therefore as willing as He is able; how gracious He is, 
    therefore stooping to our lowest circumstance; how tender He is, therefore 
    trampling not upon our weak faith, nor despising our little grace; how 
    sympathizing He is, therefore turning not away His ear, and withdrawing not 
    His heart from our tale of sorrow or our burden of grief. Oh, what a 
    Glorifier of Christ is the Divine Spirit! All that we truly know of Jesus, 
    all that we have inwardly experienced of His grace, has been of His teaching 
    and conveyance. He has conducted us to the Fountain- He has led us to the 
    robing-chamber of the King- He has anointed us with the &quot;oil of gladness,&quot;- 
    He has caused our &quot;garments to smell of myrrh, and aloes, and cassia; out of 
    the ivory palaces,&quot;- He has opened the treasury, taking of the precious, 
    glorious things of a precious, glorious Christ, spreading them out in all 
    their vastness, suitableness, and freeness before our longing eye. How 
    often, when the soul has hungered, He has broken up to us the bread that 
    came down from heaven! when it has thirsted, He has smitten the rock, and 
    satiated us with its life-giving stream! How often, when guilt has 
    distressed us, He has sprinkled anew the peace-speaking blood; and when 
    sorrow has oppressed, and difficulties have embarrassed, and dependences 
    have failed, and resources have become exhausted, and creatures most deeply 
    loved have most deeply wounded us, He, the tender, loving Comforter, He, the 
    blessed Teacher, He, the great Glorifier of Jesus, has given to us some new 
    and appropriate and precious view of our Immanuel; and in a moment the storm 
    has passed, the waves have stilled, and peace, serenity, and joy have shed 
    their luster on the soul. One glimpse of Jesus in deep tribulation, one 
    glance in heart-rending bereavement, one discovery of His countenance when 
    all is dark, and dreary, and desolate, one surprisal of His love when the 
    heart sinks into loneliness, one touch of His cross when it is depressed, 
    and bowed, and broken by sin- oh, it is as though heaven had expanded its 
    gates, and we had passed within, where neither tribulation, nor bereavement, 
    nor darkness, nor loneliness, nor sin, is known any more forever! <br>
&nbsp; </p>
    <p align="justify">APRIL 10. </p>
    <p align="justify">&quot;More than conquerors.&quot; Romans 8:37 </p>
    <p align="justify">The original word will admit a stronger rendering than 
    our translators have allowed it. The same word is in another place rendered 
    &quot;a far more exceeding and eternal weight of glory.&quot; So that in the present 
    instance it might be translated, &quot;far more exceeding conquerors.&quot; The phrase 
    seems to imply that it is more than a mere victory which the believer gains. 
    A battle may be won at a severe loss to the conqueror. A great leader may 
    fall at the head of his troops. The flower of an army may be destroyed, and 
    the best <br>
    blood of a nation's pride may be shed. But the Christian conquers with no 
    such loss. Nothing whatever essential to His well-being is imperiled. His 
    armor, riveted upon his soul by the Holy Spirit, he cannot lose. His life, 
    hid with Christ in God, cannot be endangered. His Leader and Commander, once 
    dead, is alive and dies no more. Nothing valuable and precious shall he 
    lose. <br>
    There is not a grace in his soul but shall come out of the battle with sin, 
    and Satan, and the world, purer and brighter for the conflict. The more 
    thoroughly the Lord brings our graces into exercise, the more fully shall 
    they be developed, and the more mightily shall they be invigorated. Not a 
    grain of grace shall perish in the winnowing, not a particle of faith shall 
    be consumed in the refining. Losing nothing, he gains everything! He returns 
    from the battle laden with the spoils of a glorious victory- &quot;more than a 
    conqueror.&quot; All his resources are augmented by the result. His armor is 
    brighter, his sword is keener, his courage is more dauntless, for the 
    conflict. Every grace of the Spirit is matured. Faith is strengthened- love 
    is expanded- experience is deepened- knowledge is increased. He comes forth 
    from the trial holier and more valorous than when he entered it. His 
    weakness has taught him wherein his strength lies. His necessity has made 
    him better acquainted with Christ's fulness. His peril has shown him who 
    taught his hands to war and his fingers to fight, and whose shield covered 
    his head in the day of battle. He is &quot;more than conqueror &quot;- he is 
    triumphant! </p>
    <p align="justify">APRIL 11. </p>
    <p align="justify">&quot;There is no fear in love; but perfect love casts out 
    fear: because fear has torment. He that fears is not made perfect in love.&quot; 
    1 John 4:18. </p>
    <p align="justify">Who that has felt it will deny, that &quot;fear has torment&quot;? 
    The legal fear of death, of judgment, and of condemnation- the fear 
    engendered by a slavish view of the Lord's commandments- a defective view of 
    the believer's relation to God- imperfect conceptions of the finished work 
    of Christ- unsettled apprehensions of the great fact of acceptance- yielding 
    to the power of unbelief- the retaining of guilt upon the conscience, or the 
    influence of any concealed sin, will fill the heart with the torment of 
    fear. Some of the most eminent of God's people have thus been afflicted: 
    this was Job's experience- &quot;I am afraid of all my sorrows.&quot; &quot;Even when I 
    remember, I am afraid, and trembling takes hold on my flesh.&quot; &quot;When I 
    consider Him, I am afraid of Him.&quot; So also David- &quot;What time I am afraid, I 
    will trust in You.&quot; &quot;My flesh trembles for fear of You; I am afraid of Your 
    judgments.&quot; But &quot;perfect love casts out fear:&quot; he that fears is not 
    perfected in the love of Christ. The design and tendency of the love of 
    Jesus shed abroad in the heart is to lift the soul out of all its &quot;bondage 
    through fear of death,&quot; and its ultimate consequences, and soothe it to rest 
    on that glorious declaration, triumphing in which, many have gone to glory, 
    &quot;There is therefore now no condemnation to those who are in Christ Jesus.&quot; 
    See the blessed spring from where flows a believer's victory over all 
    bondage-fear- from Jesus: not from his experience of the truth, not from 
    evidence of his acceptance and adoption, not from the work of the Spirit in 
    his heart, blessed as it is- but from out of, and away from, himself- even 
    from Jesus. The blood and righteousness of Christ, based upon the infinite 
    dignity and glory of His person, and wrought into the experience of the 
    believer by the Holy Spirit, expels from the heart all fear of death and of 
    judgment, and fills it with perfect peace. O you of fearful heart! why these 
    anxious doubts, why these tormenting fears, why this shrinking from the 
    thought of death, why these distant, hard, and unkind thoughts of God? Why 
    this prison-house- why this chain? You are not perfected in the love of 
    Jesus, for &quot;perfect love casts out fear:&quot; you are not perfected in that 
    great truth, that Jesus is mighty to save, that He died for a poor sinner, 
    that His death was a perfect satisfaction to Divine justice; and that 
    without a single meritorious work of your own, just as you are, poor, empty, 
    vile, worthless, unworthy, you are welcome to the rich provision of 
    sovereign grace and dying love. The simple belief of this, will perfect your 
    heart in love; and perfected in love, every bondage-fear will vanish away. 
    Oh, seek to be perfected in Christ's love. It is a fathomless ocean, its 
    breadth no mind can scan- its height no thought can scale. <br>
&nbsp; </p>
    <p align="justify">APRIL 12. </p>
    <p align="justify">&quot;Those who are Christ's have crucified the flesh, with 
    the affections and lusts.&quot; Galatians 5:24 </p>
    <p align="justify">True mortification has its foundation in the life of God 
    in the soul. A spiritual, yes, a most spiritual work, it can only spring 
    from a most spiritual principle. It is not a plant indigenous to our fallen 
    nature. It cannot be in the principle of sin to mortify itself. Human nature 
    possesses neither the inclination nor the power by which so holy an 
    achievement can be accomplished. A dead faith, a blind zeal, a superstitious 
    devotion, may prompt severe austerities; but to lay the axe close to the 
    root of indwelling evil, to marshal the forces against the principle of sin 
    in the heart- thus besieging and carrying the very citadel itself- to keep 
    the body under, and bring it into subjection, by a daily and a deadly 
    conflict with its innate and desperately depraved propensities, is a work 
    transcending the utmost reach of the most severe external austerities. It 
    consists, too, in an annulling of the covenant with sin: &quot;Have no fellowship 
    with the unfruitful works of darkness&quot;- enter into no truce, make no 
    agreement, form no union; &quot;but rather reprove them.&quot; &quot;Ephraim shall say, 
    What have I to do any more with idols?&quot; The resources of sin must be cut 
    off: &quot;Put on the Lord Jesus Christ, and make no provision for the flesh, to 
    fulfill the lusts thereof.&quot; Whatever tends to, and terminates in, the sinful 
    gratification of the flesh is to be relinquished, as frustrating the great 
    aim of the Christian in the mortification of the deeds of the body. 
    Mortification is aptly set forth as a crucifixion: &quot;Those who are Christ's 
    have crucified the flesh.&quot; Death by the cross is certain, yet lingering. Our 
    blessed Lord was suspended upon the tree from nine in the morning until 
    three in the afternoon. It was a slow lingering torture, yet terminating in 
    His giving up the spirit. Similar to this is the death of sin in the 
    believer. It is progressive and protracted, yet certain in the issue. Nail 
    after nail must pierce our corruptions, until the entire body of sin, each 
    member thus transfixed, is crucified and slain. </p>
    <p align="justify">APRIL 13. </p>
    <p align="justify">&quot;If you through the spirit do mortify the deeds of the 
    body, you shall live.&quot; Romans 8:13 </p>
    <p align="justify">&quot;If you.&quot; The believer is not a cipher in this work. It 
    is a matter in which he must necessarily possess a deep and personal 
    interest. How many and precious are the considerations that bind him to the 
    duty! His usefulness, his happiness, his sunny hope of heaven, are all 
    included in it. The work of the Spirit is not, and never was designed to be, 
    a substitute for the personal work of the believer. His influence, 
    indispensable and sovereign though it is, does not release from human and 
    individual responsibility. &quot;Work out your own salvation,&quot; &quot;Keep yourselves 
    in the love of God,&quot; &quot;Building up yourselves,&quot; are exhortations which 
    emphatically and distinctly recognize the obligation of personal effort and 
    human responsibility. The reasoning which bids me defer the work of battling 
    with my heart's corruptions, of mortifying the deeds of the body, until the 
    Spirit performs his part, argues an unhealthy Christianity, and betrays a 
    kind of truce with sin, which must on no account for a moment be 
    entertained. As, under the law, the father was compelled to hurl the first 
    missile at the profane child, so under the Gospel- a milder and more 
    benignant economy though it be- the believer is to cast the first stone at 
    his corruptions; he is to take the initiative in the great work of 
    mortifying and slaying the cherished sin. &quot;If you do mortify.&quot; Let us, then, 
    be cautious of merging human responsibility in divine influence; of exalting 
    the one by lowering the other; of cloaking the spirit of slothfulness and 
    indolence beneath an apparently jealous regard for the honor of the Holy 
    Spirit. How narrow is the way of truth! How many diverging paths there are, 
    at each turning of which Satan stands, clothed as an angel of light, quoting 
    Scripture with all the aptness and eloquence of an apostle! But God will 
    never release us from the obligation of &quot;striving against sin.&quot; &quot;I keep 
    under my body, and bring it into subjection,&quot; was Paul's noble declaration. 
    Is no self-effort to be made to escape the gulf of habitual intoxication, by 
    dashing the ensnaring beverage from the lips? Is no self-effort to be made 
    to break away from the thraldom of a companionship, the influence of which 
    is fast hurrying us to ruin and despair? Is no self-effort to be made to 
    dethrone an unlawful habit, to resist a powerful temptation, to dissolve the 
    spell that binds us to a dangerous enchantment, to unwind the chain that 
    makes us the vassal and the slave of a wrong and imperious inclination? Oh, 
    surely, God deals not with us as we deal with a piece of mechanism- but as 
    reasonable, moral, and accountable beings. &quot;I drew you with the bands of a 
    man.&quot; Mortification, therefore, is a work to which the believer must address 
    himself, and that with prayerful and resolute earnestness. <br>
&nbsp; </p>
    <p align="justify">APRIL 14. </p>
    <p align="justify">&quot;Somebody has touched me.&quot; Luke 8:46 </p>
    <p align="justify">We must acknowledge that the mortification of sin 
    infinitely transcends the mightiest puttings forth of creative power. &quot;If 
    you through the Spirit do mortify.&quot; This He does by making us more sensible 
    of the existence of indwelling sin- by deepening our aspirations after 
    holiness- by shedding abroad the love of God in the heart. But, above all, 
    the Spirit mortifies sin in the believer by unfoldings of the Lord Jesus. 
    Leading us to the cross, He would show us that as Christ died for sin, so we 
    must die to sin- and by the self-same instrument too. One real, believing 
    sight of the cross of Jesus!- oh, what a crucifying power it has! Paul, 
    standing beneath its tremendous shadow, and gazing upon its divine victim, 
    exclaimed, &quot;God forbid that I should glory, save in the cross of our Lord 
    Jesus Christ, by which the world is crucified unto me, and I unto the 
    world.&quot; Get near the Savior's cross, if you would accomplish anything in 
    this great and necessary work of mortification. The Spirit effects it, but 
    through the instrumentality of the Atonement. There must be a personal 
    contact with Jesus. This only is it that draws forth His grace. When the 
    poor woman in the Gospel touched the Savior, we are told that multitudes 
    thronged Him. And yet, in all that crowd that pressed upon His steps, one 
    only extracted the healing virtue. Thus do multitudes follow Christ 
    externally; they attend His courts, and approach His ordinances, and speak 
    well of His name, who know nothing by faith of personal transaction with the 
    Lord. They crowd His path, and strew their branches in His way, and chant 
    their hosannas; but of how few can Christ say, &quot;Somebody has touched me&quot;! 
    Oh, let us have more personal dealing with the Lord Jesus. He delights in 
    this. It pleases, it glorifies Him. He bids us come and disclose every 
    personal feeling, and make known every need, and unveil every grief, and 
    confide to His bosom each secret of our own. The crowd cannot veil us from 
    His eye. He sees the poor and contrite; He marks the trembling and the 
    lowly; He meets the uplifted glance; He feels the thrill of the gentle, 
    hesitating, yet believing touch. &quot;Somebody has touched me.&quot; Who? Is it you, 
    my reader? <br>
&nbsp; </p>
    <p align="justify">APRIL 15. </p>
    <p align="justify">&quot;My son, despise not you the chastening of the Lord, nor 
    faint when you are rebuked of him: For whom the Lord loves he chastens, and 
    scourges every son whom he receives.&quot; Hebrews 12:5-6 </p>
    <p align="justify">The rod of your heavenly Father is upon you. In the 
    experience of your sensitive spirit, your feeling heart, the stroke is a 
    heavy, and a sore one. To a keen sense of its severity, is perhaps added the 
    yet keener conviction of the sin that has evoked it- that, but for your 
    wanderings from God, your rebellion against His will, your disobedience of 
    His commands, there would not have come upon you a correction so painful and 
    humiliating. But where in your sorrow will you repair? To the solace and 
    sympathy of whose heart will you betake yourself? Will you flee from that 
    Father? Will you evade His eye, and shun His presence? Eternal love forbids 
    it! What then? You will hasten and throw yourself in His arms, and fall upon 
    His bosom, confessing your sins, and imploring His forgiveness. Thus taking 
    hold of His strength, with that displeased and chastening Father you are in 
    a moment at peace. Blessed is the man, O Lord, whom You chasten, and draw 
    closer within the sacred pavilion of Your loving, sheltering bosom. Oh, what 
    an unveiling of the heart of God may be seen in a loving correction! No 
    truth in experimental religion is more verified than this, that the severest 
    discipline of our heavenly Father springs from His deepest, holiest love. 
    That in His rebukes, however severe, in His corrections, however bitter, 
    there is more love, more tenderness, and more real desire for our 
    well-being, than exists in the fondest affection a human heart ever 
    cherished. And oftentimes, in His providential dealings with His children, 
    there is more of the heart of God unfolded in a dark, overhanging cloud than 
    is ever unveiled and revealed in a bright and glowing sunbeam. But this 
    truth is only learned in God's school. <br>
&nbsp; </p>
    <p align="justify">APRIL 16. </p>
    <p align="justify">&quot;The law was our school-master to bring us unto Christ.&quot; 
    Galatians 3:24 </p>
    <p align="justify">In the school of the law, the first and the grand lesson 
    which the sinner learns is his sin, his curse, and his condemnation. There 
    he is convinced of his vileness, convicted of his guilt, and learns his 
    poverty, helplessness, and hell-deserving. All the fond conceit of his own 
    worthiness, strength, and fitness, vanishes as a vapor, and he sees himself 
    in the power, under the curse, and exposed to the tremendous condemnation of 
    God's righteous, broken, avenging law. Thus convicted in the very act of his 
    rebellion against God, he is brought, like a felon, into the presence of 
    Jesus. There he stands, pale and trembling, his witnesses many and loud, 
    while his own awakened conscience pleads guilty to the charge. <br>
    Are you that soul, dear reader? Has the law arrested and brought you within 
    Christ's court? Oh, you never were in such a position before- so new, so 
    strange, so blessed! It may be, you never felt yourself so near hell as now, 
    under the sentence of God's law; but you never were so near heaven as now, 
    in the presence of Jesus. You are now in that court where justice to the 
    fullest is honored, and where mercy to its utmost is extended. You are in 
    Christ's court, at Christ's bar- awaiting the sentence of Him who was made 
    under that law, fulfilled its precepts, and endured its penalty to the 
    uttermost. You are in the presence of Him who came to deliver sinners from 
    its curse and woe, and to raise them far above the reach of all 
    condemnation. Never were you so sensible of your guilt and ruin as now, yet 
    never were you so near the fountain that cleanses from all sin, or so close 
    to Him who was pierced to shelter the vilest of the vile. Your judge is your 
    Savior. He who sits upon that throne is He who hung upon the cross. You are 
    arraigned in the presence and are thrown upon the mercy of Him, the delight 
    of whose heart, and the glory of whose character, it is to save sinners; 
    whose love for them induced Him to screen His glory, and to appear in 
    humiliation- to suffer, bleed, and die. You are in the presence of Him who, 
    though He has ascended on high, and is now glorified with the glory &quot;he had 
    with the Father before the world was,&quot; is yet engaged in securing the 
    precious fruits of His soul's travail. <br>
    Look up, poor soul! for &quot;your redemption draws near.&quot; Never yet did he allow 
    a sin-accused, self-condemned sinner, to go out of this court unblessed, 
    unsaved. <br>
&nbsp; </p>
    <p align="justify">APRIL 17. </p>
    <p align="justify">&quot;If you love me, keep my commandments.&quot; John 14:15 </p>
    <p align="justify">As King in Zion, our adorable Lord Jesus delights to 
    reign over a loving and an obedient people. Thus He has made their obedience 
    to His commands a test of their love to His person- &quot;If you love me, keep my 
    commandments.&quot; &quot;Teaching them to observe all things whatever I have 
    commanded you,&quot; was the last charge given to His disciples. Now it is this 
    keeping of His commandments, this observance of what He has enjoined, that 
    glorifies Him in His saints. Coming to Him in our ignorance glorifies Him as 
    Prophet; coming to Him with our guilt glorifies Him as Priest; and walking 
    obediently to His precepts glorifies Him as King. It places the crown upon 
    the head of His sovereignty, it recognizes the spiritual nature of His 
    kingdom, and it upholds the purity, majesty, and authority of His laws. It 
    becomes, then, the solemn and imperative duty of every believer to search 
    the will and testament of his dying, risen, and exalted Lord, to ascertain 
    all that He has enjoined upon his obedience in the way of precept and 
    command. For how can he be a good and an obedient subject, if he does not 
    understand the laws of Christ's kingdom? Then, when the precept is clearly 
    revealed, and the command is distinctly made known, immediate, self-denying, 
    and cheerful obedience is to follow, as that path which, while it insures 
    the sweetest peace to the soul, brings the highest glory to Christ. Let 
    yours be an obedient walk, dear reader! Let your obedience be the fruit of 
    faith, the dictate of love. Permit no reserve in your obedience; let it be 
    full, honest, and complete. Search the New Testament Scripture, and examine 
    closely your own walk, and ascertain in what particular your obedience to 
    Christ is deficient. Be upright, honest, and sincere in your inquiry. Let 
    your fervent prayer be, &quot;Lord, what will You have me to do? Is there any 
    precept of Your word slighted, any, command disobeyed, any cross not taken 
    up? Is there any desire to withhold my neck from Your, yoke, or to withdraw 
    my shoulder from Your burden, or to mark out a smoother path than that which 
    You have chosen and bade me walk in? Is there any secret framing of excuse 
    for my disobedience, any temporizing, any carnal feeling, any worldly 
    motive, any fear of man, any shrinking from consequences? Lord, You know all 
    things, You know that I love You. You are precious to my soul, for You have 
    borne my sins, endured my curse, carried my cross; and in return do only 
    ask, as an evidence of how much I owe, and how much I love, that I should 
    keep Your commandments, and follow Your example. Now, Lord, take my poor 
    heart, and let it be Your, Your wholly, and Your forever. Let Your sweet 
    love constrain me to run in the way of Your commandments, for this will I 
    do, when You shall enlarge my heart.&quot; Then will follow the precious fruits 
    of obedience, even as the bud expands into the blossom, and the blossom 
    ripens into the fruit. There will be a growth, a delightful expansion of the 
    life of God in the soul; and with the increase of the divine life, there 
    will be an increase of all the precious &quot;fruits of the Spirit.&quot; See that 
    your Redeemer is glorified in your obedience; that for the happiness of your 
    soul, and for the honor of Christ, you &quot;stand complete in all the will of 
    God.&quot; <br>
&nbsp; </p>
    <p align="justify">APRIL 18. </p>
    <p align="justify">&quot;Is not this the carpenter's Son?&quot; Mark 6:3 </p>
    <p align="justify">The attending circumstances of His birth, and the 
    subsequent events of His life, entered deeply into the fact of His 
    abasement. In each step that He took, He did seem to say, &quot;I was born to 
    humiliation and suffering; therefore I came into the world.&quot; His parents 
    were poor, of lowly extraction, and humble occupation. Until the age of 
    thirty, He lived a life of entire seclusion from the world; and as He was 
    &quot;subject unto His parents,&quot; doubtless His early years were employed in 
    assisting His father in his lowly calling; thus, with His own hands, 
    ministering to His temporal necessities. For, be it remembered, it was a 
    material part of the original curse pronounced by God on man, &quot;In the sweat 
    of your face shall you eat bread.&quot; Jesus was made under the law, that He 
    might endure the curse; that curse He fully sustained. There was not a part, 
    the bitterness of which He did not taste, and the tremendousness of which He 
    did not endure; and that for His elect's sake. It were no fanciful idea, 
    therefore, to suppose, that in this feature of the curse our Lord personally 
    entered; that this part of the penalty of human transgression He fully paid; 
    and that, in early life, by the sweat of His brow, He did literally provide 
    for His own temporal sustenance. Oh touching view of the humiliation of the 
    Son of God! How does it dignify the most lowly occupation, sweeten the 
    heaviest trial, and lighten the deepest care, to reflect, &quot;thus lived, and 
    labored, and toiled, the Incarnate God!&quot; <br>
    His riper years were marked by corresponding lowliness. The curse tracked 
    His every step, pressing its claims, and exacting its penalties, to the last 
    moment of existence. What were all His excessive privations, but parts of 
    the same? No home sheltered Him- no domestic comforts cheered Him- no smile 
    of fondness greeted Him- no hand of affection welcomed Him- &quot;The Son of man 
    has not where to lay His head,&quot; was the heart-rending acknowledgment 
    extracted from His lips. And when a day of exhausting toil had closed upon 
    Him- a day spent in journeying from village to village, and from house to 
    house, preaching the kingdom, healing all manner of diseases, supplying the 
    needs, alleviating the sufferings, and soothing the cares of others- He 
    would retire, lonely and unrefreshed, to the bleak mountain, and spend His 
    long sleepless night in unremitting prayer for His Church! O adorable and 
    adored Jehovah-Jesus! was ever humiliation and love like yours? <br>
&nbsp; </p>
    <p align="justify">APRIL 19. </p>
    <p align="justify">&quot;They shall call his name, Emmanuel, which being 
    interpreted is, God with us.&quot; Matthew 1:23 </p>
    <p align="justify">Apart from the doctrine of the supreme Godhead of Christ, 
    upon what mere sand do men build their hope of heaven; what dreams, what 
    shadows are all their expectations of eternal life! The Divinity of Jesus 
    denied or rejected, all that is precious and valuable in His death is 
    reduced to a mere negation. What would be His obedience to the law, if 
    reduced to a mere finite obedience? What would be His endurance of its 
    penalty upon the cross, if a 'creature' only were suffering? How could 
    either meet the claims of God's moral government, sustain His holiness, 
    satisfy His justice, and present Him to our view- just to Himself, and yet 
    the justifier of him that believes? Never! If your acceptance as a sinner 
    with this holy Lord God is based on any other righteousness than the 
    &quot;righteousness of God,&quot; you are lost, and that to all eternity! A 'created' 
    Savior! Oh, wretched fantasy! A finite Redeemer! Oh awful and malignant 
    scheme of Satan to drown men's souls in perdition! <br>
    But to the true believer how glorious, invaluable, and precious is this 
    truth! What a rock does he stand upon, whose faith rests upon the Godhead of 
    Christ! He sees in His blood and righteousness the infinite dignity and 
    worth of the God-Man Mediator. All that he needs as a poor, guilty, undone 
    sinner he finds here. A righteousness that fully acquits him from all the 
    charges of law; a fountain that cleanses him from all the pollution of sin; 
    a Savior, not mighty only, but almighty, to carry his sorrows, bear his 
    burdens, and strengthen him for the conflicts and the difficulties of the 
    pilgrimage. Look up, then, O believer! and fasten the eye of your faith upon 
    the eternal glory of your covenant Head. Your salvation is secured by an 
    Almighty Redeemer, who is able to keep that which you have committed unto 
    Him against the day when He will make up His peculiar treasure. <br>
&nbsp; </p>
    <p align="justify">APRIL 20. </p>
    <p align="justify">&quot;And the angel of the Lord appeared unto him in a flame 
    of fire out of the midst of a bush; and he looked, and behold the bush 
    burned with fire, and the bush was not consumed.&quot; Exodus 3:3 </p>
    <p align="justify">This remarkable incident in the history of God's ancient 
    Israel is illustrative of most important truth, bearing upon the 
    experimental and practical experience of each believer in Jesus. It presents 
    a true and beautiful outline of the Church of God. We are reminded of the 
    two opposite natures of the believer- the fallen and the restored, the 
    fleshly and the spiritual. The one low, sinful, unlovely, and of the earth- 
    earthly; the other elevated, holy, glorious, and of heaven- heavenly. &quot;That 
    which is born of the flesh is flesh; that which is born of the Spirit is 
    spirit.&quot; <br>
    The conflict between these opposite and antagonist natures in the child of 
    God is also presented to view. As the bush in which the Divinity dwelt was 
    surrounded by flame, so the regenerated man, in whom the eternal God deigns 
    to dwell by His spirit, is perpetually encircled by the fire of conflict, 
    trial, and suffering. Nature and grace, sin and holiness, are as contrary 
    the one to the other as any two principles can be. They can no more agree, 
    commingle, or coalesce, than can the opposite and antagonist elements in the 
    natural world. Nor can there ever be a truce between them. They must 
    necessarily and perpetually be at variance, hostile to and at war one with 
    the other. The contest is for supremacy. The great question at issue is, 
    &quot;which shall reign in the believer- sin or holiness; nature or grace; Satan 
    or God?&quot; Oh, what a fiery conflict is this! Hear the confession of an 
    inspired apostle, drawn from his own painful experience: &quot;I am carnal, sold 
    under sin. For that which I do, I allow not; for what I would, that I do 
    not; but what I hate, that do I.&quot; Who cannot trace the conflict here? Sin he 
    deeply, inveterately abhorred. The prevailing tendency, the habitual and 
    fixed inclination, of his renewed mind was to holiness- the bent of his 
    desires was towards God. And yet, in consequence of the native depravity of 
    his heart, the influence of sinful propensities, corrupt inclinations and 
    desires, he felt like one chained to a body of death, from which he longed 
    to be delivered. Here was that which defined the two natures, marked the 
    perpetual conflict between both, and which distinguished the holy man from 
    the sinner. <br>
    In addition to this spiritual conflict, there are the flames of suffering 
    and trial which often encircle a dear child of God. This is the baptism of 
    fire, connected with, and ever following, the baptism of the Holy Spirit. 
    &quot;He shall baptize you,&quot; says John, &quot;with the Holy Spirit, and with fire.&quot; 
    God has His &quot;fire in Zion, and his furnace in Jerusalem.&quot; But it is not the 
    furnace of justice, nor the fire of wrath. Jesus, the surety, has passed 
    through and sustained all this; He has quenched its flame, and extinguished 
    its embers. But it is the discipline of everlasting love and mercy. And 
    though persecution may be permitted to rage, and the confessor of Christ may 
    ascend, to glory in a chariot of fire- though trials of various kinds may 
    overtake the child of God, his grace and his graces &quot;tried with fire,&quot;- yet 
    both the persecution of the Church and the trial of the believer are but the 
    fruit of eternal and unchangeable love; and will prove purifying, 
    sanctifying, and saving. Nothing will be consumed but the tinsel of the 
    world and the dross of sin, the alloy so much and so frequently found mixed 
    with the pure gold. <br>
&nbsp; </p>
    <p align="justify">APRIL 21. </p>
    <p align="justify">&quot;I will now turn aside and see this great sight, why the 
    bush is not burned.&quot; Exodus 3:3 </p>
    <p align="justify">Contemplate one more surpassing and precious truth- the 
    Church is unconsumed! And why? Because He who dwelt in the bush dwells in 
    the Church. The believer is the temple of the Holy Spirit. The High and 
    Lofty One that inhabits eternity, whose name is Holy, dwells in him. Christ 
    is in him the hope of glory. It is impossible that he can perish. Why has 
    not the poor feeble bush been consumed? why has not grace declined, and 
    faith failed, and love become totally extinguished? why has not the &quot;fiery 
    dart&quot; of Satan prevailed, and the fierce and hot flame of persecution and of 
    trial utterly consumed? Because greater is He that is in the believer than 
    he that is in the world. Believer in Jesus! tell me not only of the sin that 
    dwells in you, often bringing your soul into bondage and distress; tell me 
    also of the grace that dwells in you, which as often gives you the victory, 
    and sends you rejoicing on your way. Tell not only of the burning fiery 
    furnace seven times heated; tell also of Him whose form is like the Son of 
    God, who is with you in the furnace, and who has brought and who yet will 
    bring you through, with not a hair of your head singed, nor the smell of 
    fire passed upon your garments. Tell not only of the &quot;trial of your faith,&quot; 
    &quot;though it be tried with fire,&quot; but that also, through the ceaseless 
    intercession of Jesus within the veil, that faith never yet has failed. Tell 
    not only of the burden that has oppressed, tell also of the grace that has 
    sustained- not only of the sorrow that has wounded, but also of the divine 
    sympathy, tenderness, and gentleness that have soothed and comforted, bound 
    up and healed that wound. Oh, to hear more frequently the shout of victory 
    and the song of praise breaking in sweet music from the lips of the 
    redeemed! How much more would Jesus be glorified! <br>
&nbsp; </p>
    <p align="justify">APRIL 22. </p>
    <p align="justify">&quot;Surely he has borne our griefs, and carried our 
    sorrows.&quot; Isaiah 53:4 </p>
    <p align="justify">In order to the perfection of His character as the High 
    Priest of His people, as the Brother born for adversity, in order to be 
    &quot;touched with the feeling of our infirmities,&quot; He must Himself suffer. He 
    must know from painful experience what sorrow meant- what a wounded spirit 
    and a broken bleeding heart, a burdened and a beclouded mind, were. In this 
    school He must be taught, and disciplined, and trained; He must &quot;learn 
    obedience by the things which He suffered;&quot; He must be made &quot;perfect through 
    sufferings.&quot; And oh, how deeply has He been taught, and how thoroughly has 
    He been trained, and how well has He learned thus to sympathize with a 
    suffering Church! You have gone, it may be, with your trouble to your 
    earthly friend; you have unfolded your tale of woe, have unveiled every 
    feeling and emotion. But, ah! how have the vacant countenance, the wandering 
    eye, the listless air, the cold response, told you that your friend, with 
    all his love, could not enter into your case! The care that darkened your 
    brow had never shaded his- the sorrow that lacerated your heart had never 
    touched his- the cup you were drinking he had never tasted. What was 
    lacking? Sympathy, growing out of an identity of circumstance. You have gone 
    to another. He has trod that path before you, He has passed through that 
    very trouble, His spirit has been accustomed to grief, His heart schooled in 
    trial, sorrow in some of its acutest forms has been His companion; and now 
    He is prepared to bend upon you a melting eye, to lend an attentive ear and 
    a feeling heart, and to say, &quot;Brother, I have known all, I have felt all, I 
    have passed through all- I can sympathize with all.&quot; That Friend of friends, 
    that Brother of brothers, is Jesus. He has gone before you; He has left a 
    fragrance on the brim of that very cup you are now drinking; He has bedewed 
    with tears and left the traces of His blood on that very path along which 
    you are now walking; He has been taught in that very school in which you are 
    now learning. Then what encouragement to take your case, in the sweet 
    simplicity of faith, and lay it before the Lord! to go and tell Jesus, 
    confessing to Him, and over Him, the sin which has called forth the 
    chastisement, and then the grief which that chastisement has occasioned. 
    What a wonderful High Priest is Jesus! As the bleeding Sacrifice, you may 
    lay your hand of faith upon His head, and acknowledge your deepest guilt; 
    and, as the merciful Priest, you may lay your head on His bosom, and 
    disclose your deepest sorrow. O my precious Savior! must You sink to this 
    deep humiliation, and endure this bitter suffering, in order to enter into 
    my lonely sorrow! <br>
&nbsp; </p>
    <p align="justify">APRIL 23. </p>
    <p align="justify">&quot;Little children, keep yourselves from idols.&quot; 1 John 
    5:21 </p>
    <p align="justify">An idolatrous and unsanctified attachment to the creature 
    has again and again crucified love to Christ in the heart. Upon the same 
    principle that no man can love the world and God with a like supreme and 
    kindred affection, so no man can give to Christ and the creature the same 
    intensity <br>
    of regard. And yet, how often has the creature stolen the heart from its 
    lawful Sovereign! That heart that was once so simply and so supremely the 
    Lord's, those affections that clung to Him with such purity and power of 
    grasp, have now been transferred to another and an inferior object; the 
    piece of clay that God had given but to deepen the obligation, and heighten 
    the soul's love to Himself, has been molded into an idol, before which the 
    heart pours its daily incense; the flower that He has caused to spring forth 
    but to endear His own beauty, and make His own name more fragrant, has 
    supplanted the &quot;Rose of Sharon&quot; in the bosom. Oh! is it thus that we abuse 
    our mercies? is it thus that we convert our blessings into poisons? that we 
    allow the things that were sent to endear the heart of our God, and to make 
    the cross, through which they came, more precious, to allure our affections 
    from their holy and blessed center? Fools that we are, to love the creature 
    more than the Creator! <br>
    Dear reader, why has God been disciplining you as it may be, He has? why has 
    He removed your idols, crumbled into dust your piece of clay, and blown 
    witheringly upon your beauteous flower? Why? Because He hates idolatry; and 
    idolatry is essentially the same, whether it be offered to a lifeless, 
    shapeless stock, or to a being of intellect and beauty. And what does His 
    voice speak in every stream that He dries, in every plant that He blows 
    upon, and in every disappointment He writes upon the creature? &quot;My son, give 
    me your heart. I want your love, your pure and supreme affection; I want to 
    be the one and only object of your delight. I gave my Son for you- His life 
    for yours; I sent my Spirit to quicken, to renew, to seal, and possess you 
    for myself; all this I did that I might have your heart. To possess myself 
    of this, I have smitten your gourds, removed your idols, broken your earthly 
    dependences, and have sought to detach your affections from the creature, 
    that they may arise, undivided and unfettered, and entwine around One who 
    loves you with an undying love.&quot; <br>
&nbsp; </p>
    <p align="justify">APRIL 24. </p>
    <p align="justify">&quot;Precious faith.&quot; 2 Peter 1:1 </p>
    <p align="justify">Truly is faith the crowning grace of all, and a most 
    costly and precious fruit of the renewed mind. From it springs every other 
    grace of a gracious soul. It has been designated the 'queen' grace, because 
    a royal train ever attends it. Faith comes not alone, nor dwells alone, nor 
    works alone. Where faith in Jesus is, there also are love, joy, peace, 
    long-suffering, patience, godly sorrow, and every kindred perfection of the 
    Christian character, all blending in the sweetest harmony, all uniting to 
    celebrate the glory of God's grace, and to crown Jesus Lord of all. Is it, 
    then, surprising that this should be distinguished from all the others by 
    the term &quot;precious faith&quot;? No! that must needs be precious which unfolds the 
    preciousness of everything else. It makes the real gold more precious, and 
    it transmutes everything else into gold. It looks to a &quot;precious Christ&quot; It 
    leads to His &quot;precious blood.&quot; It relies upon the &quot;precious promises.&quot; And 
    its very trial, though it be by fire, is &quot;precious.&quot; It so changes the 
    nature of the painful, the humiliating, and the afflictive, as to turn a 
    Father's frown, rebuke, and correction, into some of the costliest mercies 
    of life. Precious grace, that bids me look upon God in Christ as reconciled; 
    and which, in the absence of all evidence of sight, invites me to rest upon 
    the veracity of God! which takes me in my deepest poverty to Jesus, my true 
    Joseph, having in His hands and at His disposal all the treasures of grace 
    and glory! These are some of the characteristics of this royal grace. &quot;Being 
    justified by faith, we have peace with God, through our Lord Jesus Christ.&quot; 
    By faith I can not only say that Jesus died for sinners, but that He died 
    for me. Faith makes the great atonement mine. Faith appropriates to itself 
    all that is in Christ. It lays its hand upon the covenant of grace, and 
    exclaims, &quot;All things are mine.&quot; Oh, to see one bowed to the dust under a 
    sense of sin, yet by faith traveling to the blood and righteousness of the 
    Lord Jesus for salvation, and finding it too- to mark the power of this 
    grace in sustaining the soul in deep waters, holding it up in perilous 
    paths- is a spectacle on which God Himself must look down with ineffable 
    delight. <br>
&nbsp; </p>
    <p align="justify">APRIL 25. </p>
    <p align="justify">&quot;Do you believe on the Son of God?&quot; John 9:35 </p>
    <p align="justify">The application of this question, reader, must be to your 
    conscience. Have you &quot;like precious faith&quot; with that which we have attempted 
    to describe? Alas! it may be that you are that tree which brings not forth 
    this good fruit. Yours may be a species of fruit somewhat resembling it; but 
    do not be deceived in a matter so momentous as this. &quot;You believe that there 
    is one God; you do well: the devils also believe, and tremble.&quot; That is, you 
    assent to the first proposition of true religion- the being of God; this is 
    well, because your judgment assents to that which is true. And still you 
    have not gone beyond the faith of demons! They believe, and yet horror 
    inconceivable is but the effect of the forced assent of their minds to the 
    truth- they &quot;tremble.&quot; Oh, look well to your faith! There must be, in true 
    faith, not only an assent, but also a consent. In believing to the saving of 
    the soul, we not only assent to the truth of the word, but we also consent 
    to take Christ as He is there set forth- the sinner's reconciliation with 
    God. A mere intellectual illumination, or a historical belief of the facts 
    of the Bible, will never place the soul beyond the reach of hell, nor within 
    the region of heaven. There is a &quot;form of knowledge,&quot; as well as a &quot;form of 
    godliness;&quot; and both existing apart from vital religion in the soul 
    constitute a &quot;vain religion.&quot; Again we press upon you the important inquiry, 
    Have you the &quot;faith of God's elect&quot;? Is it a faith that has stained the 
    glory of self-merit, and laid the pride of intellect in the dust? Is it 
    rooted in Christ? Has it transformed you, in some degree, into the opposite 
    of what you once were? Are any of the &quot;precious fruits&quot; of the Spirit put 
    forth in your life? Is Jesus precious to your soul? And to walk in all 
    circumstances humbly with God- is it the earnest desire of your heart? If 
    there is no sorrow for sin, no going out of yourself to Jesus, no fruits of 
    holiness, in some degree, appearing, then is yours but a &quot;dead faith,&quot;- 
    dead, because it is a part and parcel of a nature &quot;dead in trespasses and in 
    sins,&quot;- dead, because it is not the fruit of the quickening Spirit- dead, 
    because it is inoperative, even as the lifeless root transmits no vitality 
    and moisture to the tree- dead, because it never can bring you to eternal 
    life. Of what value, then, is it? Cut it down! why should it use up the 
    ground? If, then, you have never brought forth the good fruit of prayer, and 
    repentance, and Faith, you are yet in the old nature of sin of rebellion, 
    and of death. <br>
&nbsp; </p>
    <p align="justify">APRIL 26. </p>
    <p align="justify">&quot;For through him we both have access by one Spirit unto 
    the Father.&quot; Ephesians 2:18 </p>
    <p align="justify">What is prayer? It is the communion of the spiritual life 
    in the soul of man with its Divine Author; it is a breathing back the divine 
    life into the bosom of God, from where it came; it is holy, spiritual, 
    humble converse with God. That was a beautiful remark of a converted 
    heathen- &quot;I open my Bible, and God talks with me; I close my Bible, and then 
    I talk with God.&quot; Striking definition of true prayer! It is a talking with 
    God as a child talks with his father, as a friend converses with his friend: 
    &quot;And the Lord talked with Moses.&quot; Let it be remembered, then, that true 
    prayer is the aspiration of a renewed soul towards God; it is the breathing 
    of the divine life, sometimes in the accents of sorrow, sometimes as the 
    expression of need, and always as the acknowledgment of dependence; it is 
    the looking up of a renewed, afflicted, necessitous, and dependent child to 
    its own loving Father, in all the consciousness of utter weakness, and in 
    all the sweetness of filial trust. <br>
    Who is the object of prayer? Jehovah, the Lord of heaven and earth; to Him, 
    as the Three in One, does true prayer only address itself. He alone has an 
    ear to hear our tale of sorrow; an arm than can support in time of need; and 
    a heart that can sympathize with our deep necessity. The high and lofty One, 
    that inhabits eternity, whose name is Holy, who is the Creator and Governor 
    of all worlds, who bears up the pillars of the universe, to whom all the 
    powers in heaven, in earth, and in hell are subject, He is the glorious 
    object to whom we address ourselves in prayer. <br>
    Not less amazing is the medium of prayer- what is it? Not a creature, 
    dependent as ourselves; but the Lord Jesus Christ, the Son of God, equal in 
    might, majesty, and dominion with the Father, and yet the Elder Brother, the 
    slain Lamb, the Mediator and Surety, the High Priest of His people. Prayer 
    finds acceptance within the veil, only as it is presented in the name of 
    Jesus. The voice that speaks there, in behalf of the lowly suppliant, is the 
    voice of Immanuel's blood; this is the &quot;new and living way,&quot;- this is the 
    plea that prevails, this is the argument that moves Omnipotence itself. He 
    who pleads the blood of Jesus in prayer may have ten thousand tongues all 
    pleading against him, but &quot;the blood of Jesus speaks better things,&quot; and 
    drowns their every voice. Oh precious, costly medium of prayer! <br>
    Marvellous, too, is the Author of prayer- who is He? The apostle informs us: 
    &quot;Likewise the Spirit also helps our infirmities; for we know not what we 
    should pray for as we ought; but the Spirit itself makes intercession for 
    us, with groanings which cannot be uttered.&quot; Thus is it the Holy Spirit who 
    begets the desire, indites the petition, and breathes it forth in prayer 
    through Christ to God. What a sublime exercise, then, is prayer! The 
    outgoing of the divine life in the soul is its nature- Jehovah its object- 
    the Lord Jesus its medium- and the Holy Spirit its author. Thus the blessed 
    Trinity is unity is engaged in the great work of a sinner's approach unto 
    God. <br>
&nbsp; </p>
    <p align="justify">APRIL 27. </p>
    <p align="justify">&quot;Jesus Christ the same yesterday, and today, and 
    forever.&quot; Hebrews 13:8 </p>
    <p align="justify">You will make no advance in the divine life, if your eye 
    is ever upon yourself instead of Christ. What though the experience of today 
    is the opposite of the experience of yesterday- yesterday all brightness, 
    today all cloudiness; yesterday your soul like a well-tuned psalm, today 
    every string loosed and breathing no melody; yesterday, Jesus felt to be so 
    near and precious, today seeming to awaken not a loving emotion in your 
    heart; yesterday, communion with God so sweet, today, none whatever; 
    yesterday, desiring to walk uprightly, holily, and humbly, today detecting 
    so much that is vacillating, weak, and vile. Nevertheless, Jesus is not 
    changed. The work of Christ is the same- your acceptance in Him is the same- 
    His intercession in heaven for you is the same; then, where should you fly 
    to spiritual experiences for support, strength, and consolation- rising when 
    they rise, falling when they fall- when all your standing, joy, peace, and 
    hope are entirely out of yourself, and are solely in Christ? What though you 
    change a thousand times in one day? He never changes. God may vary His 
    dispensations- He may alter His mode of dealing- He may change the nature of 
    His discipline - He may vary the lesson, but His loving-kindness and His 
    truth are as unchangeable as His very being. He may dry up the earthly 
    cistern, but He will never seal up the heavenly fountain! -that will flow on 
    in grace through all time, and in glory through all eternity. <br>
&nbsp; </p>
    <p align="justify">APRIL 28. </p>
    <p align="justify">&quot;For he has made him to be sin for us, who knew no sin; 
    that eve might be made the righteousness of God in him.&quot; 2 Corinthians 5:21
    </p>
    <p align="justify">My reader, it is your highest honor, as it was His 
    deepest shame; your richest glory, as it was His deepest humiliation; that 
    He literally did bear all the sins of all His Church. As truly as we are 
    &quot;made the righteousness of God in Him,&quot; He was &quot;made sin,&quot; or a 
    sin-offering, for us. Behold how beautifully has the Holy Spirit brought out 
    the doctrines of substitution and union. Of substitution thus, &quot;He has made 
    Him (who knew no sin) to be sin for us.&quot; And of union thus, &quot;that we might 
    be made the righteousness of God in Him.&quot; Oh amazing truth! Sinking to our 
    deepest dishonor, He raises us to His highest glory. Sinking Himself with 
    our fallen humanity, He raises us to a union with God. Substituting Himself 
    for us, He makes us one with Himself. An affecting thought! Were all our 
    iniquities, and all our &quot;transgressions in all our sins,&quot; laid on Jesus? 
    Yes, all! Before His infinite mind, to whom the past and the future are one 
    eternal now, the sins of all His chosen ones, to the remotest period of 
    time, passed in review, and were made to meet on the head of the atoning 
    Lamb. Here is opened the high source of all real blessed ness to a believing 
    soul. Sweet is the spring, and sweet are the streams that flow from it. 
    Reconciliation with God- His free forgiveness- union with His nature- 
    adoption into His family- acceptance in the Beloved- oneness with a risen 
    Head- access within the veil- filial and perpetual communion- and the &quot;peace 
    of God, which, passes all understanding,&quot; are among the costly results of 
    Christ bearing sin. And see how completely He has borne the mighty load. The 
    moment our iniquities touched Him, it would seem as though He flung them to 
    an infinite distance, or sunk them to an infinite depth. Never, in point of 
    law and justice, can they appear against the pardoned soul. Laid upon our 
    Surety, condemned, and punished, and pardoned in Him, &quot;there is now no 
    condemnation&quot; of, or for sin, to &quot;those who are in Christ Jesus.&quot; How strong 
    is the language which declares this truth: &quot;I have blotted out as a thick 
    cloud your transgressions, and as a cloud your sins;&quot; &quot;You have cast all my 
    sins behind Your back;&quot; &quot;Thus says the Lord, The iniquity of Israel shall be 
    sought for, and there shall be none; and the sins of Judah, and they shall 
    not be found.&quot; And why? &quot;Behold the Lamb of God, that takes away the sin of 
    the world!&quot; And may we not account as among the most precious and costly 
    blessings resulting from this truth, its sanctifying tendency? My beloved, 
    the deepest view you can ever have of God's hatred of sin is in the cross of 
    Calvary; and the deepest sense of the &quot;exceeding sinfulness of sin&quot; you can 
    ever feel is its entire pardon, imprinted on your heart with the atoning 
    blood of Jesus, and witnessed by the power and grace of the Holy Spirit. You 
    hate it because it is forgiven; you abhor it because it is pardoned. Oh, 
    powerful and precious motive to holiness! My soul, yield yourself to its 
    sweet influence, draw your constraints to a life of deeper sanctification 
    from the cross; thirst and pant with more intense desire after Divine 
    conformity, as one all whose iniquities, transgressions, and sins are 
    forever cancelled by the heart's blood of God's dear Son. Oh hateful and 
    hated sin, atoned for so richly, pardoned so freely, blotted out so 
    entirely, how can I admire you? how can I love you? how can I cherish you? 
    and how can I yield to you now? You did burden and bow down to the earth the 
    soul of my blessed Lord. You did mar the beauty, and veil the glory, and 
    humble the spirit of my Beloved. You did crimson His body with the bloody 
    sweat- you did wreath His brow with thorns- you did trouble his soul even 
    unto death; and yet you, my transgressions, are forgiven- you, my sins, are 
    covered- you, my iniquities, are not imputed, and that because Jesus, my 
    surety, was wounded, and bruised, and stricken for me! <br>
&nbsp; </p>
    <p align="justify">APRIL 29. </p>
    <p align="justify">&quot;You are complete in Him.&quot; Colossians 2:10 </p>
    <p align="justify">Here is a truth, the vastness of which is only equaled by 
    its unspeakable preciousness. The Lord Jesus is the life of our acceptance 
    with God. We stand as believers in the righteousness of a living Head. 
    Within the veil He has entered, &quot;now to appear in the presence of God for 
    us,&quot; presenting all His people each moment complete in Himself. It is a 
    present justification. &quot;You are complete in Him,&quot; &quot;accepted in the Beloved,&quot; 
    &quot;justified from all things.&quot; Perfection in himself the enlightened soul 
    utterly repudiates. Completeness in anything that he is, or has done, he 
    totally rejects. Incomplete his deepest repentance- incomplete his strongest 
    faith- incomplete his best obedience- incomplete his most costly sacrifice- 
    low in the lowest dust does he lay himself. Too wretched he cannot think 
    himself-&nbsp; too little he cannot be in his own eyes. Language fails to 
    express the deep self-loathing and sin-abhorrence of his soul. But lo! a 
    voice is heard- oh, it falls upon his ear like the music of the spheres- 
    &quot;You are complete in Him.&quot; In one moment all is peace. The believing soul 
    ceases from his works- the weary spirit enters into rest, because, 
    believing, it enters into Jesus. In Christ he now stands complete. His 
    pardon complete- his justification complete- his adoption complete- his 
    whole person complete before a holy God! Is not this a vast truth? and is it 
    not a glorious one? Where is the doctrine that exceeds it? Where is the 
    declaration that has in it such life as this? Dear reader, it may be you 
    have long been looking at yourself for some one thing complete. Something- 
    in your judgment you may reject the thought, yet in your heart there is that 
    principle which has been looking for something in yourself to commend you to 
    God- something to make you more acceptable to, more welcomed by, Him. But 
    behold where your completeness is found- in, and solely in, Christ. Oh 
    precious truth! A poor, vile sinner, standing before a holy God, complete in 
    righteousness! the object of His infinite love and delight, over whom He 
    rejoices with singing. Oh, how divine, how finished, how glorious must that 
    righteousness be, which so covers your soul as to present you before a God 
    of immaculate purity, &quot;without a spot, or wrinkle, or any such thing!&quot; <br>
&nbsp; </p>
    <p align="justify">APRIL 30. </p>
    <p align="justify">&quot;You have received the Spirit of adoption.&quot; Romans 8:15
    </p>
    <p align="justify">The Spirit of adoption is the same as the Spirit of God. 
    There are two essential features which identify Him as such. The first is, 
    He imparts the nature of the Father to all the children of the family. In 
    this there is a wide difference between a human and a Divine adoption. Man 
    can only confer his name and his inheritance upon the child he adopts. But 
    in the adoption of God, to the name and inheritance of God is added the 
    Divine nature, imparted in regeneration; so that, in the words of our Lord, 
    we become manifestly the &quot;children of our Father who is in heaven.&quot; The 
    second feature is- having begotten the nature of the Father, He then 
    breathes the spirit of the child into the heart. He inspires a filial love. 
    The love which glows in the believer's heart is the affection of a child to 
    its parent. It is not a servile bondage, but a filial and free spirit. Oh 
    sweet and holy emotion! How tender and confiding, how clinging and 
    child-like is it! Such ought to be our love to God. He is our Father- we are 
    His children. Why should not our love to Him be marked by more of the 
    exquisite tenderness, and the unquestioning confidence, and the calm repose 
    of a child reclining upon a parent's breast? A child-like fear of God is 
    another inspiration of the Spirit of adoption. Love and fear are twin graces 
    in the Christian character. The Spirit of God is the Author of both; and 
    both dwell together and cooperate in the same renewed heart. It is not the 
    dread of the servant, but the holy trembling of the child, of which we 
    speak. It is a filial, loving, reverential fear. A child-like trust in God 
    also springs from the Spirit of adoption. The trust of a child is implicit, 
    affectionate, and unquestioning. Upon whose counsel may he so safely rely, 
    in whose affection may he so fully confide, upon whose fidelity may he so 
    confidently trust, as a parent's? God is your Father, O child of a divine 
    adoption, of a heavenly birth!- let your trust in Him be the result of the 
    relationship you sustain. It admits you to the closest intimacy, and invites 
    you to the most perfect confidence. You have not a need, nor an anxiety, nor 
    a grief, which is not all His own. His adoption of your person- an act of 
    His spontaneous and most free grace- pledged Him to transfer all your 
    individual interests to Himself. To these we must add a filial obedience- 
    &quot;If you love me, keep my commandments.&quot; Obedience, whether to the Savior's 
    precept, or to the Father's law, is the test of love; and love is the spring 
    of obedience. &quot;All that the Lord God has spoken to us will we do,&quot; is the 
    language of that heart where the Spirit of adoption dwells. Such are some of 
    the features of adoption.</p>
