FEBRUARY 0
    <p align="justify"><b>FEBRUARY 1. </b></p>
    <p align="justify">&quot;It is God who justifies.&quot; Romans 8:33. </p>
    <p align="justify">Behold the eternal security of the weakest believer in 
    Jesus. The act of justification, once passed under the great seal of the 
    resurrection of Christ, God can never revoke without denying Himself. Here 
    is our safety. Here is the ground of our dauntless challenge, &quot;Who shall lay 
    anything to the charge of God's elect? It is God who justifies.&quot; What can I 
    need more? What more can I ask? If God, the God of spotless purity, the God 
    of inflexible righteousness, justifies me, &quot;who is he that condemns? &quot; Sin 
    may condemn, but it is God that justifies! The law may alarm, but it is God 
    that justifies! Satan may accuse, but it is God that justifies! Death may 
    terrify, but it is God that justifies! &quot;If GOD is for us, who can be against 
    us?&quot; Who will dare condemn the soul whom He justifies? How gloriously will 
    this truth shine forth in the great day of judgment! Every accuser will then 
    be dumb. Every tongue will then be silent. Nothing shall be laid to the 
    charge of God's elect. GOD Himself shall pronounce them fully, and forever 
    justified: &quot;And those He justifies, He also glorifies.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 2. </p>
    <p align="justify">&quot;Who went about doing good.&quot; Acts 10:38. </p>
    <p align="justify">Earnestly would I endeavor to impress upon the reader 
    what Henry Martyn beautifully terms &quot;the pleasure of doing good.&quot; Next to 
    direct communion with God, the loftiest and purest source of enjoyment 
    opened to us on earth is found in the expression of human sympathy, in the 
    exercise of Christian benevolence. No selfish pleasure ever brought to the 
    heart the peace, the joy, the happiness which one solitary act of kindness 
    to another did. God is happy in the exercise of His boundless love. Angels 
    are happy in the discharge of their beneficent mission, and man is happy as 
    his affections and sympathies travel forth in quest of objects upon which 
    they may repose. Oh! the luxury of effacing one sorrow from the heart, one 
    shadow from the brow, one tear from the eye. It is in this living for the 
    good of others, especially in seeking their spiritual and eternal happiness, 
    we have found a most powerful means of advancing vital godliness in our own 
    souls. The religion of many of the Lord's people is sickly and feeble, cold 
    and gloomy, just because it is so selfish. Would they be more vigorous in 
    their souls? Would they make greater progress in the divine life? Would they 
    combat more successfully the many doubts and fears that assail them? Would 
    they have a happier, sunnier religion, walking more fully in the light of 
    the Lord's countenance? Then let them be up and doing in their Lord's 
    vineyard. Let them seek the conversion of lost sinners, the comforting of 
    poor saints, the betterment of human misery in some of its many forms, thus, 
    like their Master, going about doing good, and then would be fulfilled in 
    their souls' happy experience the precious promise: &quot;You come to the help of 
    those who gladly do right, who remember your ways.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 3. </p>
    <p align="justify">&quot;There remains, then, a rest for the people of God.&quot; 
    Hebrews 4:9. </p>
    <p align="justify">Not yet come to the heavenly rest, we still are 
    approaching it, and, oh ecstatic thought! we shall reach it at last. 
    Everything in our present course reminds us that we are nearing home, as the 
    seaweed washed from the rocks, and as the land-birds venturing from their 
    bowers and floating by the vessel, are indices to the voyager that he is 
    nearing his port. Are you bereaved? Weep not! earth has one tie the less, 
    and heaven has one tie more. Are you impoverished of earthly substance? 
    Grieve not! your imperishable treasure is in heaven. Are you sailing over 
    dark and stormy waters? Fear not! the rising flood but lifts your ark the 
    higher and nearer the mount of perfect safety and endless rest. Are you 
    battling with disease, conscious that life is ebbing and eternity is 
    nearing? Tremble not! there is light and music in your lone and shaded 
    chamber- the dawn and the chimings of your heavenly home. &quot;I am going home! 
    Transporting thought!- True, I leave an earthly one, all so sweet and 
    attractive, but I exchange it for a heavenly one infinitely brighter, more 
    sacred and precious. I am going to Jesus- to the Church Triumphant- to 
    Apostles, Prophets, and Martyrs- to the dear ones who line the shore on the 
    other side, prepared to welcome me there. Death, from which I have so often 
    recoiled, is but the triumphal arch- oh, how bright a risen Christ has made 
    it! -through which I pass into 'my Father's house.'&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 4. </p>
    <p align="justify">&quot;Who his own self bore our sins in his own body on the 
    tree,&quot; or, to the tree. 1 Peter 2:24. </p>
    <p align="justify">Blessed announcement! Not the less hateful, nor hated, is 
    the sin because it is forgiven and entirely blotted out. Oh no! Let the Lord 
    touch your heart, Christian reader, with a sense of His pardoning love, with 
    the assurance of His forgiveness, and you will go and hate, and mortify, and 
    forsake it, more resolutely and effectually than ever. And must the Son of 
    God become the Son of man, that those who are by nature children of wrath, 
    might become the sons of God! Must God, the eternal God, the high and lofty 
    One, stoop so low as to become incarnate, and that for sinners; for me, a 
    poor worthless sinner! To save me from eternal woe, must the Son of Man 
    suffer, agonize, and die; die in my stead, die for my sins, die an accursed 
    death! Ah! Lord, what must sin be, what must my sin be! How little have I 
    thought of it, how little have I mourned for it, still less have I hated it 
    as I ought to have hated it! Lord, how vile, how unutterably vile I am! Oh 
    hated sin! Do You forgive it, Father of my mercies? This only makes it more 
    hateful still. Never, never, can I forgive myself. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 5. </p>
    <p align="justify">&quot;Without Me you can do nothing.&quot; John 15:5. </p>
    <p align="justify">Oh, that the Church of Christ, and each individual 
    member, would but realize this truth; that simpler, closer, more 
    experimental views of Jesus would essentially strengthen the tone of inward 
    spirituality and comfort! The great secret of all comfort in seasons of 
    affliction is to take the affliction, as it comes, simply to Christ; and the 
    great secret of all holiness is to take the corruption, as it rises, simply 
    to Christ. It is this living upon Christ for all he needs, this going to 
    Christ under all circumstances, and at all seasons, which forms the happy 
    and holy life of a child of God. There is no other path for him to walk in. 
    The moment he turns from Christ he becomes like a vessel loosed from its 
    moorings, and driven at the mercy of the winds from billow to billow. Christ 
    must be all in all to him; friends, domestic comforts, Church privileges, 
    ordinances, means of grace, nothing must suffice for Jesus. And why does the 
    Lord so frequently discipline the soul? Why remove friends, why blight 
    domestic comforts, why rob us of Church privileges, why close up the 
    ordinances, and write death upon the means of grace? Oh, why? but to open a 
    way through which He Himself might enter the believer, and convince that 
    lonely, bereaved, and desolate heart that He is a substitute for everything, 
    while nothing shall ever be a substitute for Him. He will have the supreme 
    affection of His saints; they shall find their all in Him; and to this end 
    He sends afflictions, crosses, and disappointments, but to wean them from 
    their idols and draw them to Himself. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 6. </p>
    <p align="justify">&quot;Except a man be born again, he cannot see the kingdom of 
    God.&quot; John 3:3. </p>
    <p align="justify">Regeneration is a work standing alone and distinct from 
    all the other operations of the Divine Spirit. It is to be carefully 
    distinguished from conversion, adoption, justification, and sanctification; 
    and yet must be regarded as forming the basis and the spring-head of them 
    all. For instance, there can be no conversion without a principle of life in 
    the soul; for conversion is the exercise of a spiritual power implanted in 
    man. There can be no sense of adoption, apart from a renewed nature; for 
    adoption confers the privilege only, not the nature of sons. There can be no 
    comforting sense of acceptance in the Beloved, until the mind has passed 
    from death unto life; nor can there be the smallest advance in a conformity 
    of the will and of the affections to the image of God, while there is 
    lacking in the soul the very root of holiness. Faith is a purifying grace, 
    but faith is only found in the heart &quot;created anew in Christ Jesus.&quot; There 
    must necessarily be the spiritual renewal of the whole man, before the soul 
    can pass into an adopted, justified, and sanctified state. Reader, ponder 
    seriously this solemn truth. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 7. </p>
    <p align="justify">&quot;When He, the Spirit of truth, has come, He will guide 
    you into all truth.&quot; John 16:13. </p>
    <p align="justify">New and enlarged views of the Holy Spirit mark a 
    regenerate mind. Having received the Holy Spirit as a quickener, he feels 
    the need of Him now as a teacher, a sanctifier, a comforter, and a sealer. 
    As a teacher, discovering to him more of the hidden evil of the heart, more 
    knowledge of God, of His word, and of His Son. As a sanctifier, carrying 
    forward the work of grace in the soul, impressing more deeply on the heart 
    the Divine image, and bringing every thought and feeling and word into 
    sweet, holy, and filial obedience to the law of Jesus. As a comforter, 
    leading him, in the hour of his deep trial, to Christ; comforting, by 
    unfolding the sympathy and tenderness of Jesus, and the exceeding 
    preciousness and peculiar fitness of the many promises with which the word 
    of truth abounds for the consolation of the Lord's afflicted. As a sealer, 
    impressing upon his heart the sense of pardon, acceptance, and adoption; and 
    entering himself as the &quot;earnest of the inheritance, until the redemption of 
    the purchased possession.&quot; Oh! what exalted views does he now have of the 
    blessed and eternal Spirit- of His personal glory, His work, His offices, 
    His influences, His love, tenderness, and faithfulness! The ear is open to 
    the softest whisper of His voice; the heart expands to the gentlest 
    impression of His sealing, sanctifying influence. Remembering that He is &quot;a 
    temple of the Holy Spirit,&quot; he desires so to walk- lowly, softly, 
    watchfully, and prayerfully. Avoiding everything that would &quot;grieve the 
    Spirit,&quot; resigning every known sin that would dishonor and cause Him to 
    withdraw, the one single aim of his life is to walk so as to please God, 
    that &quot;God in all things may be glorified.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 8. </p>
    <p align="justify">&quot;He will rest in his love.&quot; Zephaniah 3:17. </p>
    <p align="justify">The marginal reading of the passage is exceedingly 
    beautiful and expressive: &quot;He will be silent because of His love.&quot; Divine 
    wrath is silent, because love has hushed it. Divine justice is silent, 
    because love has satisfied it. Sin is silent, because love has condemned it. 
    Satan is silent, because love has vanquished him. God's love has silenced 
    every voice but its own. When an accusation was brought against a poor 
    sinner in the presence of Jesus, and He was called upon to judge in the 
    case, it is recorded that He &quot;stooped down, and with His finger wrote on the 
    ground, as though He heard them not.&quot; He was silent, because of His love! 
    And have we no accusers? Ah, yes! many and just. Conscience accuses, and 
    Satan accuses, and sin accuses, and the world accuses, but Jesus does not 
    accuse; He is silent, because of His love. They condemn loudly, fiercely, 
    justly, but He never condemns. &quot;And again he stooped down and wrote on the 
    ground.&quot; Still not a word of condemnation breathed from His lips. He had 
    been wronged, He had been sinned against, His own holy law had been broken, 
    and the witnesses, many and malignant, are there to testify in truth against 
    the sinner- but Jesus is silent, and silent in His love. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 9. </p>
    <p align="justify">&quot;This sickness is not unto death, but for the glory of 
    God, that the Son of God might be glorified thereby.&quot; John 11:4 </p>
    <p align="justify">The season of sickness is the schooling of the soul. More 
    of God is unfolded then, and more of his truth is learned, than perhaps in 
    any other circumstances. Oh, how the character, and the perfections, and the 
    government of God become unfolded to his mind by the teachings of the Spirit 
    of truth! His dim views are cleared, his crude ideas are ripened, his 
    erroneous ideas are rectified; he contemplates God in another light, and 
    truth through another medium. But the sweetest effect of all is the personal 
    appropriation of God to his own soul. He can now say, &quot;This God is my God, 
    and is my Father, and is my portion forever,&quot;- words of assurance hitherto 
    strange to his lips. The promises of God were never realized as so precious, 
    the doctrines of grace were never felt to be so establishing, and the 
    precepts were never seen to be so obligatory and so sanctifying as now; 
    blessed results of a hallowed possession of the season of sickness! And what 
    a pruning of this living branch has taken place! What weanedness from the 
    engrossing claims of the earthly calling, from an undue attachment to 
    created good, from the creature, from the world, and what is the greatest 
    weanedness of all, from the wedded idol, self! What humility of mind, what 
    meekness of spirit, and self-renunciation follow! He entered that chamber as 
    a proud man; he leaves it as a little child. He went into it with much of 
    the spirit of a grasping, covetous, worldly-minded professor; he emerges 
    from it with the world under his feet: &quot;Consecration to Christ and Holiness 
    to God&quot;, written upon his substance, and engraved upon his brow. He has been 
    near to eternity! He has been looking within the veil! He has been reading 
    his own heart! He has been dealing with Christ! He has seen and felt how 
    solemn a thing it was to approach the gate of death, to enter the presence 
    of God- and from that dreadful point of vision, he has contemplated the 
    world, and life, and human responsibility, as they are; and he has come back 
    like a spirit from another sphere, clothed with all the solemnities of 
    eternity- to live now as one soon in reality to be there. Truly, his 
    sickness was &quot;for the glory of God, that the Son of God might be gloried 
    thereby.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 10. </p>
    <p align="justify">&quot;He ever lives to make intercession for them.&quot; Hebrews 
    7:25 </p>
    <p align="justify">How sweet and consolatory to the believer is this view of 
    our exalted Immanuel in the hour of bereavement- when confined to his 
    chamber of solitude, or languishing upon his bed of &quot;pining sickness&quot;! Too 
    deeply absorbed in sorrow, it may be, to give utterance to his anguished 
    spirit in prayer- his bodily frame so weakened by disease, and racked by 
    pain, as to render the mind unfit for close and connected spiritual thought- 
    oh, how sweet is then the intercession of Jesus, to know that, in the hour 
    of the soul's extremity, when human sympathy and power are exhausted, &quot;Jesus 
    has entered into heaven, now to appear in the presence of God&quot; for His 
    suffering child! And, when all utterance has failed on earth- and the heart 
    is broken- and the lips are sealed, then to look up and see our elder 
    Brother- the Brother born for our adversity- the exalted High Priest, waving 
    the golden censer before the throne, while the cloud of His atoning merit 
    goes up before the mercy-seat, bearing as it ascends the person, the name, 
    the circumstances, and the needs of the sufferer below. Precious gospel, 
    that opens to the eye of faith so sweet a prospect as this! When you cannot 
    think of Him, afflicted soul, He is thinking of you- when you cannot pray to 
    Him, He is praying for you, for &quot;He ever lives to make intercession.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 11. </p>
    <p align="justify">&quot;Every one that does righteousness is born of him.&quot; 1 
    John 2:29. </p>
    <p align="justify">Negative holiness- the abstaining from outward sins- does 
    not always describe a regenerate soul; associated with this there must be 
    the positive evidence- &quot;Every one that does righteousness is born of him.&quot; 
    Where there is life, there is action, motion, energy. The life of a 
    regenerate man is a life of the highest activity. The principles that 
    influence him are divine and heavenly; their tendency is to holy action. The 
    more we resemble Christ &quot;in righteousness and true holiness,&quot; the stronger 
    the evidence to ourselves and to others that we are born again. We possess, 
    professedly, and, if not self-deceived, actually, the life of Christ. That 
    life is holy in its tendency and vigorous in its acting. The renewed soul 
    longs for holiness. He pants for divine conformity. He rests not in the mere 
    longing; he arises and labors for the blessing; he &quot;works out his salvation 
    with fear and trembling.&quot; He prayerfully and diligently uses the means the 
    Lord of sanctification has given him for the attainment of holiness; he is 
    active in his pursuit of the blessing. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 12. </p>
    <p align="justify">&quot;Whom He did foreknow, He also did predestinate to be 
    conformed to the image of His Son.&quot; Romans 8:29. </p>
    <p align="justify">Here is the glorious pattern of a child of God. 
    Sanctification is a conformity to the image and the example of Christ. The 
    more the believer is growing like Jesus, the more he is growing in holiness. 
    And, on the contrary, the less resemblance there is to Christ in his 
    principles, in the habit of his mind, in his spirit, temper, daily walk, 
    yes, in every action and in every look, the less is he advancing in the 
    great work of holiness. Oh, how many who profess His dear name, and who are 
    expecting to be with Him forever, never pause to consider what resemblance 
    they bear to Him now! And were they to deal faithfully, with conscience in 
    the much- neglected duty of self-examination; were they to bring themselves 
    to this great standard, how far below it would they be found to have come! 
    How much in their principles, in their governing motives, in their temper, 
    spirit, and daily conduct- how much in their walk in the world, in their 
    deportment in the Church, and in their more concealed conduct in their 
    families, would be discovered that was unlike Christ! How much that was 
    &quot;from beneath,&quot; how little that was &quot;from above,&quot;- how much of the &quot;image of 
    the earthly,&quot; how little of the &quot;image of the heavenly!&quot; But look at the 
    image of our dear Lord- how lowly, how holy it is! Look at His poverty of 
    spirit- lowliness of heart- humility of deportment- tenderness- forgiveness 
    of injuries- self-denial- prayerfulness- zeal for His Father's glory- 
    yearnings for the salvation of men. Oh to be like Jesus! to grow up into Him 
    in all things! this is to &quot;walk worthy of the Lord unto all pleasing.&quot; This 
    is to realize &quot;the will of God, even our sanctification.&quot; Let it not then be 
    forgotten, that an advancing believer is one growing in a resemblance and 
    conformity to the image and example of Christ. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 13. </p>
    <p align="justify">&quot;The wind blows where it wills, and you hear the sound 
    thereof, but cannot tell where it comes, and where it goes: so is every one 
    that is born of the Spirit.&quot; John 3:8. </p>
    <p align="justify">Mark how striking is the figure. The wind bids defiance 
    to man's governing power. It is as sovereign in its influence as it is 
    irresistible in its strength. We cannot command it, nor can we control it. 
    It is alike out of our power to summon it, as it is to soothe it. It comes, 
    we know not where; it goes, we know not where. &quot;So is every one that is born 
    of the Spirit.&quot; We do not say that the Spirit is not resisted- He is 
    resisted, strongly and perseveringly. But He is not overpowered. All the 
    enmity and carnality of the heart rises in direct opposition to Him; but, 
    when bent upon a mission of love, when, in accordance with the eternal 
    purpose, He comes to save, not all the powers on earth or in hell can 
    effectually resist Him. Like the mighty force, He bears down all opposition, 
    sweeps away every barrier, overcomes every difficulty, and the sinner, &quot;made 
    willing in the day of His power,&quot; is brought to the feet of Jesus, there 
    meekly and gratefully to sit, &quot;clothed, and in his right mind.&quot; Who can 
    withstand the power of the Spirit? Whether He speaks in the &quot;still small 
    voice&quot; of tender, persuasive love, or whether He comes in the &quot;mighty 
    rushing wind&quot; of deep and overwhelming conviction, His influence is 
    quenchless, His power is irresistible. He effectually works in those who 
    believe. <br>
    But His operation is as sovereign as it is mighty. He comes to whom He will; 
    He comes when He will; He comes in the mode He will. He blows where He 
    wills; we hear the sound, we see the effects; but how He works, why He 
    works, and why in a particular way He works, He reveals not to mortals. Even 
    so, O blessed and eternal Spirit, for so it seems good in Your sight. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 14. </p>
    <p align="justify">&quot;Herein is love, not that we loved God, but that He loved 
    us, and sent his Son to be the propitiation for our sins.&quot; 1 John 4:10. </p>
    <p align="justify">&quot;Herein is love!&quot; as though John would say, &quot;and nowhere 
    else but here!&quot; That God should punish the innocent for the guilty- that He 
    should exact the blood of His Son to cancel the guilt of His rebels- that He 
    should lay an infinite weight of wrath on His soul, in order to lay an 
    infinite weight of love on ours- that He should sacrifice His life of 
    priceless value for ours- worthless, forfeited, and doomed- that He should 
    not only give His Son, but should bruise Him, put Him to grief, afflict Him, 
    should make His soul an offerinq for sin- that the 'Lord of Glory' should 
    become a 'man of sorrows', the Lord of Life should die, and the Heir of all 
    things should be &quot;as him that serves.&quot; Oh depth of love unfathomable! Oh 
    height of love unsearchable! Oh length and breadth of love unmeasurable! Oh 
    love of God, which passes knowledge! <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 15. </p>
    <p align="justify">&quot;He that spared not His own Son, but delivered Him up for 
    us all, how shall He not with him also freely give us all things?&quot; Romans 
    8:32. </p>
    <p align="justify">Look at the cross; behold His precious Gift transfixed to 
    it, and that by His own hand, and for your sins. Then look at your present 
    circumstances, survey your needs, your trials, your chastisements, your 
    bereavements, your heart-sickening, heartbreaking tribulations, and know 
    that God still is love. If He had love strong enough, deep enough, to give 
    you Jesus- to tear Him, as it were, from His bosom, and to transfix Him on 
    yonder accursed tree for your iniquities- has He not love enough to bow His 
    ear to your cry, and His heart to your sorrow? Will He not rescue you from 
    this difficulty, deliver you out of this trouble, shield you in this 
    temptation, supply this need, and support, succour, and comfort you in this 
    grief? Oh yes, He will! doubt it not! The cross of Calvary is a standing 
    pledge- standing until sin and guilt, need and woe, shall be known no more- 
    that God, who &quot;spared not His own Son, but delivered Him up for us all, will 
    with Him also freely give us all things&quot; necessary to our good, and 
    promotive of His glory. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 16. </p>
    <p align="justify">&quot;I am not alone, because the Father is with Me.&quot; John 
    16:32. </p>
    <p align="justify">Oh, what words are these! Who can harm you now? What can 
    befall you? When and where can you be alone, if your heavenly Father is with 
    you? He is with you on the ocean; He is with you on the land. He is with you 
    in your exile; He is with you at home. Friends may forsake, and kindred may 
    die, and circumstances may change- but &quot;my Father is with me!&quot; may, still be 
    your solace and your boast. And, oh, to realize the presence of that Father- 
    to walk with God in the absorbing consciousness of His loving eye never 
    removed, of His solemn presence never withdrawn, of His encircling arm never 
    untwined- welcome the solitude, welcome the loneliness, welcome the sorrow, 
    cheered, and sweetened, and sanctified by such a realization as this! &quot;I am 
    not alone, because the Father is with Me.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 17. </p>
    <p align="justify">&quot;Precious in the sight of the Lord is the death of his 
    saints.&quot; Psalm 116:15. </p>
    <p align="justify">It is solemnly true that there is a &quot;time to die.&quot; Ah! 
    affecting thought- a &quot;time to die!&quot; A time when this mortal conflict will be 
    over- when this heart will cease to feel, alike insensible to joy or sorrow- 
    when this head will ache and these eyes will weep no more- best and holiest 
    of all- a time &quot;when this corruptible shall put on incorruption, and this 
    mortal shall put on immortality,&quot; and we shall &quot;see Christ as He is, and be 
    like Him.&quot; If this be so, then, O Christian, why this anxious, trembling 
    fear? Your time of death, with all its attendant circumstances, is in the 
    Lord's hand. All is appointed and arranged by Him who loves you, and who 
    redeemed you- infinite goodness, wisdom, and faithfulness consulting your 
    highest happiness in each circumstance of your departure. The final sickness 
    cannot come, the &quot;last enemy&quot; cannot strike, until He bids it. All is in His 
    hand. Then calmly, confidingly, leave life's closing scene with Him. You 
    cannot die away from Jesus. Whether your spirit wings its flight at home or 
    abroad, amid strangers or friends, by a lingering process or by a sudden 
    stroke, in brightness or in gloom, Jesus will be with you; and, upheld by 
    His grace, and cheered with His presence, you shall triumphantly exclaim, 
    &quot;Though I walk through the valley of the shadow of death, I will fear no 
    evil; for you are with me: your rod and your staff, they comfort me,&quot; 
    bearing your dying testimony to the faithfulness of God, and the 
    preciousness of His promises. My time to die is in Your hand, O Lord, and 
    there I calmly leave it. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 18. </p>
    <p align="justify">&quot;Looking unto Jesus.&quot; Hebrews 12:2. </p>
    <p align="justify">If Jesus is especially glorified in the faith of His 
    people, let yours be a life of faith in all its minute detail. Live upon Him 
    for spiritual supplies; live upon Him for temporal supplies. Go to Him in 
    dark providences, that you may be kept from sinking: go to Him in bright 
    providences, that you may be kept from falling. Go to Him when the path is 
    rough, that you may walk in it contentedly: go to Him when the path is 
    smooth, that you may walk in it surely. Let your daily history be a 
    traveling to Jesus empty, and a coming from Jesus filled. Keep the truth 
    constantly and prominently before your eye, &quot;The just shall live by faith.&quot; 
    If this be so, do not expect that God will ever permit you to live by sight. 
    Bend your whole soul submissively to Him in this matter. Let His will and 
    yours be one. If, in the course of your wilderness journeyings, He has 
    brought you into a great difficulty, yes, to the very margin of the sea, 
    still, at His bidding, &quot;go forward,&quot; though it be into that sea. Trust Him 
    to cleave asunder its waters, making a dry passage for your feet, and 
    causing those very waves that threatened to engulf you, now to prove as a 
    cloud canopying you above, and as walls of strength fencing you in on every 
    side. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 19. </p>
    <p align="justify">&quot;You know the grace of our Lord Jesus Christ, that, 
    though He was rich, yet for your sakes He became poor, that you through His 
    poverty might be rich.&quot; 2 Corinthians 8:9. </p>
    <p align="justify">How little do we associate our most costly mercies, and 
    even those which we are accustomed to esteem of a more ordinary character 
    (although every mercy is infinitely great), with the abasement of our Lord! 
    How seldom do we trace our happy moments, and hallowed joys, and high 
    delights, and sacred scenes, and precious privileges, to this dark part of 
    His eventful history! And yet all flow to us through this very channel, and, 
    but for this, would never have been ours. When the ocean of His goodness 
    rolls in upon me, wave on wave- when I feel the cheering warmth of creature 
    smiles beaming sweetly and fondly- when I review, one by one, my personal, 
    domestic, and relative mercies- when even the cup of cold water, presented 
    by the hand of Christian kindness, moistens my lips, what is the thought 
    that forces itself upon my mind? &quot;All this springs from the deepest 
    humiliation of my adorable Christ!&quot; <br>
    And when I ascend into the higher region of grace, and survey the blessings 
    so richly and so freely bestowed- a rebel subdued- a criminal pardoned- a 
    child adopted- a royal priest anointed- union with Christ- covenant 
    relationship with God- access within the Holy of Holies- conformity to the 
    Divine image- still more deeply am I overwhelmed with the thought, &quot;all this 
    proceeds from the infinite abasement of the incarnate God!&quot; <br>
    And when yet higher still I ascend, and, passing from grace to glory, 
    contemplate the heaven of bliss that awaits me- in one moment absent from a 
    body of sin, and present with the Lord- away from a world, beautiful though 
    it is, because God has made it, yet the throne of Satan, the empire of sin, 
    the scene of sorrow, pollution, suffering, and death; and eternally shut in 
    with God, where all is joy, and all is holiness- made perfectly holy, and, 
    consequently, perfectly happy, to sin no more, to sorrow no more, to weep no 
    more, to wander no more, to fall no more- oh, how full of glory then becomes 
    the humiliation of my incarnate Lord! Beloved, when God exalts you, remember 
    it is because your Savior was abased. When your cup is sweet, remember it is 
    because His cup was bitter. When you press your mercy fondly and closely to 
    your heart, remember it is because He pressed His heart to the spear. And 
    when your eye of faith and hope looks forward to the coming glory, oh, do 
    not forget that, because He endured your hell, you shall enjoy His heaven!
    <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 20. </p>
    <p align="justify">&quot;You have not as yet come to the rest and to the 
    inheritance which the Lord your God gives you.&quot; Deuteronomy 12:9. </p>
    <p align="justify">It is a richly instructive and deeply sanctifying 
    thought- the futurity of the heavenly rest. When told that we are not as yet 
    come to the rest and to the inheritance which the Lord our God gives us, we 
    are gently reminded that we have each one a niche in life to occupy, a 
    sphere to fill, a mission to perform. The idea of personal responsibility, 
    of individual influence, and of untiring action, instantly starts up before 
    the mind. &quot;Not yet in heaven- then for what am I here? Surely it is for an 
    object in harmony with my intellectual and spiritual being, and worthy of 
    Him who still detains me on earth. It must be that I have something to do, 
    or something to endure, for Christ- an active or a passive part to fill. 
    Lord, what will You have me to do or suffer for You?&quot; Oh, there is a 
    fathomless depth of divine wisdom in the arrangement that keeps us so long 
    out of heaven. The world needs us, and we need the world. It needs us to 
    illumine and sanctify it; we need it as the field of our conflict, and as 
    the school of our graces. We need the world, not as a hermit's cell, but as 
    a vast theater, where before angels and men our Christianity is developed in 
    the achievements of prayer, in the triumphs of faith, in the labors of love, 
    and in the endurance of suffering. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 21. </p>
    <p align="justify">&quot;If so be that we suffer with Him.&quot; Romans 8:17. </p>
    <p align="justify">Not as He suffered. Oh, no! there is no curse, no wrath, 
    no hell in the cup of sorrow which we drink. All these ingredients composed 
    His bitter draught. Yet He suffers with us, and permits our afflictions to 
    be called the &quot;afflictions of Christ.&quot; He is with you on that bed of 
    sickness; He is with you on that couch of languishing; He is with you in 
    that darkened room; He kneels with you at that coffin; and He weeps with you 
    by the side of that sepulcher. Oh, may it not reconcile us to all the 
    suffering we have ever endured, or may yet be called to endure, to feel the 
    perfect oneness, the presence, the sympathy, the succourings of such a 
    Savior? Who would wish to shun the shame of His cross, the scorn of His 
    name, the lowliness of His kingdom, the self-denial of His religion, allied 
    in the tenderest sympathy at every step with this illustrious Martyr- this 
    Prince of sufferers- this Brother born for adversity? </p>
    <p align="justify">&nbsp;</p>
    <p align="justify">FEBRUARY 22. </p>
    <p align="justify">&quot;And this is the confidence that we have in Him, that, if 
    we ask anything according to His will, He hears us: and if we know that He 
    hear us, whatever we ask, we know that we have the petitions that we desired 
    of Him.&quot; 1 John 5:14, 15. </p>
    <p align="justify">When we draw near to God, and ask for more love, more 
    zeal, an increase of faith, a reviving of God's work within us, more 
    resemblance to Christ, the subjection of some enemy, the mortification of 
    some evil, the subduing of some iniquity, the pardon of some guilt, more of 
    the spirit of adoption, the sprinkling of the atoning blood, the sweet sense 
    of acceptance, we know and are assured that we ask for those things which 
    are according to the will of God, and which it is in the heart of God fully 
    and freely to bestow. There need be no backwardness here- there need be no 
    restraint here- there may be no misgiving here. The believer may, when 
    pleading for such blessings, spreading out such needs before the Lord, with 
    &quot;boldness enter into the holiest, by the blood of Jesus.&quot; He may draw near 
    to God, not standing afar off, but, in the spirit of a child, drawing near 
    to God, he may come with large requests, large desires, hopeful 
    expectations; he may open his mouth wide, because he asks those things which 
    it is glorifying to God to give, which glorify Him when given, and which we 
    know, from His own word, are according to His blessed will to bestow. Oh, 
    the unspeakable encouragement of going to God with a request which we feel 
    assured it is in His heart and according to His will freely to grant! <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 23. </p>
    <p align="justify">&quot;For this thing I besought the Lord thrice, that it might 
    depart from me.&quot; 2 Corinthians 12:8. </p>
    <p align="justify">When Paul prayed for the removal of the thorn in the 
    flesh, he asked that of God which betrayed a lack of judgment in his 
    estimate of the thing which he petitioned for. Who would have suspected this 
    in the apostle of the Gentiles? But the Lord knew best what was for the good 
    of His dear servant. He saw that, on account of the peculiar revelations 
    that were given him in his visit to glory, the discipline of the covenant 
    was needed to keep him low in the dust. And, when His child petitioned 
    thrice for the removal of the thorn in the flesh, he for a moment 
    overlooked, in the painful nature of the discipline, its needed influence to 
    keep him &quot;walking humbly with God.&quot; So that we see even an inspired apostle 
    may ask those things of God, which He may see fit to refuse. We may 
    frequently expect some trial, something to keep us low before God, after a 
    season of peculiar nearness to Him, a manifestation of His loving-kindness 
    to our souls. There is a proneness to rest in self-complacency after close 
    communion with God, that the gentle hand of our Father is needed to screen 
    us from ourselves. It was so with Paul- why may it not be with us? In 
    withholding, however, the thing we ask of Him, we may be assured of this, 
    that He will grant us a perfect equivalent. The Lord saw fit to deny the 
    request of the apostle; but He granted him an equivalent- yes, more than an 
    equivalent, to that which He denied him- He gave him His all-supporting 
    grace. &quot;My grace is suffcient for you.&quot; Beloved reader, have you long asked 
    for the removal of some secret, heavy, painful cross? Perhaps you are yet 
    urging your request, and yet the Lord seems not to answer you. And why? 
    Because the request may not be in itself wise. Were He now to remove that 
    cross, He may, in taking away the cross, close up a channel of mercy which 
    you would never cease to regret. Oh, what secret and immense blessing may 
    that painful cross be the means of conveying into your soul! <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 24. </p>
    <p align="justify">&quot;For I am the Lord, I change not; therefore you sons of 
    Jacob are not consumed.&quot; Malachi 3:6. </p>
    <p align="justify">It is no small attainment to be built up in the 
    faithfulness of God. This forms a stable foundation of comfort for the 
    believing soul. Mutability marks everything outside of God. Look into the 
    Church, into the world, into our families, ourselves, what innumerable 
    changes do we see on every hand! A week, one short day, what alterations 
    does it produce! Yet, in the midst of it all, to repose calmly on the 
    unchangeableness, the faithfulness of God. To know that no alterations of 
    time, no earthly changes, affect His faithfulness to His people. And more 
    than this- no changes in them- no unfaithfulness of theirs, causes the 
    slightest change in God. Once a Father, ever a Father; once a Friend, ever a 
    Friend. His providences may change, His heart cannot. He is a God of 
    unchangeable love. The promise He has given, He will fulfil; the covenant He 
    has made, He will observe; the word that has gone out of His mouth, He will 
    not alter. &quot;He cannot deny Himself.&quot; Peace then, tried believer! Are you 
    passing now through the deep waters? Who kept you from sinking when wading 
    through the last? <br>
    Who brought you through the last fire? Who supported you under the last 
    cross? Who delivered you out of the last temptation? Was it not God, your 
    covenant God- your faithful, unchangeable God? This God, then, is your God 
    now, and your God forever and ever, and He will be your guide even unto 
    death. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 25. </p>
    <p align="justify">&quot;Rest in the Lord, and wait patiently for Him.&quot; Psalm 
    37:7. </p>
    <p align="justify">It is just this simple, patient waiting upon God in all 
    our straits that certainly and effectually issues in our deliverance. In all 
    circumstances of faith's trial, of prayer's delay, of hope deferred, the 
    most proper and graceful posture of the soul- that which insures the largest 
    revenue of blessing to us and of glory to God- is a patient waiting on the 
    Lord. Although our impatience will not cause God to break His covenant, nor 
    violate His oath, yet a patient waiting will bring down larger and richer 
    blessings. The moral discipline of patience is most costly. It keeps the 
    soul humble, believing, prayerful. The mercy in which it results is all the 
    more prized and precious from the long season of hopeful expectation. It is 
    possible to receive a return too speedily. In our eagerness to grasp the 
    mercy with one hand, we may lose our hold on faith and prayer and God with 
    the other. A patient waiting the Lord's time and mode of appearing in our 
    behalf will tend to check all unworthy and unwise expedients and attempts at 
    self-rescue. An immediate deliverance may be purchased at a price too 
    costly. Its present taste may be sweet, but afterwards it may be bitter- God 
    embittering the blessing that was not sought with a single eye to His glory. 
    God's time, though it tarry, and God's deliverance, though delayed, when it 
    comes proves always to have been the best: &quot; My soul, wait only upon God, 
    for my expectation is from him.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 26. </p>
    <p align="justify">&quot;Go, and sin no more.&quot; John 8:11. </p>
    <p align="justify">See how Christ manifests His abhorrence of the sin, while 
    He throws His shield of mercy around the sinner. The Lord does not justify 
    the sinner's transgression, though He justifies the sinner's person. In the 
    great matter of salvation, justification and sanctification, pardon and 
    holiness, are essentially and inseparably united. When the Lord Jesus 
    dismisses a sinner with a sense of acquittal in his conscience, it is ever 
    accompanied with that most affecting of all exhortations, &quot;Sin no more.&quot; And 
    as he passes out from the presence of Jesus, pardoned, justified, saved, the 
    Savior's tender, soul-subduing words from that moment seem to vibrate upon 
    his ear every step of his onward way. &quot;Go, admire, and publish abroad the 
    glory of that grace that has done such great things for you. Go, and spread 
    His fame, and with your latest breath dwell upon His name, who, when sin and 
    Satan and conscience accused you, and would have consigned you to eternal 
    woe- then appeared your Friend, your Advocate, and your Savior. Go, and when 
    tempted to wound afresh the bosom that sheltered you, remember Me; from 
    Gethsemane, from Calvary, and from the hallowed spot where I spoke to you, I 
    condemn you not. Go, and sin no more.&quot; <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 27. </p>
    <p align="justify">&quot;With You is the fountain of life.&quot; Psalm 36:9. </p>
    <p align="justify">What a fountain of life is Jesus! The dead, on whose ear 
    falls the sound of His voice, live. There is grace in Christ- quickening, 
    regenerating, life-giving grace; and to whomsoever that grace is imparted, 
    he that was lying cold and inanimate in the valley begins to move, to live, 
    to breathe, and to arise. One touch of Christ, a whisper of His voice, a 
    breath of His Spirit, begets a life in the soul that never dies. What a 
    fountain of life is Jesus! Think of its superabundance . There is a fulness 
    of life in Christ. The grace that is welled in Jesus is as infinite in its 
    source, as it is divine in its nature. An uncreated fulness, it must possess 
    an inexhaustible overabundance. Had the Father deposited this life-giving 
    grace in all the angels in heaven, it had long since been exhausted. Think 
    of the myriads, thirsting for holiness and for happiness, who have knelt and 
    slaked their thirst at this fountain- think of the myriads who have here 
    filled their empty vessels, and have gone away with joy and hope springing 
    high in their minds. Think of the myriads whose sins His blood has washed, 
    whose souls His righteousness has clad, whose corruptions His grace has 
    subdued, and whose sorrows His love has comforted. Think of the iniquities 
    which He has pardoned; of the backslidings which He has healed; of the grief 
    which He has removed; of the tears which He has dried; of the souls which He 
    has saved. Think of the myriads once drinking from the stream below, but who 
    are now drinking from the fountain head in glory. And yet is this fountain 
    as full as ever! Not one hair's breadth has it sunk. Jesus is as full of 
    pardoning grace for the guilty, and of justifying grace for the vile, and of 
    sanctifying grace for the unworthy, as ever. He is full enough to meet the 
    needs of every poor, thirsty, panting soul who ventures near. Oh, what a 
    precious truth is this! Precious, indeed, to him who feels his own 
    insufficiency, poverty, and need. What, reader, is your need? what your 
    sorrow? what your trial? what your infirmity? what your burden? Whatever it 
    may be, repair with it to this fountain of living water, and despair not of 
    a gracious welcome and of an adequate supply. It is a fountain, and a living 
    fountain. It needs no persuasion to flow, for it flows spontaneously; and 
    wherever it flows there is life. <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 28. </p>
    <p align="justify">&quot;I will give unto him that is athirst of the fountain of 
    the water of life freely.&quot; Revelation 21:6. </p>
    <p align="justify">The grace that is in Christ Jesus must, from its very 
    nature, be unpurchasable. It implies absolute poverty in the creature, and 
    infinite affluence in God. Could it, by any possibility, be purchased, it 
    would cease to be what it now is, the &quot;grace of God.&quot; Because it is so 
    great, so rich, and infinite, God has made it as free as the sun, the light, 
    and the air. Nothing can procure it. Tears cannot- convictions cannot- faith 
    cannot- obedience cannot- prayer cannot- yes, not even can the most costly 
    work of God's Spirit in the soul procure a drop of this &quot;living water.&quot; God 
    gives it, and He gives it, as the word implies, freely. This is its glory- 
    it is an unpurchasable and a freely bestowed gift. Upon no other terms is it 
    granted. Consequently, no condition of human character, and no case of human 
    guilt, is excluded. The vilest of the vile, the poor insolvent sinner, the 
    needy, the wretched, the penniless; the voice of free grace welcomes to the 
    &quot;living waters.&quot; What has kept you so long from this fountain? You have 
    thirsted, and panted, and desired; but still your soul has not been 
    replenished. You have, perhaps, long been seeking the Lord, asking the way, 
    and desiring salvation. Why have you not found Him? You have borne the heavy 
    burden of sin, month after month and year after year, knowing nothing of a 
    sense of pardon, of acceptance, of adoption, of rest. And why? Because you 
    have stumbled at the freeness of the gift. You have expected to receive it 
    as a saint, not seeing that God will only give it to you as a sinner. But 
    hear the word of the Lord: &quot;By grace are you saved;&quot; &quot;Redeemed without 
    money;&quot; &quot;Nothing to pay;&quot; &quot;Whoever will, let him take of the water of life 
    freely.&quot; Oh! receive into your heart this truth, and you will be happy. All 
    creation will seem to smile upon you- the heavens will smile- the earth will 
    smile- yes, God himself will smile. Dropping its chain, your emancipated 
    soul will spring into the glorious liberty of the sons of God. What 
    sovereignty, sweetness, and glory will now appear in the very act that 
    forgives all, forgets all, and which introduces you into a new world, 
    redolent of joy and delight! <br>
&nbsp; </p>
    <p align="justify">FEBRUARY 29. </p>
    <p align="justify">&quot;God is our refuge and strength, a very present help in 
    trouble.&quot; Psalm 46:1. </p>
    <p align="justify">It is one of the most blessed truths of the covenant of 
    grace, that the God of the covenant is a very present help in every time of 
    trouble. Loving His people as He does, dwelling in them by His Spirit, their 
    people and circumstances continually before Him in the person and the 
    intercession of His dear Son, how can He possibly lose sight of them for a 
    single moment? They may, and they often do, lose sight of Him. They, do not, 
    alas! set the Lord always before their face. They do not train and 
    discipline themselves to see Him in every event, circumstance, and incident 
    of life. They are not clear-sighted to recognize, nor prompt to acknowledge, 
    Him in every providence that darkens or lightens upon their way. Were they 
    but right-minded, they, would exclaim of every good and of every evil as it 
    came, &quot;The Lord is in this!&quot; But they are never for an instant out of His 
    heart, out of His thoughts, out of His hands, or out of His eye. <br>
    How near to them, too, is the Holy Spirit! Dwelling in and overshadowing 
    them, He is at their side to guide, to uphold, and to cheer; bringing to 
    their memory a precious promise, or writing upon their heart an animating 
    truth, or opening before their eye some endearing glimpse of Jesus, just at 
    the moment it was needed. What a happy, what a favored people are the 
    Lord's! &quot;Happy is he that has the God of Jacob for his help, whose hope is 
    in the Lord his God. Happy is that people that is in such a case: yes, happy 
    is that people whose God is the Lord.&quot;</p>
  </blockquote>
</blockquote>

</body>

</html>
