JANUARY 0
JANUARY 1. </p>
    <p align="justify">&quot;You have not passed this way heretofore.&quot; Joshua 3:4.
    </p>
    <p align="justify">How solemn is the reflection that with a new cycle of 
    time commences, with each traveler to Zion, a new and untrodden path! New 
    events in his history will transpire- new scenes in the panorama of life 
    will unfold- new phases of character will develop- new temptations will 
    assail- new duties will devolve- new trials will be experienced- new sorrows 
    will be felt- new friendships will be formed- and new mercies will be 
    bestowed. How truly may it be said of the pilgrim journeying through the 
    wilderness to his eternal home, as he stands upon the threshold of this 
    untried period of his existence, pondering the unknown and uncertain future, 
    &quot;You have not passed this way heretofore!&quot; </p>
    <p align="justify">Reader! if you are a believer in the Lord Jesus, you will 
    enter upon a new stage of your journey by a renewed surrender of yourself to 
    the Lord. You will make the cross the starting-point of a fresh setting-out 
    in the heavenly race. Oh, commence this year with a renewed application to 
    the &quot;blood of sprinkling.&quot; There is vitality in that blood; and its fresh 
    sprinkling on your conscience will be as a new impartation of spiritual life 
    to your soul. Oh, to begin the year with a broken heart for sin, beneath the 
    cross of Immanuel! looking through that cross to the heart of a loving, 
    forgiving Father. Do not be anxious about the future; all that future God 
    has provided for. &quot;All my times are in Your hands.&quot; &quot;Casting all your care 
    upon Him, for He cares for you.&quot; &quot;Cast your burden upon the Lord, and He 
    shall sustain you.&quot; Let it be a year of more spiritual advance. &quot;Speak to 
    the children of Israel that they go forward.&quot; Forward in the path of duty- 
    forward in the path of suffering- forward in the path of conflict- forward 
    in the path of labor- and forward in the path to eternal rest and glory. 
    Soon will that rest be reached, and that glory appear. This new year may be 
    the jubilant year of your soul- the year of your release. Oh 
    spirit-stirring, ecstatic thought- this year I may be in heaven! <br>
&nbsp; </p>
    <p align="justify">JANUARY 2. </p>
    <p align="justify">&quot;He knows the way that I take.&quot;&nbsp; Job 23:10. </p>
    <p align="justify">Untried, untrodden, and unknown as your future path may 
    be, it is, each step, mapped, arranged, and provided for in the everlasting 
    and unchangeable covenant of God. To Him who leads us, who accepts us in the 
    Son of His love, who knows the end from the beginning, it is no new, or 
    uncertain, or hidden way. We thank Him that while He wisely and kindly veils 
    all the future from our reach, all that future- its minutest event- is as 
    transparent and visible to Him as the past. Our Shepherd knows the windings 
    along which He skillfully, gently, and safely leads His flock. He has 
    traveled that way Himself, and has left the traces of His presence on the 
    road. And as each follower advances- the new path unfolding at each step- he 
    can exultingly exclaim, &quot;I see the footprint of my Lord; here went my 
    Master, my Leader, my Captain, leaving me an example that I should follow 
    His steps.&quot; Oh, it is a thought replete with strong consolation, and well 
    calculated to gird us for the coming year- the Lord knows and has ordained 
    each step of the untrodden path upon which I am about to enter. <br>
    Another reflection. The infinite forethought, wisdom, and goodness which 
    have marked each line of our new path, have also provided for its every 
    necessity. Each exigency in the history of the new year has been 
    anticipated. Each need will bring its appropriate and adequate supply- each 
    perplexity will have its guidance- each sorrow its comfort- each temptation 
    its shield- each cloud its light. Each affliction will suggest its lesson- 
    each correction will impart its teaching- each mercy will convey its message 
    of love. The promise will be fulfilled to the letter, &quot;As your day, so shall 
    your strength be.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 3. </p>
    <p align="justify">&quot;For it pleased the Father that in him should all 
    fullness dwell.&quot;&nbsp; Colossians 1:19 </p>
    <p align="justify">All wisdom to guide, all power to uphold, all love to 
    soothe, all grace to support, all tenderness to sympathize, dwells in 
    Christ. Let us, then, gird ourselves to a fresh taking hold of Christ. We 
    must walk through this year not by sight, but by faith- and that faith must 
    deal simply and directly, with Jesus. &quot;Without me you can do nothing.&quot; But 
    with His strength made perfect in our weakness, we can do all things. Oh, be 
    this our course and our posture- &quot;coming up from the wilderness leaning on 
    her Beloved.&quot; Living in a world of imperfection and change, we must expect 
    nothing perfect, nothing stable, in what we are, in what we do, or in what 
    we enjoy. But amid the dissolving views of the world that &quot;passes away,&quot; let 
    us take firm hold of the unchangeableness of God. The wheels may revolve, 
    but the axle on which they turn is immoveable. Such is our covenant God. 
    Events may vary- providences may change- friends may die- feelings may 
    fluctuate- but God in Christ will know &quot;no variableness, neither the shadow 
    of a turning.&quot; &quot;Having loved His own that were in the world, He loved them 
    unto the end.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 4. </p>
    <p align="justify">&quot;The grace of our Lord Jesus Christ, and the love of God, 
    and the communion of the Holy Spirit, be with you all. Amen.&quot; 2 Corinthians 
    13:14. </p>
    <p align="justify">The doctrine of the Trinity is to the Christian the key 
    of the Bible. The Spirit imparting skill to use it, and the power, when 
    used, it unlocks this divine arcade of mysteries, and throws open every door 
    in the blest sanctuary of truth. But it is in the light of salvation that 
    its fitness and beauty most distinctly appear- salvation in which Jehovah 
    appears so inimitably glorious- so like Himself. The Father's love appears 
    in 'sending' His Son; the Son's love in 'undertaking' the work; the Holy 
    Spirit's love in 'applying' the work. Oh, it is delightful to see how, in 
    working out the mighty problem of man's redemption, the Divine Three were 
    thus deeply engaged. With which of these could we have dispensed? All were 
    needed; and had one been lacking, our salvation would have been incomplete, 
    and we would have been eternally lost. In bringing to glory the church they 
    thus have saved, the sacred Three are solemnly pledged. And in the matter of 
    prayer, how sustaining to faith, and how soothing to the mind, when we can 
    embrace, in our ascending petitions, the blessed Three in One. &quot;For through 
    Him (the Son) we both have access by one Spirit unto the Father.&quot; <br>
&nbsp; <br>
&nbsp; <br>
&nbsp; </p>
    <p align="justify">JANUARY 5. </p>
    <p align="justify">&quot;He that believes (on the Son of God) has the witness in 
    himself.&quot; 1 John 5:10. </p>
    <p align="justify">The Spirit of God breaking, humbling, healing the heart; 
    taking his own truth and transcribing it upon the soul; witnessing, sealing, 
    sanctifying; opening the eye of the soul to the holiness of God's law- to 
    its own moral guilt, poverty, helplessness, and deep need of Christ's blood 
    and righteousness, thus leading it to rest on Him as on an all-sufficient 
    Savior; thus producing &quot;righteousness, peace, and joy in the Holy Spirit&quot;- 
    this is the truth experienced- this is the religion of the heart; and all 
    other religion, beautiful as may be its theory, and orthodox as may be its 
    creed, is worth nothing! Without this experience there is no true belief in 
    God's Word. The revelation of God asks not for a faith that will merely 
    endorse its divine credentials; it asks not merely that skepticism will lay 
    aside its doubts, and receive it as a divine verity; it asks, yes, it 
    demands, more than this- it demands a faith that will fully, implicitly, 
    practically receive the momentous and tremendous facts it announces- a faith 
    that brings them home with a realizing power to the soul, and identifies it 
    with them- a faith that believes there is a hell, and seeks to escape it- a 
    faith that believes there is a heaven, and strives to enter it- a faith that 
    credits the doctrine of man's ruin by nature, and that welcomes the doctrine 
    of man's recovery by grace- in a word, a faith that rejects all human 
    dependence, and accepts as its only ground of refuge &quot;the righteousness of 
    Christ, which is unto all, and upon all those who believe.&quot; Oh, this is the 
    true faith of the gospel! Do you have it, reader? <br>
&nbsp; </p>
    <p align="justify">JANUARY 6. </p>
    <p align="justify">&quot;In the world you shall have tribulation.&quot; John 16:33.
    </p>
    <p align="justify">Could we draw aside, for a moment, the thin veil that 
    separates us from the glorified saints, and inquire the path along which 
    they were conducted by a covenant God to their present enjoyments, how few 
    exceptions, if any, would we find to that declaration of Jehovah- &quot;I have 
    chosen you in the furnace of affliction.&quot; All world tell of some peculiar 
    cross; some domestic, relative, or personal trial which attended them every 
    step of their journey; which made the valley they trod, truly, &quot;a valley of 
    tears,&quot; and which they only threw off when the spirit, divested of its robe 
    of flesh, fled where sorrow and sighing are forever done away. God's people 
    are a sorrowful people. The first step they take in the divine life is 
    connected with tear's of godly sorrow; and, as they, travel on, sorrow and 
    tears do but trace their steps. They sorrow over the body of sin which they 
    are compelled to carry with them; they sorrow over their perpetual proneness 
    to depart, to backslide, to live below their high and holy calling. They 
    mourn that they mourn so little; they, weep that they weep so little; that 
    over so much indwelling sin, over so many and so great departures, they yet 
    are found so seldom mourning in the posture of one low in the dust before 
    God. In connection with this, there is the sorrow which results from the 
    needed discipline which the correcting hand of the Father who loves them 
    almost daily employs. For, in what light are all their afflictions to be 
    viewed, but as so many correctives, so much discipline employed by their God 
    in covenant, in order to make them &quot;partakers of His holiness.&quot; Viewed in 
    any other light, God is dishonored, the Spirit is grieved, and the believer 
    is robbed of the great spiritual blessing for which the trial was sent. <br>
&nbsp; </p>
    <p align="justify">JANUARY 7. </p>
    <p align="justify">&quot;Thanks be unto God for his unspeakable gift.&quot; 2 Cor. 
    9:15. </p>
    <p align="justify">The Atonement itself precludes all idea of human merit, 
    and, from its very nature, proclaims that it is free. Consider the grandeur 
    of the Atonement- contemplate its costliness: incarnate Deity- perfect 
    obedience- spotless purity- unparalleled grace and love- acute and 
    mysterious sufferings- wondrous death, resurrection, ascension, and 
    intercession of the Savior, all conspire to constitute it the most august 
    sacrifice that could possibly be offered. And shall there be anything in the 
    sinner to merit this sacrifice? Shall God so lower its dignity, underrate 
    its value, and dishonor Himself, as to 'barter' it to the sinner? And if God 
    were so disposed, what is there in the sinner that could purchase it? Where 
    is the equivalent, where the price? &quot;Alas!&quot; is the exclamation of a 
    convinced soul, &quot;I am a spiritual bankrupt; I lost everything in my first 
    parent who fell; I came into the world poor and helpless; and to the sin of 
    my nature I have added actual transgression of the most aggravated 
    character. I have nothing to recommend me to the favor of God; I have no 
    claim upon His mercy; I have no price with which to purchase it; and if 
    redemption is not free, without money and without price, I am undone.&quot; The 
    very costliness, then, of the Atonement puts it beyond all price, and stamps 
    it with infinite freeness. <br>
&nbsp; </p>
    <p align="justify">JANUARY 8. </p>
    <p align="justify">&quot;Who gave himself for us, that he might redeem us from 
    all iniquity, and purify unto himself a peculiar people, zealous of good 
    works.&quot;&nbsp; Titus 2:14. </p>
    <p align="justify">There is no victory, over the indwelling power of sin, 
    and there is no pardon for the guilt of sin, but as the soul deals with the 
    blood of Christ. The great end of our dear Lord's death was to destroy the 
    works of the devil. Sin is the great work of Satan. To overcome this, to 
    break its power, subdue its dominion, repair its ruins, and release from its 
    condemnation, the blessed Son of God suffered the ignominious death of the 
    cross. All that bitter agony which He endured- all that mental suffering- 
    the sorrow of His soul in the garden- the sufferings of His body on the 
    cross- all was for sin. See, then, the close and beautiful connection 
    between the death of Christ, and the death of sin. All true sanctification 
    comes through the cross. Reader, seek it there. The cross brought into your 
    soul by the eternal Spirit will be the death of your sins. Go to the cross- 
    oh, go to the cross of Jesus. In simplicity of faith, go. With the strong 
    corruption, go. With the burden of guilt, go, go to the cross. You will find 
    nothing but love there- nothing but welcome there- nothing but purity there. 
    The precious blood of Jesus &quot;cleanses us from all sin.&quot; And while you are 
    kept low beneath the cross, your enemy dares not approach you, sin shall not 
    have dominion over you, nor shall Satan, your accuser, condemn you. <br>
&nbsp; </p>
    <p align="justify">JANUARY 9. </p>
    <p align="justify">&quot;And the Lord turned, and looked upon Peter. And Peter 
    remembered the word of the Lord.&quot;&nbsp; Luke 22:61. </p>
    <p align="justify">His Lord's solemn prediction of his sin he seemed quite 
    to have forgotten. But when that look met his eye, it summoned back to 
    memory the faded recollections of the faithful and tender admonitions that 
    had forewarned him of his fall. There is a tendency, in our fallen minds to 
    forget our sinful departures from God. David's threefold backsliding seemed 
    to have been lost in deep oblivion, until the Lord sent His prophet to 
    recall it to his memory. Christ will bring our forgotten departures to view, 
    not to upbraid or to condemn, but to humble us, and to bring us afresh to 
    the blood of sprinkling. The heart searching look from Christ turns over 
    each leaf in the book of memory; and sins and follies, inconsistencies and 
    departures, there inscribed, but long forgotten, are read and re-read, to 
    the deep sin-loathing and self-abasement of our souls. Ah! let a look of 
    forgiving love penetrate your soul, illuminating memory's dark cell, and how 
    many things, and circumstances, and steps in your past life will you 
    recollect to your deepest humiliation before God. And oh! how much do we 
    need thus to be reminded of our admonitions, our warnings, and our falls, 
    that we may in all our future spirit and conduct &quot;walk humbly with God.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 10. </p>
    <p align="justify">&quot;They took knowledge of them, that they had been with 
    Jesus.&quot; Acts 4:13. </p>
    <p align="justify">We have a right to look for one or more of the moral 
    features of our dear Lord's character in His people. Some resemblance to His 
    image; something that marks the man of God; some lowliness of mind- 
    gentleness of temper- humility of deportment- charity- patience in the 
    endurance of affliction- meekness in the suffering of persecution- 
    forgiveness of injuries- returning good for evil- blessing for cursing- in a 
    word, some portion of &quot;the fruit of the Spirit,&quot; which is &quot;love, joy, peace, 
    long-suffering, gentleness, goodness, faith, meekness, temperance.&quot; If one 
    or more of these are not &quot;in us and abound, so that they make us that we 
    shall neither be barren nor unfruitful in the knowledge of our Lord Jesus 
    Christ,&quot; and in a resemblance to His likeness, we have great reason to doubt 
    whether we have ever &quot;known the grace of God in truth.&quot; That is indeed a 
    melancholy profession in which can be traced nothing that identifies the man 
    with Jesus; nothing in his principles, his motives, his tone of mind, his 
    spirit, his very looks, that reminds one of Christ- that draws the heart to 
    Him, that makes the name of Immanuel fragrant, and that lifts the soul in 
    ardent desires to be like Him too. This is the influence which a believer 
    exerts, who bears about with him a resemblance to his Lord and Master. A 
    holy man is a blessing, go where he may. He is a savor of Christ in every 
    place. <br>
&nbsp; </p>
    <p align="justify">JANUARY 11. </p>
    <p align="justify">&quot;We have not a high priest which cannot be touched with 
    the feeling of our infirmities; but was in all points tempted like as we 
    are, yet without sin.&quot; Hebrews 4:15. </p>
    <p align="justify">See Him bearing our sicknesses and our sorrows; more than 
    this, carrying our iniquities and our sins. Think not that your path is a 
    isolated one. The incarnate God has trodden it before you, and He can give 
    you the clear eye of faith to see His footprint in every step. Jesus can 
    say, and He does say to you, &quot;I know your sorrow; I know what that cross is, 
    for I have carried it. You have not a burden that I did not bear, nor a 
    sorrow that I did not feel, nor a pain that I did not endure, nor a path 
    that I did not tread, nor a tear that did not bedew my eye, nor a cloud that 
    did not shade my spirit, before you, and for you. Is it bodily weakness? I 
    once walked forty miles, to carry the living water to a poor sinner at 
    Samaria. Is it the sorrow of bereavement? I wept at the grave of my friend, 
    although I knew that I was about to recall the loved one back again to life. 
    Is it the frailty and the fickleness of human friendship? I stood by and 
    heard my person denied by lips that once spoke kindly to me; lips now 
    renouncing me with an oath that once vowed affection unto death. Is it 
    straitness of circumstance, the galling sense of dependence? I was no 
    stranger to poverty, and was often nourished and sustained by the charity of 
    others. Is it that you are houseless and friendless? So was I. The foxes 
    have their shelter, and the birds their nests; but I, though Lord of all, 
    had nowhere to lay my head; and often day after day passed away, and no 
    soothing accents of friendship fell upon my ear. Is it the burden of sin? 
    Even that I bore in its accumulated and tremendous weight when I hung 
    accursed upon the tree.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 12. </p>
    <p align="justify">&quot;With You is the fountain of life.&quot;&nbsp; Psalm 36:9. </p>
    <p align="justify">Behold, what a fountain of life is God! All 
    intelligences, from the highest angel in heaven to the lowliest creature on 
    earth, drawing every breath of their existence from Him. &quot;In Him we live, 
    and move, and have our being.&quot; But He is more than this to the Church. He is 
    the fountain of love, as well as of life. The spirits of &quot;just men made 
    perfect,&quot; and the redeemed on earth, satiate their thirsty souls at the 
    overflowing fullness of the Father's love. How much do we need this truth! 
    What stinted views, unjust conceptions, and wrong interpretations have we 
    cherished of Him, simply because we overlook His character as the Fountain 
    of living waters! We &quot;limit the Holy One of Israel.&quot; We judge of Him by our 
    poor, narrow conception of things. We think that He is such a one as we 
    ourselves are. We forget, in our approaches, that we are coming to an 
    Infinite Fountain. That the heavier the demand we make upon God, the more we 
    shall receive, and that the oftener we come, the more are we welcome. That 
    we cannot ask too much. That our sin and His dishonor are, that we ask so 
    little. We forget that He is glorified in giving; and that the more grace He 
    metes out to His people, the richer the revenue of praise which He receives 
    in return. How worthy of such an infinite Fountain of love and grace is His 
    &quot;unspeakable gift.&quot; It came from a large heart; and the heart that gave 
    Jesus will withhold no good thing from those who walk uprightly. <br>
&nbsp; </p>
    <p align="justify">JANUARY 13. </p>
    <p align="justify">And when He (the Comforter) has come, He will reprove 
    (marg. convince) the world of sin.&quot; John 16:8. </p>
    <p align="justify">This is the great office of the Spirit- this is His first 
    work, prior to His bringing the soul to rest on the great sacrifice for sin. 
    Not a step will the soul take to Christ, until that soul has been brought in 
    guilty and condemned by the law of God. And this is the work of the Spirit. 
    &quot;No man,&quot; says the excellent Newton, &quot;ever did or ever will feel himself to 
    be a lost, miserable, and hateful sinner, unless he is powerfully and 
    supernaturally convinced by the Spirit of God.&quot; And what is the instrument 
    by which the Spirit thus powerfully and supernaturally convinces of sin? We 
    reply, the Law. &quot;By the law is the knowledge of sin.&quot; &quot;The law was our 
    schoolmaster to bring us unto Christ.&quot; The law, brought into the conscience 
    by the Holy Spirit; condemns the man, and leads him to condemn himself; it 
    holds up to view the holiness of God- the purity and inflexibility of every 
    precept- contrasts it with the unrighteousness, guilt, and misery, of the 
    sinner, and thus prostrates the soul in the dust, exclaiming in all the 
    lowliness of self-accusation, &quot;the law is holy, just, and good- I am guilty, 
    guilty, guilty.&quot; Through this instrument- the law of God- and thus 
    effectually, does the Holy Spirit convince the soul of sin, and lay it low 
    before God. <br>
&nbsp; </p>
    <p align="justify">JANUARY 14. </p>
    <p align="justify">&quot;Sufficient unto the day is the evil thereof.&quot; Matthew 
    6:34. </p>
    <p align="justify">It is a matter of much practical importance, that you 
    take heed not to anticipate or to forestall the promised grace. For every 
    possible circumstance in which you may be placed, the fullness of Christ and 
    the supplies of the covenant are provided. That provision is only meted out 
    as the occasions for whose history it was provided occur. Beware of creating 
    trouble by ante-dating it. Seen through the mist, the advancing object may 
    appear gigantic in size, and terrific in appearance; and yet the trouble you 
    so much dread may never come; or coming, it will assuredly bring with it the 
    &quot;word spoken in due season.&quot; In the case of every child of God, calamity 
    never comes alone; it invariably brings Jesus with it. <br>
&nbsp; </p>
    <p align="justify">JANUARY 15. </p>
    <p align="justify">&quot;Christ is all, and in all.&quot; Colossians 3:11. </p>
    <p align="justify">Anything, even if it be the blessed production of the 
    Eternal Spirit of God, which takes the place of Christ, which shuts out 
    Christ from the soul, is dangerous. In the great work of salvation, Christ 
    must be everything or nothing; from Him solely, from Him entirely, from Him 
    exclusively, must pardon and justification be drawn. Whatever, then, rises 
    between the soul and Christ- whatever would tend to satisfy the soul in His 
    absence- whatever would take His place in the affections, must be 
    surrendered. Is it as the plucking out of a right eye? It must be yielded. 
    Is it as the cutting off of a right hand? Let it go. Christ in his Godhead, 
    Christ in his humanity, Christ in his great and finished work, Christ in his 
    mediatorial fullness, must be all in all to the believer. <br>
&nbsp; </p>
    <p align="justify">JANUARY 16. </p>
    <p align="justify">&quot;If his children forsake my law, and walk not in my 
    judgments; If they break my statutes, and keep not my commandments; Then 
    will I visit their transgression with the rod, and their iniquity with 
    stripes. Nevertheless my loving-kindness will I not utterly take from him, 
    nor suffer my faithfulness to fail.&quot; Psalm 89:30-33 </p>
    <p align="justify">Divine love chastens, because it sees the necessity for 
    the correction. The Lord's love is not a blind affection. It is all-seeing 
    and heart-searching. When has He ever shown Himself blind to the follies of 
    His people? When has His love been ignorant of their sinful departures? Was 
    He blind to the unbelief of Abraham? He chastened him for it. Was He blind 
    to the deception of Jacob? He chastened Him for it. Was He blind to the 
    impatience of Moses? He chastened him for it. Was He blind to the 
    self-applause of Hezekiah? He chastened him for it. Was He blind to the 
    adultery and murder of David? He chastened him for it. Was He blind to the 
    idolatry of Solomon? He chastened him for it. Was He blind to the 
    disobedience of Jonah? He chastened him for it. Was He blind to the 
    self-righteousness of Job? He corrected him for it. Was He blind to the 
    denial of Peter? He rebuked him for it. It is our mercy to know that love 
    marks our iniquity, and that love and not justice, grace and not vengeance, 
    holds the rod and administers the correction. Do you think, O chastened 
    child of the Lord, that your Father would have touched you where your 
    feelings are the acutest, where your anguish is the deepest, had He not seen 
    a real necessity? Had He marked no iniquity, no flaw, no departure, no spot, 
    you would have known what the &quot;kisses of His mouth&quot; were, rather than the 
    strokes of His rod. And yet believe it, for he has declared it, those 
    stripes of His rod are as much the fruit and the expression of His love as 
    are the &quot;kisses of His mouth;&quot; &quot;For whom the Lord loves he chastens.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 17. </p>
    <p align="justify">&quot;And it shall come to pass, that before they call, I will 
    answer: and while they are yet speaking, I will hear. Isaiah 65:24. </p>
    <p align="justify">Remember, the throne of grace is near at hand. You have 
    not to travel far to reach it: no lengthy and painful journey; no wearisome 
    and mortifying pilgrimage. It is near at hand. Lying down or rising up- 
    going out or coming in- in the streets or in the house- in public or in 
    private- in the chamber or in the sanctuary, God is everywhere; and where He 
    is, there is a prayer-hearing and a prayer-answering God. In a moment, in 
    the greatest emergency, you may lift up your heart to the Lord, and in a 
    moment your cry shall be heard, and your request shall be granted. Remember, 
    the throne of grace is everywhere. On the land and on the sea- at home or 
    abroad- in the publicity of business or in the privacy of retirement, &quot;the 
    eyes of the Lord are upon the righteous, and His ears are open unto their 
    cry.&quot; Wherever a believer goes, he bears about with him the intercession of 
    the Spirit below, and he has the consolation of knowing that he has the 
    intercession of Jesus above. <br>
&nbsp; </p>
    <p align="justify">JANUARY 18. </p>
    <p align="justify">&quot;Mighty to save.&quot; Isaiah 63:1. </p>
    <p align="justify">Let us glance at the authoritative manner with which He 
    executes His mighty acts of grace. Mark His deportment. Was there anything 
    that betrayed the consciousness of an inferior, the submission of a 
    dependant, the weakness of a mortal, or the imperfection of a sinner? Did 
    not the God shine through the man with majestic awe, when to the leper He 
    said, &quot;I will, be clean;&quot;- to the man with the withered hand, &quot;Stretch forth 
    your hand;&quot;- to the blind man, &quot;Receive your sight;&quot;- to the dead man, &quot;I 
    say unto you, Arise;&quot;- and to the tumultuous waves, &quot;Peace, he still&quot;? Dear 
    reader, are you an experimental believer in Jesus? Then this omnipotent 
    Christ is wedded to your best interests. He is omnipotent to save- 
    omnipotent to protect- omnipotent to deliver- omnipotent to subdue all your 
    iniquities, to make you humble, holy, and obedient. All power resides in 
    Him. &quot;It pleased the Father that in Him&quot;- in Him as the Mediator of His 
    Church- &quot;all fullness should dwell.&quot; Not a corruption, but He is omnipotent 
    to subdue it: not a temptation, but He is omnipotent to overcome it: not a 
    foe, but He is omnipotent to conquer it: not a fear, but He is omnipotent to 
    quell it. &quot;All power,&quot; is His own consoling language, &quot;all power is given 
    unto Me in heaven and in earth.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 19. </p>
    <p align="justify">&quot;We know that we have passed from death unto life.&quot; 1 
    John 3:14 </p>
    <p align="justify">For it is a thing of whose possession the believer may be 
    assured. He can speak of its possession with holy boldness and with humble 
    confidence. The life of God in the soul authenticates itself. It brings with 
    it its own evidence. Is it possible that a believer can be a subject of the 
    quickening grace of the Holy Spirit, and not know it? Possess union with 
    Christ, and not know it? The pardon of sin, and not know it? Communion with 
    God, and not know it? Breathing after holiness, and not know it? Impossible! 
    The life of God in the soul evidences itself by its actings. Are you 
    sensible of your sinfulness? Do you love the atoning blood? Is Jesus 
    precious to your soul? Do you delight in God, and in retirement for 
    communion with Him? Then, for your encouragement we remind you, that these 
    are not the actings of a soul lying in a state of moral death, nor are these 
    the productions of a soil still unregenerate. They proceed from the 
    indwelling life of God, and are the ascendings of that life to God, the 
    Fountain from where it flows. Thus the weakest believer in Jesus may humbly 
    exclaim, &quot;This one thing I know, that whereas I was blind, now I see.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 20. </p>
    <p align="justify">&quot;Partakers of the inheritance of the saints in light.&quot; 
    Colossians. 1:12. </p>
    <p align="justify">The glorified saints are &quot;the saints in light.&quot; No more 
    veilings of the Father's countenance- no more &quot;walking in darkness, having 
    no light,&quot;- no more mourning over Divine desertions, the suspensions of the 
    Father's experienced love- no more tears to dim the eye- no more clouds of 
    unbelief to darken the mind- no more mental despondency to enshroud the 
    spirit; they leave the gloom, and the mist, and the fog, and the darkness of 
    ignorance, error, and pollution behind them, and they flee to the regions of 
    light, to &quot;the inheritance of the saints&quot; of which &quot;the Lamb is the light 
    thereof.&quot; <br>
    But it will be observed, that these glorified saints are said to be 
    &quot;partakers of the inheritance.&quot; There is something very emphatic in the 
    word. We are &quot;partakers&quot; of it now, in Christ our Head. In consequence of 
    our union to Christ, the exalted Head of the Church, we are at present 
    &quot;partakers&quot; of this inheritance. We have the first dawnings of it in our 
    soul: the foretaste and the antepast, and, what is best of all, the 
    indwelling of the Spirit, who is the earnest of its possession; and if we 
    have the &quot;earnest&quot; of the inheritance in the possession of the Spirit, we 
    must, and shall assuredly, have the inheritance itself. <br>
    &quot;Partakers of the inheritance of the saints in light.&quot; &quot;Partakers&quot; with all 
    the saints of God; &quot;partakers&quot; with the whole family of the elect; 
    &quot;partakers&quot; with all the children of adoption; &quot;partakers&quot; with Abraham, 
    Isaac, and Jacob; with David, and Solomon, and with all who have gone before 
    us, with all who have entered heaven a little in advance; and &quot;partakers&quot; 
    with all the &quot;ransomed of the Lord,&quot; who shall yet &quot;come to Zion with songs, 
    and everlasting joy upon their heads, obtaining joy and gladness, their 
    sorrow and their sighing fleeing away!&quot; Oh, who would not be a &quot;partaker of 
    the inheritance of the saints in light&quot;? Reader, if you are a humble 
    possessor of the inner life, you shall be a happy partaker of this glorious 
    inheritance- the life which is to come. <br>
&nbsp; </p>
    <p align="justify">JANUARY 21. </p>
    <p align="justify">&quot;This also we wish, even your perfection.&quot; 2 Cor. 13:9
    </p>
    <p align="justify">Seek larger degrees of grace. Let your standard be the 
    loftiest, and your aim the highest. Place no limit to that which God has not 
    limited. Never cease expecting until He ceases giving. If you are satisfied 
    with your present measure of grace, a worse sign you could not have. To be 
    content with being stationary in the divine life places you in a doubtful 
    position. It is an essential property of grace that it grows. It is the 
    immortal seed of God, and must, from its very nature, germinate. If your 
    faith does not increase, your doubts will increase; and if your grace does 
    not strengthen, your fears will strengthen. Fill the measure with pure 
    wheat, as one has said, and there will be no room for chaff. Aim after 
    elevated principles, if you desire elevated practice. Low principles 
    invariably lead to low practice. Watch against that which tends to impair 
    the vigor of your grace. Watch against your besetting sins- your greatest 
    infirmities- your strongest temptations. Beware of your own heart- beware of 
    self-confidence- beware of creature idolatry- beware of the world. Beware, 
    too, of any neglect of the means of grace. God has appointed His channels of 
    conveyance. Beware that you do not despise any one of them. A neglected 
    sanctuary- a forsaken throne of grace- an unread Bible- will soon bring 
    leanness into your soul. God has as much ordained the means of grace, as He 
    has appointed the grace of the means. </p>
    <p align="justify">JANUARY 22. </p>
    <p align="justify">&quot;This is a faithful saying, and worthy of all 
    acceptation, that Christ Jesus came into the world to save sinners.&quot; 1 
    Timothy 1:15. </p>
    <p align="justify">He came into the world to save sinners- and He will save 
    you. His compassion inclines Him to save sinners- His power enables Him to 
    save sinners- His promise binds Him to save sinners. And, oh, how easy is it 
    to be saved when the Holy Spirit draws the heart to Christ! It is not great 
    faith, nor deep experience, nor extensive knowledge that are required. The 
    dimmest eye that ever looked to Christ- the feeblest hand that ever took 
    hold of Christ- the most trembling step that ever traveled to Christ, has in 
    it present salvation- has in it life eternal. The smallest measure of real 
    faith will take the soul to heaven. Yes! there is hope for the trembling 
    penitent. Jesus suffered to the uttermost, therefore He is able to &quot;save to 
    the uttermost all that come unto God by Him.&quot; <br>
&nbsp; </p>
    <p align="justify">JANUARY 23. </p>
    <p align="justify">&quot;Christ shall be magnified in my body, whether it be by 
    life or by death.&quot; Phil. 1:20. </p>
    <p align="justify">You shall not lack a Christ when most you need Him. He, 
    who has been with you all your earthly pilgrimage, will be with you in its 
    last step. The Shepherd, who has guided you through the wilderness, will not 
    leave you when just emerging from it into the promised land. The Pilot, who 
    has conducted you across the stormy main, will not resign the government 
    just as the vessel enters the haven of rest. The Captain, who has conquered 
    for and conquered in you, will not leave you when on the eve of the final 
    conflict and the <br>
    certain victory. Oh no! Jesus will be with you to the last. Do not be 
    painfully anxious about a dying hour. Let all your solicitude be how you may 
    best glorify Him in your life- He will glorify Himself in your death. All 
    grace, all strength, all glory is laid up for you against that moment. And 
    when it comes, and not until then, will Jesus unlock the treasury and bring 
    it forth. But oh, to live to Him! To be able to say, &quot;To me to live is 
    Christ.&quot; Strive for this. Whatever opposes it, take it to His grace, lay it 
    beneath, yes, fasten it to His cross. Oh! let Christ be everything to you in 
    life, then will He be everything to you in death. <br>
&nbsp; </p>
    <p align="justify">JANUARY 24. </p>
    <p align="justify">&quot;Take heed, brethren, lest there be in any of you an evil 
    heart of unbelief, in departing from the living God.&quot; Hebrews 3:12. </p>
    <p align="justify">Observe to what cause He traces all departure from God- 
    unbelief. This is the sin which, in another place, he exhorts the Christian 
    to &quot;lay aside,&quot; as &quot;the sin which does so easily beset us.&quot; What is the easy 
    besetting sin of every child of God? Let any believer testify. Ask him to 
    point to his most subtle, constant, powerful, and dangerous foe. Ask him 
    what has the most easy access to his mind; what most entangles his feet, and 
    so impedes him in the race that is set before him; what has most easily and 
    frequently vanquished him; what has brought most distress to his soul, and 
    dishonor to God- and he will unhesitatingly reply, &quot;My evil heart of 
    unbelief.&quot; He may have constitutional infirmities, and be assailed by 
    peculiar temptations, and may yield to &quot;presumptuous sins,&quot; and these, in 
    secret and close transaction with God, may cause him deep bitterness and 
    humiliation of soul. But the sin which does so easily and so perpetually 
    beset him is the sin of unbelief, the fruitful cause of all other sin. For 
    as faith is the parent of all holiness, so is unbelief the parent of all 
    unholiness. <br>
&nbsp; </p>
    <p align="justify">JANUARY 25. </p>
    <p align="justify">&quot;In all things it behooved him to be made like unto his 
    brethren.&quot; Hebrews 2:17. </p>
    <p align="justify">Partaking of our nature, nothing that was human was 
    foreign to Him but the sin that tainted and defaced it. Separate from it all 
    that is fallen, exorcize every evil spirit from the soul, expel every low 
    sentiment from the mind, extirpate every selfish feeling from the heart, and 
    let all that remains of our humanity, be its pure affections, its exquisite 
    sensibilities, its refined feelings, its noble purposes, its lofty, 
    generous, and delicate sentiments of sympathy and love, and you have a 
    perfect portrait of our Lord and Savior. Our Lord, as man, was truly and 
    purely human. Entering Himself into every affinity of our nature, He became 
    intimate with each thought and feeling, with each sentiment and emotion, 
    with each sorrow and pang, with each tear, groan, and sigh of our humanity- 
    all, all were His, but its sin. Nor was it essential to the exquisite and 
    perfect tenderness and sympathy of His nature that He should, like us, be 
    sinful. No, this would have but beclouded, blunted, and impaired all the 
    gentle sensibilities and intellectual perceptions of His human soul, as in 
    us it has woefully done. The human susceptibilities which Jesus possessed 
    were all the deeper, richer, and intenser from the very fact of their 
    perfect purity, their entire sinlessness. How perfect, then, must be His 
    love, how tender His compassion, how exquisite His sympathy, since it flows 
    from a humanity all immaculate as His Godhead! <br>
&nbsp; </p>
    <p align="justify">JANUARY 26. </p>
    <p align="justify">&quot;My times are in your hand.&quot; Psalm 31:15. </p>
    <p align="justify">Let this precious truth divest your mind of all needless, 
    anxious care for the present or the future. Exercising simple faith in God, 
    &quot;Do not be anxious about anything.&quot; Learn to be content with your present 
    lot, with God's dealings with, and His disposal of, you. You are just where 
    His providence has, in its inscrutable but all-wise and righteous decision, 
    placed you. It may be a position painful, irksome, trying, but it is right. 
    Oh, yes! it is right. Only aim to glorify Him in it. Wherever you are 
    placed, God has a work for you to do, a purpose through you to be 
    accomplished, in which He blends your happiness with His glory. And, when 
    you have learned the lessons of His love, He will transfer you to another 
    and a wider sphere, for whose nobler duties and higher responsibilities the 
    present is, perhaps, but disciplining and preparing you. Covet, then, to 
    live a life of daily dependence upon God. Oh, it is a sweet and holy life! 
    It saves from many a desponding feeling, from many a corroding care, from 
    many an anxious thought, from many a sleepless night, from many a tearful 
    eye, and from many an imprudent and sinful scheme. Repairing to the 
    &quot;covenant ordered in all things and sure,&quot; you may confide children, 
    friends, calling, yourself, to the Lord's care, in the fullest assurance 
    that all their 'times' and yours are in His hand. <br>
&nbsp; </p>
    <p align="justify">JANUARY 27. </p>
    <p align="justify">&quot;If Christ has not been raised, your faith is vain; you 
    are yet in your sins.&quot; 1 Corinthians 15:17. </p>
    <p align="justify">Here was the grand evidence of the perfection and 
    acceptance of His sacrifice. The atoning work of Jesus was in itself perfect 
    and complete. It was all that God demanded, all that the Church required, 
    and all that law and justice asked. Yet there lacked one proof that this 
    work was accepted by God, and was satisfactory to divine justice. On the 
    cross He had uttered that wondrous cry, which sent gladness through all 
    heaven, and dismay through all hell- &quot;It is finished.&quot; But, lo, He dies! The 
    Captain of our salvation is conquered! The promised Victor is vanquished! He 
    is laid in the grave! The stone covers Him! The earth imprisons Him! What 
    proof have we now that He was more than mortal? What evidence that He was 
    God? What divine seal is affixed to the great charter of redemption? What 
    pledge have we that it is complete? What security against the law's loud 
    thunder, and the consuming flames of justice- against the wrath of an 
    offended God, and the condemnation that is to come? In a word, how may we 
    know that all the divine perfections are harmonized in our salvation, and 
    that &quot;whoever believes in Jesus shall not perish, but have everlasting 
    life&quot;? Behold, the Father raises Him from the dead! This is the evidence- 
    this is the seal- this is the pledge- and this is the security. We need even 
    ask no more. It satisfied God; it satisfies us. At that moment all created 
    intelligences were summoned to witness the great and final seal affixed to 
    redemption's perfect work; and while every eye was thus intently bent upon 
    the yielding grave, the Father, in that stupendous act of His power and 
    love, utters His solemn voice, &quot;This is my beloved Son, in whose person I 
    delight, and with whose work I am well satisfied.&quot; Oh, what majesty now 
    encircled the rising form of the incarnate God! Never had He appeared so 
    truly a Savior, never so illustrious a Redeemer, and never so perfectly the 
    Mediator and Advocate as now- sealed by God the Father, quickened by God the 
    Spirit, and radiant with the beams of His own divine glory. <br>
&nbsp; </p>
    <p align="justify">JANUARY 28. </p>
    <p align="justify">&quot;Who was delivered for our offences, and was raised again 
    for our justification.&quot;&nbsp; Romans 4:25. </p>
    <p align="justify">Obeying, suffering, and rising as the Representative, the 
    Surety, the Head of His Church, may we not say, that what He did was not so 
    much His own act, as that of the Church in Him? He obeyed not for Himself, 
    nor for Himself did He die and rise again, but for His &quot;body, the Church.&quot; 
    His resurrection, therefore, was as much His Church's entire release, 
    discharge, and justification, as it was His own. Then was the glorious 
    sentence of acquittal passed, then transpired the great act of 
    justification. The emerging of the Redeemer from the grave was the emerging 
    of the redeemed from all condemnation. His release from the cold grasp of 
    the destroyer was their release from the iron hand of the law. &quot;He was taken 
    from prison and from judgment,&quot; and as He passed out of the court of God's 
    justice, and from the prison-house of death, the Church, purchased with His 
    blood, passed out with Him, legally and fully discharged, exclaiming, as the 
    last barrier yielded and the last fetter broke, &quot;Who is he that condemns? It 
    is Christ who died; yes, rather, who has risen again!&quot; Precious Redeemer! 
    what surpassing glory beams forth from your emptied sepulcher! <br>
&nbsp; </p>
    <p align="justify">JANUARY 29. </p>
    <p align="justify">&quot;We shall be like Him, for we shall see Him as He is.&quot; 1 
    John 3:2. </p>
    <p align="justify">Who can fully tell of all the Redeemer's glory in heaven? 
    Or, were it fully revealed, what power to grasp, what faculties to 
    comprehend, what eye to behold, and what tongue to describe so lofty a theme 
    and so sublime a spectacle as this? But we shall behold it! We, too, shall 
    be glorified. The mind shall be adjusted to the mightiness of the theme, and 
    the eye shall be strengthened for the dazzling magnificence of the 
    spectacle. With every physical and mental and moral faculty perfectly 
    developed and sanctified, we shall be a glorified Church, placed in the 
    presence, and contemplating through eternity the glory, of a glorified Head. 
    We shall behold the Redeemer's glory. &quot;Shall I see the King in His beauty? 
    What! my eye behold His glory?&quot; Yes! if you see beauty in Jesus now, if your 
    eye beholds glory in Immanuel, feeble and dim though the view may be, so 
    surely shall you be with Him where He is, and shall contemplate the 
    ceaseless unfoldings of His unclouded glory, and that through all eternity.
    <br>
&nbsp; </p>
    <p align="justify">JANUARY 30. </p>
    <p align="justify">&quot;I have loved you with an everlasting love; therefore 
    with loving-kindness have I drawn you. Jeremiah 31:3. </p>
    <p align="justify">The law of love is the law of God's moral government of 
    His people. By this, and by this alone, He rules them. All that is 
    disciplinary in His conduct is resolvable into love. It is by kindness, 
    &quot;loving-kindness,&quot; yes, &quot;marvelous loving-kindness,&quot; that He wins back their 
    truant hearts, and binds them closer to Himself. &quot;I am the Lord, who 
    exercise loving-kindness.&quot; Oh, to imitate Him in this particular!- to be 
    like God in His kindness to the children of men. Then would there be less 
    sitting in the judgment-seat; less readiness to cast the first stone; less 
    harshness and censoriousness in our conduct and spirit towards others; and 
    more of that self-judging, self-condemning, and self-abasement, before the 
    holy, heart-searching, all-seeing Lord God, without which we may be awfully 
    deceived. <br>
&nbsp; </p>
    <p align="justify">JANUARY 31. </p>
    <p align="justify">&quot;Therefore glorify the Lord in the fires, even the name 
    of the Lord God of Israel.&quot; Isaiah 24:15 </p>
    <p align="justify">Great is the glory brought to our incarnate God by the 
    sanctified afflictions of His saints. How deep these often are, let many 
    testify; and yet the deeper the affliction, the deeper the glory. Behold the 
    glory brought to God by Daniel in the den of lions; by Shadrach, Meshach, 
    and Abednego in the fiery furnace; and by Paul and Silas in the prison. And 
    what is their history but a type of all the afflicted members of God's 
    family? The Lord will be glorified in His people: therefore does He afflict, 
    and try, and chasten them. &quot;The Lord tries the righteous.&quot; He has His den, 
    His prison, His furnace. He has His own mode, His appointed way, of proving 
    His work in their hearts; and, whether by the lions' den, or the prison, or 
    the furnace, He is glorified in them. To see how Christ can shut the mouth 
    of the lion, and can temper the devouring flame, and can unbar the doors of 
    the prison-house; how glorious thus appears His power! To mark the resigned 
    will, the subdued spirit, the mute submission, the cheerful acquiescence in 
    the deepest affliction- how glorious thus appears His grace! To behold the 
    daily strength imparted, the precious promises applied, the soothing 
    consolation experienced, how glorious thus appears his love! To see the 
    chaff scattered, and the dross consumed, and the mind brought into perfect 
    harmony with God's will; to say with David, &quot; My soul is even as a weaned 
    child,&quot; -how glorious thus appears His wisdom! Oh, if these are the 
    blessings which blossom upon the rod, then welcome the rod! If this is the 
    glory brought to the name of Jesus by a process of sanctified affliction, 
    then welcome the affliction! Only see that He is truly glorified in you by 
    it. See that He is glorified, while you are in the furnace, by your passive 
    graces; see that He is glorified, when you have come forth from the furnace, 
    by your active graces. &quot;When he has tried me, I shall come forth as gold.&quot;</p>
  </blockquote>
</blockquote>

<!--msnavigation--></td></tr><!--msnavigation--></table><!--msnavigation--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>



</td></tr><!--msnavigation--></table></body>

</html>
