JUNE 0
    <p align="justify"><b>JUNE 1. </b></p>
    <p align="justify">&quot;And the inhabitant shall not say, I am sick: the people 
    that dwell therein shall be forgiven their iniquity.&quot; Isaiah 33:24 </p>
    <p align="justify">Let the Christian invalid be cheered with the prospect of 
    before long arriving at this land of light and love, of rest and holiness. 
    The moment the spirit is &quot;absent from the body, and present with, the Lord,&quot; 
    it treads those balmy shores, where health breathes in the air, flows in the 
    waters, and sparkles in the sunbeams. There is no sickness in heaven, for 
    &quot;the people that dwell therein shall be forgiven their iniquity;&quot; and this 
    accounts for the absence of all physical malady. There is no sickness in 
    heaven, because there is no sin. But the more full enjoyment of this 
    blessing is reserved for the new earth, upon which the &quot;holy city, New 
    Jerusalem, coming down from God out of heaven, prepared as a bride adorned 
    for her husband,&quot; will dwell. Then it is that &quot;God shall wipe away all tears 
    front their eyes; and there shall be no more death, neither sorrow nor 
    crying, neither shall there be any more pain: for the former things are 
    passed away.&quot; Christian sufferer! you are nearing this land- a few more days 
    of languishing and pain, a few more nights of weary wakefulness, and you are 
    there! Don't you see, through the chinks of the &quot;earthly house of this 
    tabernacle,&quot; &quot;a building of God, a house not made with hands, eternal in the 
    heavens&quot;? Don't you see the &quot;city which has foundations, whose maker and 
    builder is God&quot;? It has &quot;no need of the sun, neither of the moon, to shine 
    on it: for the glory of God does enlighten it, and the Lamb is the light 
    thereof. . . The gates of it shall not be shut at all by day: for there is 
    no night there.&quot; Soon you will exchange this hospital for your Father's 
    house, and as you cross the threshold, the last pang is inflicted, the last 
    sigh is heaved, and the last tear is brushed from your eye. Then, at the 
    resurrection of the just, comes the new body. &quot;It is sown in corruption; it 
    is raised in incorruption: it is sown in dishonor; it is raised in glory: it 
    is sown in weakness; it is raised in power. It is sown a natural body, it is 
    raised a spiritual body.&quot; All this blessedness and glory Jesus has procured 
    for you. All this blessedness and glory awaits you; and into its full 
    possession and experience Jesus will soon bring you. Animated with such a 
    prospect, and cheered with such a hope, patiently endure the prolonged 
    sickness, the protracted suffering, exclaiming in the spirit and language of 
    Jesus, &quot;O my Father, if this cup may not pass from me, except I drink it, 
    Your will be done!&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 2. </p>
    <p align="justify">&quot;I have prayed for YOU&quot;. Luke 22:32 </p>
    <p align="justify">We must not overlook the individuality of our Lord's 
    intercession. As if forgetting for that moment the whole Church, and 
    regarding Peter as representing in his person each tempted believer, Jesus 
    makes him the especial object of His prayer. How much comfort do we lose in 
    overlooking this truth- in not more distinctly recognizing the personal 
    interest which each believer has in the love of Christ! &quot;My grace is 
    sufficient for you;&quot; &quot;I have prayed for you,&quot; are the gracious words with 
    which Jesus would meet each individual case. Think not then, O believer, 
    that you are alone, unloved, uncared for, unthought of- Jesus bears you upon 
    His heart; and if loved, and cared for, and remembered by Him, you can 
    afford to part with some creature stream, however loved and valued that 
    stream may be. Keep your eye intently fixed upon your Lord's intercession.
    <br>
    We too much lose ourselves in the crowd, and merge ourselves in the mass. We 
    forget alike our individual interest in the covenant, and our personal 
    obligation to glorify God in our different walks of life. But it is the 
    especial privilege of the believer to concentrate upon himself, as in focal 
    power, every thought and affection of God, just as the eye of a 
    well-executed portrait may be said to fasten itself exclusively upon each 
    individual in the room. &quot;I have prayed for you.&quot; O cheering declaration! 
    Christian reader, lose not sight of it. Come and lay your hand of faith upon 
    the covenant of grace, and say, &quot;the fulness of the covenant is mine.&quot; Lay 
    your hand upon the covenant of God, and say, &quot;the God of the covenant is 
    mine; Jesus, its Mediator, is my Savior. He obeyed, suffered, bled, and 
    expired, all for me. 'He has loved me, and has given Himself for me.' Lord! 
    do you think of me? does my case come up before Your notice? do You bear my 
    burden upon Your arm, my sorrow upon Your heart, my name upon Your lips; and 
    do You pray for my poor, assaulted, and trembling faith? Yes, Lord, You do. 
    I believe it, because You have said it, and press the precious truth, so 
    rich in consolation, to my trembling, grateful heart.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 3. </p>
    <p align="justify">&quot;I have prayed for you that your faith fail not.&quot; Luke 
    22:32 </p>
    <p align="justify">The Lord as its Shepherd goes before His flock. He 
    precedes it every step, not only to map its path, but also to provide for 
    all the circumstances, the most trivial and minute, of its history. To Him 
    nothing can be unforeseen, from Him nothing can be concealed. No event can 
    surprise Him, no contingency can thwart Him, no difficulty can embarrass 
    Him. The entire history of the individual saint of God, from his earliest to 
    his latest breath, is written in His book, when as yet it had no existence, 
    as minutely and as accurately as though it were a record of the past. In 
    anticipation of each developed circumstance, of each temptation and trial, 
    difficulty and need, Jesus prays for His people &quot;I have prayed.&quot; It would 
    seem as if the sorrow had reached His heart before it touched our own; as if 
    the assault had fallen upon Him before it fell upon us; and that, knowing 
    what would transpire, seeing in what critical and painful circumstances His 
    child would be placed, He anticipates his case by especial intercession on 
    his behalf: &quot;I have prayed for you.&quot; <br>
    Can the mind of the tried believer repose upon a truth more sustaining and 
    soothing than this? It had been a glorious unfolding of the love of Jesus, 
    to know that when the sifting came, when faith was actually tried, that then 
    Jesus prayed for the sufferer. But to be assured that before a dart was 
    winged, or a shock was felt, or even a suspicion was awakened that the 
    tempter was approaching, and that danger was near, Jesus, robed in His 
    priestly garments, and bearing the golden censer in His hand, had entered 
    within the veil to make especial intercession for that trial of faith- oh, 
    it is a view of His love, which to the mind of the tempted believer would 
    seem to overtop and outshine all others! <br>
    And for what does Jesus pray? That the temptation might not come? that faith 
    may not be tried? Oh no! He does not ask the Father in behalf of His people, 
    for their entire exemption from temptation and trial. Full well does He know 
    that if conformed to Him, their Head, they must through much tribulation 
    enter the kingdom. Pure and sinless though He was, needing no sifting and no 
    refining, He yet passed through each process as if there were in Him the 
    chaff to scatter, and the alloy to consume. How much more needful does Jesus 
    see that His people, in whom there is such an admixture of the precious with 
    the vile, so much indwelling sin, so much powerful corruption perpetually 
    seeking to destroy indwelling grace, should not be exempted from the process 
    which, painful though it be, is absolutely needful and eternally good! But 
    Jesus prays that in the actual trial of faith it might not fail. Now, why, 
    is it, O believing soul, that your tried faith has not failed? Why, have you 
    passed through the sifting with not one precious grain fallen to the ground? 
    Because your great High Priest prayed for you before the trial, and prayed 
    for you in the trial, and has not ceased to pray for you since the trial. 
    All upholding grace, all restraining grace, all restoring grace, all 
    establishing grace, has been meted out to you through the channel of your 
    Lord's perpetual and ever-prevalent intercession. Oh, how should this truth 
    endear the Savior to your heart! With what holy contrition should it fill 
    your spirit, and with what sweet affection should it constrain your soul to 
    a simple and an unreserved surrender to God! <br>
&nbsp; </p>
    <p align="justify">JUNE 4. </p>
    <p align="justify">&quot;Have faith in God.&quot; Mark 9:22 </p>
    <p align="justify">Have faith in Him as God. His character justifies it, His 
    word invites it, His promises encourage it, His blessing crowns it. How 
    frequently in the word does God condescend to invite the exercise of faith 
    in Himself by a declaration and on the ground of what He is. Thus to 
    Abraham: &quot;And when Abram was ninety years old and nine, the Lord appeared to 
    Abram, and said unto him, I am the Almighty God: walk before me, and be 
    perfect.&quot; And again to His Church: &quot;I am the Lord God, who brought you up 
    out of the land of Egypt; open your mouth wide, and I will fill it.&quot; How 
    kind and condescending in God is this mode of asking and encouraging the 
    confidence of His people! How signally does He come down to our weakness and 
    infirmity! What a foundation for faith to build upon does He reveal! what a 
    field for faith to work in does He open! what amplitude, what scope, and 
    what riches amid which it may revel! &quot;I am God all-sufficient. Is anything 
    too hard for me?&quot; Faith needs and asks no more. Less than this would not 
    meet its case more than this it could not have. When faith feels that it has 
    God's word for its warrant in believing, God's command for its rule in 
    obeying, God's promise for its encouragement in suffering, and God Himself 
    as the foundation of its confidence and the center of its rest, it becomes 
    invulnerable, and almost omnipotent. The exact measure of our faith is the 
    extent of our experimental knowledge of God. Acquaintance with God must 
    inspire the mind with confidence in Him. The more truly we know, the more 
    implicitly we trust in Him. It is in this way, among others, that He answers 
    the prayer of His people, &quot;Establish Your word unto Your servant, who is 
    devoted to Your fear.&quot; God establishes the truth of His word by enlarging 
    the believer's knowledge of Himself, and this knowledge is mainly attained 
    through the truth. The word reveals God, and an experimental knowledge of 
    God confirms the truth of the word; the one thus establishing the other. Our 
    faith, then, if it be a real principle, must have respect to God as God. 
    &quot;Have faith in God.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 5. </p>
    <p align="justify">&quot;Speak you comfortably to Jerusalem, and cry unto her, 
    that her warfare is accomplished, that her iniquity is pardoned: for she has 
    received of the Lord's hand double for all her sins.&quot; Isaiah 40:2 </p>
    <p align="justify">By sealing a sense of pardon upon the conscience, God 
    comforts the disconsolate. There is no comfort equal to this. As our deepest 
    sorrow flows from a sense of sin, so our deepest joy springs from a sense of 
    its forgiveness. What comfort can there be where this is lacking? what 
    sorrow where this is felt? &quot;When he gives quietness, who then can make 
    trouble?&quot; This was the comfort which God commanded the prophet to speak to 
    His spiritual Jerusalem: &quot;Say unto her, that her sins are forgiven.&quot; And 
    this is the message which the Lord sends to His whole Church. This comfort 
    have all His saints. Your sins, O believer, are forgiven. &quot;I have blotted 
    out your sins as a cloud, and your iniquities as a thick cloud,&quot; says God. 
    You are not called upon to believe that God will pardon, but that He has 
    pardoned you. Forgiveness is a past act; the sense of it written upon the 
    conscience is a present one. &quot;By one offering Jesus has perfected forever 
    those who are sanctified,&quot; has forever put away their sins. Faith in the 
    blood of Jesus brings the soul into the possession of a present forgiveness. 
    And when God the Holy Spirit thus imprints a sense of pardoned sin upon the 
    troubled conscience, all other sorrows in comparison dwindle into 
    insignificance. &quot;Strike, Lord,&quot; says Luther, &quot;I bear anything willingly, 
    because my sins are forgiven.&quot; Thus, beloved, God comforts his 
    conscience-troubled people. He loves to speak comfortably to their hearts. 
    Is it any delight to Him to see you carrying your burden of conscious sin 
    day after day and week after week? Ah no! He has procured the means of your 
    pardon at a great price- nothing less than the sacrifice of His beloved Son; 
    and will not the same love which procured your forgiveness, speak it to your 
    heart? Oh yes; the sun in the heavens pours not forth its light more freely, 
    light itself speeds not more rapidly, the mountain stream rushes on not more 
    gladsome and unfettered, than the pardon of sin flows from the heart of God 
    to the humble and the contrite mourner. Is sin your trouble? Does conscious 
    guilt cast you down? Look up, disconsolate soul! there is forgiveness with 
    God. It is in His heart to pardon you. Repair to His feet, go you to God's 
    confessional, and over the head of the atoning sacrifice acknowledge your 
    transgression, and He will forgive the iniquity of your sin. And, oh, what 
    will be the joy of your heart, the music of your lips, the grateful 
    surrender of your person, when Jesus says, &quot;Your sins are forgiven; go in 
    peace&quot;! <br>
&nbsp; </p>
    <p align="justify">JUNE 6. </p>
    <p align="justify">&quot;And he that takes not his cross, and follows after me, 
    is not worthy of me.&quot; Matthew 10:38 </p>
    <p align="justify">How few there are, among the many professing Christ, who 
    yet know anything by experience of the great and wondrous life of faith! 
    Only those who are taught by the Spirit the plague of their own hearts can 
    possibly know it. How few there are who appear to possess vital religion in 
    their souls! How few choose Christ with His cross! The great mass of 
    professors are aiming to separate them. They would sincerely bear the name 
    of Christ, and be accounted as the followers of Christ, and do something for 
    the cause of Christ; but they hide His cross, they are ashamed of His cross, 
    they shrink from His cross. Christ and His outward lowliness, Christ and His 
    poverty, Christ and His humiliation, Christ and the world's despising, form 
    no part of their creed nor their religion. But Christ and the world, Christ 
    and the popular opinion, Christ and the slavery of sin, Christ and an 
    unhumbled spirit, Christ and a love of money, and ease, and self-indulgence, 
    make up the religion of vast numbers who yet profess and call themselves 
    Christians. Awful fact! How forcibly does it remind us of the solemn words 
    of Jesus, &quot;Not every one that says unto me, Lord, Lord, shall enter into the 
    kingdom of heaven; but he that does the will of my Father who is in heaven.&quot; 
    Let us, in view of this solemn truth, search our hearts, and ask the 
    searching of God's Spirit; and in ascertaining the real state of our souls, 
    let us take nothing for granted, rest not in past experience, nor in gifts, 
    nor usefulness, but be satisfied only with the present, inward witness of 
    the Holy Spirit. <br>
&nbsp; </p>
    <p align="justify">JUNE 7. </p>
    <p align="justify">&quot;Submit yourselves therefore to God.&quot; James 4:7 </p>
    <p align="justify">Submission to the Divine will is a great advance in 
    holiness; and this is mainly and effectually attained through sanctified 
    chastisement. In prosperity, how full are we of self-sufficiency! When the 
    Lord asks our obedience, we give Him our counsel. But when He sends the rod, 
    and by the accompanying grace of His Spirit sanctifies its stroke, we learn 
    in what true obedience consists. It was in this school our blessed Lord 
    Himself was taught. &quot;Though He were a Son, yet learned He obedience by the 
    things which He suffered.&quot; He learned to obey in suffering- to bring His 
    will in suffering into complete submission to His Father's will. God has not 
    in His family such obedient children as those who, &quot;passing under the rod,&quot; 
    are &quot;brought into the bond of the covenant.&quot; Oh, what a high Christian 
    attainment is submission to the will of God! The noblest grace attainable 
    upon earth is it. When our Lord taught His disciples to pray to the Father 
    for the spread of holiness, He embodied the petition, in these words, &quot;Your 
    will be done on earth, as it is in heaven.&quot; The universal and complete 
    holiness of heaven springs from the universal and complete perfection in 
    which the will of God is done by angels and glorified spirits. In proportion 
    as the Divine will prevails upon earth, holiness will reign. And, oh, what a 
    beauteous earth and what a blissful world would this be, were the will of 
    God done by every creature! In the new earth, in which will dwell 
    righteousness, it will be so. The original harmony of this fallen universe 
    will then be restored, its pristine beauty recovered, and God, in the person 
    of His Son, will once more reign over, and walk in the midst of, a people 
    whose will shall be but the reflection of His own. Thus to approximate to 
    the Divine will is to assimilate with the Divine holiness. What God will, 
    how God will, and when God will, defines the rule which should govern all 
    the conduct and limit all the desires of the child of God. The instant the 
    overwhelmed heart is brought into this state, the afflicted believer has 
    planted his feet upon the Rock that is higher than he. All is peace, all is 
    composure, because all is submission to the will of God. &quot;The Lord reigns&quot; 
    is the truth whose all-commanding yet gentle whisper has stilled the tempest 
    and calmed the waves. In its intense anxiety that the Divine will might be 
    done, the chastened soul is but breathing after deeper holiness; and every 
    fervent desire for the attainment of holiness is holiness already attained. 
    Blessed chastening of love, that produces in this world, so distant and 
    uncongenial, the buds and blossoms and fruits of heaven! A richer fruit 
    grows not within the Paradise of God than Holiness. And yet, in the 
    experience of a chastened believer, bleeding under the rod of his heavenly 
    Father, there may be obtained such victories over sin, such purification of 
    heart, such meekness of spirit, such Christ-like conformity, and such a 
    discipline of the will, as to make him a rich &quot;partaker of the Divine 
    holiness.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 8. </p>
    <p align="justify">&quot;Now the just shall live by faith.&quot; Hebrews 10:38 </p>
    <p align="justify">We cannot too frequently nor too deeply study the 
    profound meaning of these words. God will have his child perpetually looking 
    to, leaning upon, and receiving from Him. At present we are but in an 
    immature state. We are not, therefore, in a condition to be trusted with 
    grace for the future. Improvident and careless, we would soon squander and 
    exhaust our resources; and when the emergency came, we should find our 
    selves unprepared to meet it. The Lord, in wisdom and love, keeps all our 
    grace in His own hands, and deals it out just as our circumstances demand. 
    Oh, who that knows his own heart, and the heart of Christ, would not desire 
    that all his supply should be in God, and not in himself? Who, so to speak, 
    would wish to be his own spiritual treasurer? Who that knows the blessedness 
    of a life of faith, the sweetness of going to God in everything, and for 
    everything, would wish to transfer his mercies from Christ's keeping to his 
    own, or wish to hold in the present the supply of the future? Be satisfied, 
    dear reader, to walk by faith, and not by sight. You have a full Christ to 
    draw from, and a faithful God to look to. You have a &quot;covenant ordered in 
    all things and sure,&quot; and the precious promise, &quot;As your days, so shall your 
    strength be,&quot; to lean confidently upon all your journey through. Be content, 
    then, to be poor and dependent. Be willing to travel on empty-handed, seeing 
    God's heart opened, and Christ's hand outstretched to supply your daily 
    bread. Oh! it is sweet to be a dependent creature upon God- to hang upon a 
    loving Father- to live as a poor, needy sinner, day by day, moment by 
    moment, upon Jesus- to trace God in ten thousand ways- to mark His wisdom 
    here, His condescension there- now His love, and then His faithfulness, all 
    combining and exerted for our good- truly it is the most holy and blessed 
    life upon earth. Why should we, then, shrink from any trial, or flee from 
    any duty, or turn aside from any cross, since for that trial, and for that 
    duty, and for that cross, Jesus has provided its required and appropriate 
    grace? You are perhaps exclaiming, &quot;Trouble is near!&quot; Well, be it so. So 
    also Divine grace is near- and strength is near - and counsel is near- and 
    deliverance is near- and Jesus is near- and God is near- and a throne of 
    grace is near; therefore, why must you fear, though trouble be near? &quot;God is 
    our refuge and strength, a very present help in trouble.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 9. </p>
    <p align="justify">&quot;As the Father has loved me, so have I loved you: 
    continue you in my love.&quot; John 15:9 </p>
    <p align="justify">What sweet repose is here for the saints of God. Does God 
    rest in His love? then the believer in Jesus may rest in it too. Does 
    Infinity, find repose here? then may a poor finite creature. Does Immanuel 
    rest in it? then may I, resting in Immanuel. If it is enough for Jehovah, 
    surely, it is enough for the people of Jehovah. Our dear Lord's exhortations 
    harmonize with this truth, &quot;Abide in me;&quot; &quot;Continue in my love.&quot; Beloved 
    reader, come and rest in this love- Jesus invites you to its blessed repose. 
    Are you weary, tossed with tempest? Is there sadness in your spirit, sorrow 
    in your heart, a cloud upon your mind? Is some crystal cistern broken, some 
    fragrant flower withered, some fond and pleasant mercy gone? &quot;Come,&quot; says 
    Jesus, &quot;and rest in my love- rest in the reality of my love- rest in the 
    depth of my love- rest in the tenderness of my love- rest in the 
    deathlessness of my love.&quot; Oh blessed rest! Poor, heart-broken sinner, 
    weeping penitent, weary, laboring soul! what do you need? Mercy? it is in 
    Christ. Forgiveness? it is in Christ. Acceptance? it is in Christ. The 
    silencing power of love? it is in Christ. A reconciled Father, a pacified 
    God? He is in Christ. All that you need is in Christ. Draw near, then, and 
    rest in His love. The Father rests in Jesus, His justice rests in Jesus, His 
    holiness rests in Jesus, His truth rests in Jesus, His power rests in Jesus- 
    and in Jesus you too may rest! God rests in His love towards you, because He 
    rests in the Son of His love. And in the Son of His love your weary, jaded, 
    trembling spirit may find full and eternal repose. And whatever your present 
    circumstances are, be the severity of your Father's dealings what it may, 
    ever remember that He still rests in His love. Judging of Him by providences 
    rather than by promises, your faith may become unhinged from this truth. But 
    the standard by which you are to form your views of God's character is the 
    same by which you are to judge your own- His word. That word declares that 
    He rests in His love, that He now rests in it, that He rests in it at the 
    present time, and, therefore, He rests in it at the moment that His 
    providences in your history are the darkest and most lowering. When to your 
    view all things seem against you- when even God himself seems against you- 
    then is He resting with infinite satisfaction and delight in the love with 
    which He has loved you from everlasting. And when all the mighty wheels of 
    His providence are rapidly revolving, when event follows event, and 
    convulsion succeeds convulsion- when your spirit is agitated, and your heart 
    is alarmed, and your whole soul is awe-struck and appalled at the 
    wonder-workings of His power, then is God calmly, serenely, resting in His 
    love towards you, unmoved, unruffled, unbeclouded by the things which 
    convulse the universe. <br>
&nbsp; </p>
    <p align="justify">JUNE 10. </p>
    <p align="justify">&quot;The Lord has laid on him the iniquity of us all.&quot; Isaiah 
    53:6 </p>
    <p align="justify">How shall we account for the sufferings of Christ, which 
    were intense, and mysterious, if not on the ground of their vicarious 
    character? Those sufferings were intense in the extreme. There was a 
    severity in those who, if not required by Divine justice, would be perfectly 
    unaccountable. Heaven, earth, and hell, all were in league against Him. 
    Survey His eventful history- mark every step which He took from Bethlehem to 
    Calvary; and what do we learn of His sufferings, but that they were of the 
    most extraordinary and intense character. His enemies, like dogs of war, 
    were let loose upon Him. His professed followers themselves stood aghast at 
    the scenes through which their Lord was passing- one betraying Him, another 
    denying Him, and all, in the hour of His extremity, forsaking Him. Is it any 
    wonder that, in the anguish of His soul, His suffering humanity should 
    exclaim, &quot;Father, if it be possible, let this cup pass from me; yet not my 
    will, but yours be done.&quot; In that awful moment, all the waves and billows of 
    God's wrath, due to the sins of His people, were passing over Him. The 
    Father, the last resource of sympathy, veiled His face, and withdrew from 
    Him His sensible presence; and on the cross, draining the cup of sorrow, He 
    fulfilled the prophecy, which spoke of Him- &quot;I have trodden the wine press 
    alone; and of the people there were none with me.&quot; <br>
    His sufferings, too, were mysterious. Why a holy, harmless being, whose 
    whole life had been one act of unparalleled beneficence, should be doomed to 
    persecution so severe, to sufferings so acute, and to a death so painful and 
    ignominious, the denier of the atonement must be embarrassed to account. But 
    the doctrine of a vicarious sacrifice explains it all, and presents the only 
    key to the mystery. &quot;He was made sin for us, who knew no sin, that we might 
    be made the righteousness of God in Him.&quot; &quot;Christ has redeemed us from the 
    curse of the law, being made a curse for us.&quot; All the mystery now is gone. 
    He was &quot;made sin for us.&quot; He was &quot;made a curse for us.&quot; He bore the sin, and 
    consequently the penalty of sin. Had we been left, Christian reader, to bear 
    our sins, we must inevitably have borne alone the punishment of our sins. 
    But Jesus took upon Him our sins. For this, He became a party in the 
    covenant of redemption; for this, He assumed our nature; for this, He 
    sorrowed in Gethsemane; for this, the law of God exacted its utmost claim; 
    and for this, the justice of God inflicted the utmost penalty. Oh, what a 
    truth is this! The Son of God offering Himself up a sacrifice for sin! He 
    who knew no sin- who was holy, harmless, and undefiled- not one thought of 
    evil in His heart, yet made sin, or a sin-offering! Oh the greatness of the 
    thought! If God had not Himself declared it, we could not have believed it, 
    though an angel's tongue had announced it. God Himself must proclaim it; and 
    because He has so proclaimed it, we believe it. And God alone can write it 
    upon the heart. <br>
&nbsp; </p>
    <p align="justify">JUNE 11. </p>
    <p align="justify">&quot;Then shall we know, if we follow on to know the Lord.&quot; 
    Hosea 6:3 </p>
    <p align="justify">True faith in God supposes him reconciled in Christ. This 
    is the ground-work of all holy, humble converse with God. But here we must 
    be cautious of placing a limit, as too many do. It is a great display of 
    sovereign grace that we should have peace with God. God reconciled to us in 
    Jesus is, of all divine and experimental truths, the greatest. Until this is 
    experienced, we can affirm of no individual that he is safe for eternity. 
    Yet, alas! what numbers reject this truth, and still dream on of heaven! 
    But, great as is this grace, it is not less our mercy to be advancing, on 
    the ground of assured peace, to more matured attainments in universal 
    holiness. We are, at best, but dull scholars in the science of spiritual 
    arithmetic. We have imperfectly learned one of its first rules, that of 
    adding grace to grace. &quot;Giving all diligence,&quot; exhorts the apostle, &quot;add to 
    your faith virtue,&quot; etc. Peace through the atoning blood being obtained, the 
    movement is to be progressive, the course onward; each day, if possible, 
    augmenting the measure of our grace, and adding to the number of the 
    Spirit's graces. Reconciliation with God is but the starting-post in the 
    divine life, not the finish-line; it is the commencement, and not the end, 
    of our course. In other words, vast numbers rest in their first reception of 
    Christ. They are hopefully converted, they unite themselves with a 
    particular section of the Church of God, and settle down under an attached 
    ministry. But here they seem to abide. There is no advance, no progress, no 
    forgetting of the things that are behind, pressing upwards to higher rounds 
    in the glorious ladder, which a gracious Father has let down out of heaven, 
    by which we may ascend to heaven. Content with having placed the foot upon 
    the first step, there they remain. There is no &quot;following on to know the 
    Lord.&quot; And yet why has the Lord removed the burden from the shoulder, but 
    that we might mount upward? Why has He broken the chains from our feet, but 
    that we may go forward? Thus are we constantly forgetting that the cross is 
    our starting-point in our race, and yet ever to be kept in view- while 
    holiness, breathed after upon earth, and in some blessed degree attained, 
    but perfected in heaven, is our bright and certain goal. <br>
&nbsp; </p>
    <p align="justify">JUNE XII. </p>
    <p align="justify">&quot;Hitherto have you asked nothing in my name: ask, and you 
    shall receive, that your joy may be full.&quot; John 16:24 </p>
    <p align="justify">A most powerful incentive to prayer is found in a close 
    and realizing view of the atoning blood. What encouragement does it present 
    to this blessed and holy life of communion with God! the atoning blood!- the 
    mercy-seat sprinkled over!- the High Priest before the throne!- the cloud of 
    incense constantly ascending!- the Father well pleased! What can more freely 
    invite the soul that pants for close and holy communion with God? And when 
    the atoning blood is realized upon the conscience, when pardon and 
    acceptance are sealed upon the heart by the Eternal Spirit, oh, then what a 
    persuasion to draw near the throne of grace has the believer in Christ! 
    Then, there is no consciousness of guilt to keep the believer back; no dread 
    of God; no trembling apprehensions of a repulse. God is viewed through the 
    cross as reconciled, and as standing in the endeared relationship, and 
    wearing the inviting smile of a Father. With such an altar, such a High 
    Priest, such atoning blood, and such a reconciled God, what an element 
    should prayer be to a believer in Christ! Let the soul, depressed, burdened, 
    tried, tempted, as it may be, draw near the mercy-seat: God delights to 
    hear, delights to answer. Taking in the hand the atoning blood, pleading the 
    infinite merit of Christ- reminding the Father of what His Son has 
    accomplished, of His own gracious promise to receive and favorably answer 
    the petition endorsed with the name and presented in behalf of that Son- the 
    feeblest child of God, the most disconsolate, the most burdened, may 
    approach and open all the heart to a prayer-hearing and prayer-answering 
    God. Let the atoning blood be strenuously pleaded, let the precious and 
    infinite merit of Christ be fully urged, and the blessing petitioned for 
    will be obtained. <br>
    May not this be assigned as a reason why so few of our petitions are 
    answered, why so little blessing is obtained- the faint pleading of the 
    atoning blood? There is so feeble a recognition of the blessed way of 
    access, so little wrestling with the precious blood, so little looking by 
    faith to the cross, the dear name of Immanuel so seldom urged, and when 
    urged so coldly mentioned- oh, is it any marvel that our prayers return to 
    us unanswered, the petition ungranted, the draft on the full treasury of His 
    love unhonored? The Father loves to be reminded of His beloved Son; the very 
    breathing of the name to Him is music; the very waving of the censer of 
    infinite merits to Him is fragrant. He delights to be pressed with this 
    plea; it is a plea at all times prevalent; it is a plea He cannot reject; it 
    glorifies Himself, honors His Son, while it enriches him who urges it. And, 
    oh, in the absence of all other pleas, what a mercy to come with a plea like 
    this! Who can fully estimate it? No plea has the poor believer springing 
    from himself: he searches, but nothing can he find on which to rest a claim; 
    all within is vile, all without is marred by sin; unfaithfulness, 
    ingratitude, departure do but make up the history of the day. But in Christ 
    he sees that which he can urge, and in urging which God will hear and 
    answer. <br>
&nbsp; </p>
    <p align="justify">JUNE 13. </p>
    <p align="justify">&quot;Those who wait upon the Lord shall renew their 
    strength.&quot; Isaiah 40:31 </p>
    <p align="justify">We may here meet a question which has often been asked by 
    those who are conscious of a relapsed state of soul- &quot;Am I still to be found 
    in spiritual duties and enjoyments while sensible of a backsliding state of 
    heart from God?&quot; To this we reply- The warrant of a Christian's duty is not 
    the measure of his grace, but the command of his God. If this be so- and we 
    have no reason to question its truth- then, be your state of soul low as it 
    may, you are bound to meet all those obligations and to discharge all those 
    duties which a profession of Christ enjoins, irrespective of the spiritual 
    and mental fluctuations to which the soul is always exposed. Unless aware of 
    his design, Satan will here obtain a great advantage over you. Assuming the 
    form of an angel of light, and with angelic gentleness and plausibility, he 
    will suggest that your frame of soul is too torpid and lifeless and dull to 
    draw near to God; that your affections are too frigid, your love too 
    congealed, your heart too carnal, your mind too groveling, your pursuits too 
    earthly, your backslidings too great, your neglects too many to take to 
    Christ. He will hold up to view the folly, the hypocrisy, and the 
    inconsistency of being found in the employment and use of holy and spiritual 
    duties, while your soul thus cleaves to the dust. But listen not to his 
    false suggestions, and heed not his sophistical reasoning, no, not for a 
    moment. It is only in the way of waiting upon God that you will be recovered 
    from the lapsed state of your soul. In the way of meditation, of confession, 
    of tears, of prayer, you may yet rise from the dust, and with bolder pinion, 
    and richer plumage, and sweeter song, soar to the gate of heaven, and return 
    again, scattering around you its blessings, and reflecting its glory. Oh! go 
    to Jesus, then, however low and discouraging your spiritual state may be, 
    and relax not a single means of grace. <br>
&nbsp; </p>
    <p align="justify">JUNE 14. </p>
    <p align="justify">&quot;Though I walk in the midst of trouble, you will revive 
    me.&quot; Psalm 138:7 </p>
    <p align="justify">Contemplate the Psalmist's circumstances &quot;Walking in the 
    midst of trouble.&quot; It was no new and untrodden path along which he was 
    pursuing his way to God. The foot-print, sometimes stained with blood, 
    always moistened with tears- of many a suffering pilgrim might be portrayed 
    in that way, from the time that Abel, the primeval martyr, laid the first 
    bleeding brow that ever reposed upon the bosom of Jesus. And yet how often 
    does trial overtake the believer, as &quot;though some strange thing had happened 
    to him&quot;! That at the peculiar nature of an affliction a Christian man should 
    be startled and alarmed, would create no surprise; but that he should be 
    startled at the trial itself, as if he alone- the only one of the family- 
    were exempted from the discipline of the covenant, and had no interest in 
    the Savior's declaration, &quot;In the world you shall have tribulation,&quot; might 
    well astonish us. <br>
    But David's experience is that of many of the spiritual seed of David. His 
    words seem to imply, continuous trial: &quot;I walk in the midst of trouble.&quot; 
    With how many travelers to the celestial city it is thus! They seem never to 
    be without trial. They know no cessation, they obtain no repose, they 
    experience no rest. The foam of one mountain billow has scarcely broken and 
    died upon the shore, before another follows in its wake- &quot;Deep calls unto 
    deep.&quot; Is it the trial of sickness? the darkened chamber, scarcely ever 
    illumined with one cheering ray of light, the bed of suffering, seldom 
    offering one moment's real repose, the couch of weariness, rarely left, are 
    vivid pictures of trial, drawn from real life, needing no coloring of the 
    fancy to heighten or exaggerate. Is it domestic trial? What scenes of 
    incessant chafings and anxieties, turmoils and sources of bitterness, do 
    some families present; trouble seems never to absent itself from the little 
    circle. Yes, it is through a series of trials that many of Christ's 
    followers are called to travel. The loss of earthly substance may be 
    followed by the decay of health, and this succeeded perhaps by that which, 
    of all afflictions, the most deeply pierces and lacerates the heart, and for 
    a season covers every scene with the dark pall of woe- the desolation of 
    death. Thus the believer ever journeys along a path paved with sorrow, and 
    hemmed in by trial. Well, be it so! We do not speak of it complainingly; God 
    forbid! We do not arraign the wisdom, nor doubt the mercy, nor impeach the 
    truth of Him who has drawn every line of that path, who has paved every step 
    of that way, and who knows its history from the end to the beginning. Why 
    should our heart fret against the Lord? Why should we weary at the way? It 
    is the ordained way- it is the right way- it is the Lord's way; and it is 
    the way to a city of habitation, where the soul and body- the companions of 
    the weary pilgrimage- will together sweetly and eternally rest. Then all 
    trouble ceases; then all conflict terminates. Emerging from the gloom and 
    labyrinth of the wilderness, the released spirit finds itself at home, the 
    inhabitant of a world of which it is said, &quot;God shall wipe away all tears 
    from their eyes; and there shall be no more death, neither sorrow, nor 
    crying, neither shall there be any more pain; for the former things are 
    passed away.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 15. </p>
    <p align="justify">&quot;My soul is exceeding sorrowful, even unto death.&quot; 
    Matthew 26:38 </p>
    <p align="justify">The spiritual troubles which encompass the Christian are 
    the deepest and the severest of all his trials. What, in comparison, are 
    others? Our Lord keenly felt this when He uttered that affecting 
    exclamation, &quot;Now is my soul troubled; and what shall I say? Father, save me 
    from this hour but for this cause came I unto this hour.&quot; What to Him- 
    galling and agonizing as they were- what to Him the smiting, and the 
    scourging, and the spitting, and the excruciating torture, compared with the 
    sword which was now entering His soul- the mental conflict and spiritual 
    sorrow which, in the hour of atonement, amazed, staggered, and overwhelmed 
    Him? Listen again to His affecting cry: &quot;My soul is exceeding sorrowful, 
    even unto death.&quot; Then, withdrawing Himself from His disciples- for the 
    human sympathy upon which He had relied in anticipation of the hour of 
    suffering failed Him now- retiring from man, He flung Himself upon the bosom 
    of God, and kneeling down, He prayed, &quot;O my Father, if it be possible, let 
    this cup pass from me!&quot; Such, my soul, was the conflict which your Savior 
    endured for you! <br>
    Partakers of Christ's sufferings, all true believers are in a measure 
    acquainted with some of those soul troubles which thus overwhelmed the Son 
    of God. The suspensions of Divine consolation- the hidings of God's 
    countenance- the assaults of Satan- the contact and conflict with sin- are 
    bitter ingredients in that cup of spiritual sorrow of which they are 
    sometimes called deeply to drink. <br>
    Are you, beloved, walking in the midst of trouble? Think not that you are 
    alone. May your eye of faith be &quot;anointed with fresh eye-salve,&quot; to see One 
    walking side by side with you, the same who walked with the three children 
    through the fiery furnace, &quot;whose form is like the Son of God.&quot; Yes! Jesus 
    is with you in your trial. Christ is with you in your trouble. The path, 
    however strait, is not so narrow that your Lord cannot tread it with you, 
    side by side. Your way is not so intricate that He cannot enable you to 
    thread your steps through the labyrinth. There is room enough for you and 
    Christ to walk together. He is with you; though, like the two disciples 
    journeying in mournful communion one with the other to Emmaus, your eyes may 
    be so blurred that you see Him not, yet is He traveling with you along that 
    sad and mournful, that lone and pensive path. Christ is in your adversity- 
    Christ is in your cross- Christ is in your burden- Christ is in your 
    suffering- Christ is in your persecution- Christ is m your sickness- yes, 
    Christ is at your side every step you take, and He will conduct you safely 
    to your Father's house. Though you walk in the midst of trouble, He will 
    revive you. <br>
&nbsp; </p>
    <p align="justify">JUNE 16. </p>
    <p align="justify">&quot;Call upon me in the day of trouble: I will deliver you, 
    and you shall glorify me.&quot; Psalm 50:15 </p>
    <p align="justify">It is in the time of trouble that we learn to pray with 
    new power. We become more thoroughly acquainted with the divine nature and 
    the omnipotent energy of prayer. We learn what our resources, as the true 
    sons of Israel, are. Many are then led to pray who never prayed before. 
    &quot;Lord, in trouble have they visited You, they poured out a prayer when Your 
    chastening was upon them.&quot; Then it is the proud spirit yields; the knee, 
    that never bent before, bends now, and the terrified soul cries out unto Him 
    whose chastening is upon it. The slumbering Christian, too, is awakened to 
    call upon God. Then it is he finds at what a distance he had been living 
    from God. Then he discovers his true position- the real state of his soul- 
    touching prayer. Thus aroused, like the slumbering prophet, by a voice, and 
    startled by a rebuke issuing from a quarter he would least have suspected- 
    &quot;What meanest you, O sleeper? arise and call upon your God!&quot;- he awakes, and 
    finds himself in a storm, threatening instant destruction. To what does he 
    then betake himself? David shall answer: &quot;I give myself unto prayer.&quot; And 
    oh, how, eloquent is then the voice of the wrestling believer! Never did the 
    fugitive prophet &quot;pray unto the Lord his God&quot; as when walking in the midst 
    of trouble. &quot;I cried by reason of my affliction unto the Lord, and He heard 
    me; out of the belly of hell cried I, and You heard my voice. When my soul 
    fainted within me, I remembered the Lord: and my prayer came in unto You, 
    into Your holy temple.&quot; In this way the Lord revives the spirit of prayer 
    within us. And oh, what words can describe the blessedness of prayer in 
    trial!- the preciousness of the privilege of having a God to go to, a Father 
    to flee to in trouble! To bring you more deeply and personally into the 
    experience of this, dear tried Christian, the Lord your God is dealing with 
    you now. O beloved, betake yourself unto prayer! You shall indeed find it 
    the outlet of all sorrow, and the inlet of all joy. Welcome the trouble that 
    thus revives you. Receive with meekness of spirit, yes, with gladness of 
    heart, the discipline, however humbling, that throws you upon God- yes, that 
    severs you from all creatures, and that shuts you up to Him alone. That 
    discipline, painful as it is, springs from love. In love that trouble is 
    sent, in love that cross is permitted, in love that cup is given, in love 
    that rod is used- it is to set you upon the work of prayer. What are these 
    frowns of your Father, what these hidings of your Savior, what these 
    withholdings of the Spirit, but to allure you within the holiest, there to 
    find the throne of grace? &quot;I will go,&quot; says the Lord, &quot;and return to my 
    place, until they acknowledge their offence, and seek my face; in their 
    affliction they will seek me early.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 17. </p>
    <p align="justify">&quot;You meet him that rejoices and works righteousness, 
    those that remember you in your ways.&quot; Isaiah 64:5 </p>
    <p align="justify">Let us not fail to learn the secret of receiving much 
    from Christ- even the free dispensing abroad of what we have already 
    received. Be assured of this, that he will receive the most from God who 
    does the most for God: &quot;The diligent soul shall be made fat. He becomes poor 
    that deals with a slack hand: but the hand of the diligent makes rich. There 
    is that scatters, and yet increases.&quot; This is God's law, and He will never 
    repeal it; His promise, and He will ever and in all cases make it good. Go 
    forth, believer in Christ, and let your beams of light irradiate, let your 
    streams of grace be dispersed abroad; live for God, suffer for Christ, 
    witness for the truth, and labor for man. Be such a depository of this 
    living and life-giving treasure, that others, less favored than yourself, 
    instructed, guided, and strengthened by your wisdom, experience, and grace, 
    may proceed on their way, glorifying God for the grace given to you. Oh, to 
    have the word of God dwelling in us so richly, and our hearts so intensely 
    glowing with the love of Christ, as to be ever ready, to open our lips for 
    God- a well always full and running over. <br>
    This, then, is the secret of augmenting our stores, even by scattering them- 
    of replenishing our resources, even by exhausting them. Who, we repeat the 
    question, has ever become impoverished by giving and laborings for God? 
    Where lives the Christian steward whose fidelity to his Master's interest 
    has compromised the welfare of his own? Where is the Christian man who, with 
    cheerful munificence, has consecrated his intellectual wealth or his 
    temporal wealth to advance the truth and kingdom of Jesus, whom Christ has 
    not reimbursed a thousand-fold? Where is the believer in Jesus who has 
    endured reproach and suffering, patiently and silently, for conscience' 
    sake, for truth's sake, for Christ's sake, who has not infinitely gained in 
    the rest which he has found in God? Where is the active Christian, who, 
    zealously laboring to dispense abroad the life-giving waters, has not felt, 
    in the solemn retirement and calm repose of his closet, when pouring out his 
    sorrow into the bosom of his Savior, or in holding close and holy communion 
    with his God, the springing up into his soul of a hidden well of peace, and 
    joy, and love, which has more than restored the energies he has exhausted, 
    and recompensed him for the sacrifice which he has made? God meets His 
    people in all their works of faith and labors of love. They are never alone. 
    He meets them in the path of duty and of trial- both in doing and in 
    suffering His will. He meets them, when embarrassed; with counsel; He meets 
    them, when assailed, with protection; He meets them, when exhausted, with 
    strength; He meets them, when faint, with cordials. If we take up Christ's 
    cross upon our shoulder, Christ will take both us and our cross up in His 
    arms. If we bow down our neck to His yoke, and bend low our back to His 
    burden, we shall find our rest in both. <br>
&nbsp; </p>
    <p align="justify">JUNE 18. </p>
    <p align="justify">&quot;But the anointing which you have received of him abides 
    in you, and you need not that any man teach you: but as the same anointing 
    takes you of all things, and is truth, and is no lie, and even as it has 
    taught you, you shall abide in him.&quot; 1 John 2:27 </p>
    <p align="justify">&quot;The Lord's anointed&quot; is the expressive and appropriate 
    designation of all the Lord's people. This anointing it is that marks them 
    as a &quot;chosen generation, a royal priesthood, a holy nation, a peculiar 
    people.&quot; It is the Lord's peculiar mark upon those who distinguishes and 
    designates them as His own. All who are strangers to this anointing are 
    strangers to the grace of God and the calling of the Holy Spirit. There may 
    be much spiritual light in the judgment, and even an open profession of 
    religion before the world, added to which there shall be something of Jehu's 
    &quot;zeal for the Lord;&quot; and yet that anointing of the Holy Spirit be still 
    lacking, apart from which all intellectual illumination, and outward 
    profession, and party zeal, pass for nothing with a heart searching God. As 
    the proper signification of the endeared name, Christ, is anointed, so the 
    true signification of the honored appellation, Christian, points us to the 
    anointing, of which all who have union with Christ personally share. I 
    believe the remark to be as solemn as it is true, that eternity will only 
    fully unfold the amount of evil that has sprung from calling those 
    Christians who call themselves Christians, without any valid title to the 
    high, holy, and distinguished appellation. How imperfectly are men in 
    general aware of the deep, the significant, the spiritual import of the 
    term! They think not, they know not, that a Christian is one who partakes, 
    in His renewing, sanctifying grace, of that same Divine Holy Spirit with 
    which Christ was anointed of the Father for His great work. <br>
    The effects of this anointing are what might be expected from a cause so 
    glorious. It beautifies the soul. It is that anointing spoken of by the 
    Psalmist: &quot;And oil to make his face to shine.&quot; Therefore it is called the 
    &quot;beauties of holiness.&quot; How does a man's face shine- how is his countenance 
    lighted up- when the joy of the Lord is his strength, when the spirit of 
    adoption is in his soul, when the love of God is shed abroad in his heart! 
    It gladdens too. Therefore it is called the &quot;oil of joy&quot; and &quot;the oil of 
    gladness.&quot; It causes the heart to sing in its deep sorrows, imparts the 
    &quot;garment of praise for the spirit of heaviness,&quot; and fills the soul with the 
    glory of that &quot;kingdom which consists not in foods and in drinks, but in 
    righteousness and peace and joy in the Holy Spirit.&quot; Another effect 
    springing from this anointing is the deep teaching it imparts- &quot;You have an 
    anointing from the Holy One, and you know all things.&quot; Such are some of the 
    effects of this holy anointing. It beautifies, gladdens, and teaches. <br>
&nbsp; </p>
    <p align="justify">JUNE 19. </p>
    <p align="justify">&quot;I shall be anointed with fresh oil.&quot; Psalm 92:10 </p>
    <p align="justify">That the Lord re-anoints His people, who can doubt? Alas 
    for them, if He did not! The ample provision which He has made for the 
    exigence proves it. There is more of the precious oil in the sacred vessel! 
    Oh blessed, holy, comforting truth to those who, mournfully conscious of 
    their loss, are earnestly desirous for their recovery. In the Lord Jesus 
    Christ all fulness of anointing dwells. &quot;With Him is the fulness of the 
    Spirit.&quot; He is prepared to impart more grace to those who have lost grace, 
    or who to their present state desire to add an increase. In the renewed 
    quickening of the Spirit, the re-anointing is received. &quot;Quicken me!&quot; was 
    the reiterated prayer of David. What! was he not already a quickened soul? 
    Undoubtedly. Yet, feeling the need of a renewed quickening, he earnestly 
    importunes for it: &quot;Quicken me in Your truth, through Your judgments, by 
    Your precepts: only quicken me- for this my soul pants.&quot; And while the world 
    was asking, &quot;Who will show us any good?&quot; the fervent breathing of this 
    anointed priest of God was, &quot;Quicken me, O Lord, for Your name's sake.&quot; Oh, 
    seek this renewed quickening. New supplies of grace from Christ are implied 
    in this fresh anointing. New grace- to subdue new corruptions, perpetually 
    rising to the surface; to meet new temptations, through the ever-shifting 
    ways of the subtle enemy; to overcome new difficulties, perpetually 
    occurring in the path to heaven; and to bear up under new trials, ever 
    transpiring in a world of tribulation. The renewed joys and comforts of the 
    Holy Spirit are also found in the fresh anointing. The joys which had 
    evaporated are replaced by others; the peace which had been interrupted 
    flows back again; consolations, which had fled, are restored; and confidence 
    in God, which seemed shaken, is once more established in the soul. Do not be 
    content with the old anointing. It is essential to a more holy and happy 
    life, it is essential to a peaceful and cloudless death, that you seek to be 
    anointed with fresh oil. Do not be satisfied with past experiences. You may 
    at one time have possessed the clear witness of the Spirit; you may have 
    enjoyed the love of God in your heart; you many have lived so near to Christ 
    as to have found &quot;Wisdom's ways, ways of pleasantness, and her paths, paths 
    of peace:&quot; but the old anointing ceases to afford you now the high delight 
    which you once experienced. Seek, then, the fresh anointing of the Spirit. 
    Seek to have a new revelation of Christ to your soul. Seek the renewed 
    application of His precious blood to your conscience. Oh, seek the fresh 
    oil! There is a fresh supply in Christ; a fresh supply in the Spirit; a 
    fresh supply in the heart of God; a fresh supply in the covenant of grace. 
    Jesus is prepared to pour it upon your soul more abundantly. The Holy Spirit 
    is prepared to lead you to the source where this costly treasure dwells. A 
    vessel of clay though you are- your capacity small- your unworthiness great- 
    yet is the Triune God ready to recognize your exalted dignity and rank as a 
    king and a priest, by shedding more copiously than ever the oil of gladness 
    upon your head. Let aged Christians especially look to the state of their 
    souls, and seek this renewed anointing. In nearing the end of their journey, 
    in looking into their graves, and beyond them, to the meeting with their God 
    and Savior, they will need to be anointed with fresh oil. One drop- oh, how 
    will it insinuate itself through the whole inner life, diffusing energy and 
    might!- the soul thus renewing its strength, and composing its ruffled 
    pinions for its heavenly flight. Come, pilgrim of many a weary stage! come, 
    soldier of many a hard-fought battle! come, voyager of many a storm and 
    tempest, and sit down at the Savior's feet, and receive of the fresh oil! 
    Come, gather up the trailing garments, shake off the gathered dust from your 
    sandals, wipe the sweat from your brow, and rest awhile upon the bosom of 
    your Lord, while with fresh oil He anoints you for your burial. Is it not 
    time for you to give up this poor world's pursuit, and lay aside in some 
    measure its needless anxiety and care, and allow a holy pause, a solemn 
    calm, to intervene- before you unclasp your helmet, lay down your staff, and 
    are gathered to your fathers? <br>
&nbsp; </p>
    <p align="justify">JUNE 20. </p>
    <p align="justify">&quot;For you are all the children of God by faith in Christ 
    Jesus.&quot; Galatians 3:26 </p>
    <p align="justify">It is delightful to trace the different exhibitions of 
    faith which the Holy Spirit has presented to our view in His own Word. And 
    he seems to have thus spread them out before us, that the ever varied and 
    varying circumstances of the saints of God may be adequately met. In some 
    sections of His Word, He has presented to our view sturdy characters, 
    impressed with the lineaments of a strong, gigantic faith. For example that 
    was strong faith in the centurion, when he said, &quot;Lord, I am not worthy that 
    You should come under my roof; but speak the word only, and my servant shall 
    be healed.&quot; That was great faith exhibited in the case of the woman of 
    Canaan, who, at the apparent repulse of the blessed Lord, would take no 
    denial, but met His seeming objection by saying, &quot;Truth, Lord; yet the dogs 
    eat of the crumbs which fall from their master's table. Then Jesus answered 
    and said unto her, O woman, great is your faith: be it unto you even as you 
    will.&quot; That, too, was strong faith in Abraham, who could take his son, his 
    only, son, his son whom he loved, and offer him up at God's bidding. And, to 
    mention no more, that was strong, unwavering faith in Job, who could say, 
    &quot;Though He slay me, yet will I trust in Him.&quot; But, on the other hand, the 
    Holy Spirit presents to the view some of the weakest exhibitions of faith, 
    in order that no dear child of God, reposing by simple reliance on Christ, 
    might despair. That was feeble faith which the leper exercised when he said, 
    &quot;Lord, if you will, you can make me clean.&quot; Here was no doubting of Christ's 
    ability- the only point He seemed to question was His willingness to cleanse 
    him. That was faith of the same feeble character, exercised by the father 
    who brought his child possessed of a dumb spirit to Jesus, to be 
    dispossessed, with the request thus couched- &quot;If you can do anything, have 
    compassion on us and help us.&quot; In this case, Christ's willingness was fully 
    believed, His ability only doubted; and yet, in both cases, the one that 
    doubted His willingness, and the other that doubted His ability, Christ 
    manifested His compassion and answered their requests. Let no anxious, 
    seeking soul, then, hang back from Jesus, because of the weakness of its 
    faith. It may be small faith; it may be small in its degree, and weak in its 
    exhibition; yet it is &quot;precious faith,&quot;- yes, &quot;like precious faith&quot; with 
    Abraham and Job, and all the prophets and apostles. If it be faith, however 
    small, it yet is &quot;the faith of God's elect;&quot; it is of the mighty operation 
    of the Holy Spirit, and though feeble, yet, if it directs its eye out of and 
    off of itself, simply to Jesus, that single glance shall sweep the ocean 
    fulness of His love in the soul. <br>
&nbsp; </p>
    <p align="justify">JUNE 21. </p>
    <p align="justify">&quot;This do in remembrance of me.&quot; Luke 22:19 </p>
    <p align="justify">To the soul hungering and thirsting for the Lord Jesus in 
    the ordinance, Jesus presents Himself. He draws back the shutter, opens the 
    window, stands within it, and looks forth upon His people, clustering around 
    His table, desiring to remember His love. &quot;Precious Jesus!&quot; is the 
    meditation of a soul thus looking for its Beloved, &quot;I have come to Your 
    ordinance invited by Your love, drawn by Your Spirit; but what is it to my 
    soul without You? Your minister may open this institution with clearness and 
    power, but if You do not manifest Yourself, to break and heal my heart- if I 
    don't catch one glimpse of You, my Lord, it is no ordinance of grace or 
    sweetness to my soul. I want by faith to see You in the baptism of Your 
    sufferings, to feed upon Your flesh, and to drink of Your blood. I want to 
    enjoy communion with You. You know, Lord, the workings of my heart; You know 
    that this is the great desire of my soul, that I might enjoy fellowship with 
    Christ. Oh, that I might have more of Christ, that I might meet with Christ, 
    that I might have some further manifestation of Christ, and that I might 
    have my soul closer knit to Christ. I come with thirsting after Jesus, 
    knowing my infinite need of Him, and His infinite excellency and fulness to 
    meet my case. My soul does famish and perish without Christ; but in the 
    enjoyment of Christ there is a sufficiency for the satisfying of my soul. 
    That which I have had of Christ, sometimes in the word, and sometimes in 
    prayer, has been sweet unto my taste; but I look for closer communion, for a 
    clearer manifestation of Christ here, for this is the great &quot;communion of 
    the body and blood of Jesus.&quot; Behold, Lord, I approach these windows of Your 
    house, a poor, unworthy, backsliding child, tried and tempted; yet just as I 
    am, clear Lord, I come. I dare not, I cannot, stay away from You, Divine 
    loadstone of my heart, precious magnet of my soul! Draw me, and then I will 
    run after You; Show Yourself in the window, and, overcome with Your beauty 
    and Your love, I exclaim, &quot;Turn away Your eyes from me, for they have 
    overcome me.&quot; Blessed Spirit! I have been taught to believe that You will 
    take of the things of Jesus, and show them unto me. Open the window of this 
    ordinance, and let me behold my soul's Beloved standing within it. I cannot 
    live, I cannot die, without Him. Living or dying I must have Christ. &quot;I am 
    any Beloved's, and His desire is towards me;&quot; and truly my soul's desire is 
    towards Him. There is to my soul no love like Christ's love. There is no 
    voice like Christ's voice. There is no sympathy like Christ's sympathy. 
    There is no friend like this Friend; there is no Christ like my Christ. <br>
    The window is open! &quot;The voice of my Beloved! behold, He comes, leaping upon 
    the mountains, skipping upon the hills.&quot;&nbsp; He looks forth at the window; 
    and lively faith and ardent love, sweet contrition and holy joy, possess and 
    overwhelm my soul! <br>
&nbsp; </p>
    <p align="justify">JUNE 23. </p>
    <p align="justify">&quot;The God of peace, that brought again from the dead our 
    Lord Jesus.&quot; Hebrews 13:20 </p>
    <p align="justify">How beautifully the apostle associates the two blessings! 
    He is now truly the &quot;God of peace&quot; - the pacified God, the reconciled 
    Father; and the evidence of it is His raising up His dear Son from the 
    grave. Thus what a bright view does this truth unfold to us of God! When we 
    retire within ourselves, we see much to engender dark views of, and 
    distrustful feelings towards, Him. But when faith travels to the grave of 
    Jesus, and we see it empty, we have such an overwhelming evidence of the 
    perfect reconciliation of God, of His thoughts of peace towards us, that 
    instantly faith triumphs, and all our gloomy, trembling apprehensions of His 
    character vanish and disappear. He is the &quot;God of peace,&quot; because Jesus is a 
    risen Savior. And in proportion as you lay hold by faith of the 
    resurrection-life of Christ, you will have that pillar to sustain you upon 
    which rests the whole fabric of salvation. The peace of God will fill your 
    heart, as you know from experience the power of the Lord's resurrection in 
    your soul. The power of Christ's resurrection, in fact, lies in a sense of 
    pardoned sin, in our apprehension of complete justification, in the living 
    hope of eternal glory. Jesus saves to the uttermost all that come unto God 
    by Him, because he is a risen and a living Savior, and ever lives to make 
    intercession in behalf of all His people. Oh, deal believingly with a risen 
    Christ! The same resurrection-power which brought back to life again the 
    Head of the Church is exerted in effecting the spiritual resurrection of the 
    Church itself. The true believer is already risen. He was once dead in sin, 
    and entombed in the grave of his iniquities. But a power- the same which 
    awoke the death-slumber of Lazarus- has darted from the tomb of Jesus, and 
    has quickened Him to a new and a deathless life. Oh, were we more directly 
    to trace the mighty energy of the Eternal Spirit in our souls, raising us 
    from the region of death to life and immortality, to that stupendous fact of 
    redemption- the resurrection of Christ from the dead- how would it exalt our 
    views of its importance, and fill our souls with its glory! What must be the 
    power of our Lord's resurrection, that can even now awake the profoundest 
    sleep of spiritual death! When the Spirit of God puts forth His own grace to 
    raise a soul from the grave of sin, oh, forget not it is in virtue of a 
    risen, living Savior. Despair not of the spiritual life of any, though they 
    may have laid in the grave so long as well near to have quenched all hope of 
    their conversion, since Christ has risen from the dead, and is alive, to 
    give life in answer to the prayer of faith. &quot;The second Adam is a quickening 
    Spirit.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 23. </p>
    <p align="justify">&quot;That I may know him, and the power of his resurrection.&quot; 
    Philippians 3:10 </p>
    <p align="justify">Of the downward tendency of our hearts we are, alas! but 
    too conscious. We need an antagonistic principle- something to counteract 
    the overworking influence of an ungodly world. Where shall we meet with it? 
    We answer, in the power of Christ's resurrection, felt, realized, and 
    experienced in the soul. This is the argument of Paul: &quot;You are a risen 
    people, risen in union with Christ. If this be so, then seek after heavenly 
    mindedness, setting your affections on things above.&quot; What a 
    heaven-attracting power, then, has this glorious truth! What is Christ? He 
    is alive. Where is Christ? He is in heaven, at the right hand of God, as my 
    head- my representative- my forerunner- my treasure- my all. Then, let me 
    rise! Shall not my affections soar to their best beloved? Shall not my heart 
    be where its treasure is? Shall I set my mind upon things on the earth, when 
    my Lord rose out of the earth, and ascended above the earth, and bids me 
    rise and follow Him in faith, in spirit, and in love, until He calls me to 
    come away to Him entirely, that I may be ever with Him and behold His glory? 
    If I am indeed risen with Christ, then let me evidence it by my increasing 
    spiritual-mindedness. Christ, who is my life, is in heaven- why should I 
    needlessly be buried in the earth? Why allow- as I appear to do- that there 
    is an object upon earth whose claims to my love are paramount, whose beauty 
    to my eye is greater, whose attraction to my soul is stronger, than my 
    risen, ascended, and glorified Lord? Is there upon earth one who loves me as 
    Jesus loves me? Is there one who has done for me what Jesus has done? Is 
    there one who is doing for me now what Jesus is doing? Is there one who is 
    to me such a friend, such a brother, such a counselor as Jesus? No, not one! 
    Then, why should not my thoughts be more with Him? Why should not my heart 
    cling closer to Him? Why this vagrancy of mind, this truancy of affection, 
    this wandering of desire; why this forgetfulness, coldness, and cleaving to 
    earth, when my Lord is risen, and I am professedly risen with Him? Oh, to 
    feel more sensibly, more deeply; more constantly the power of His 
    resurrection! Lord! I detect my heart settling down on creature things- 
    objects of sense and sin. My business is a snare- my domestic blessings are 
    a snare- my friendships are a snare- my position is a snare- the too fond 
    opinion which others entertain of me is a snare- my grace, my gifts, my 
    usefulness, through the corruption of my heart, are snares. Lord, place 
    beneath my soul the mighty lever of Your resurrection, and lift me towards 
    Yourself! Oh, let me feel the earth-severing, the heaven-attracting power of 
    Your resurrection-life! Having been buried with You by baptism into death, 
    sincerely would I now rise with You, like as You were raised up from the 
    dead by the glory of the Father; that I might walk with You in newness of 
    life, until I reach You in the realms of glory. <br>
&nbsp; </p>
    <p align="justify">JUNE 24. </p>
    <p align="justify">&quot;For verily he took not on him the nature of angels; <br>
    but he took on him the seed of Abraham.&quot; Hebrews 2:16. </p>
    <p align="justify">Who are the people upon whom the heart of Jesus is set? 
    They, are not angels; and yet He loves angels, because they are elect and 
    holy; He loves them as the creatures of His power, and as the ministers of 
    His will. But God loves not angels as He loves man. The Lord Jesus bears not 
    the same affection towards those unfallen and pure spirits as He does 
    towards a poor sinner hiding in His wounded side, cleansing in His blood, 
    and enfolding himself within the robe of His righteousness. He never took 
    part of the nature of angels, nor wept over angels, nor bled for angels- but 
    all this He did for man! <br>
    It is His Church, then, which is represented as the object of His love- His 
    own people, the donation of His Father, the creatures of His choice, the 
    subjects of His grace, the treasure of His heart. Is it asked wherein has He 
    loved them? Rather might we ask wherein has He not loved them? Look at His 
    assumption of their nature! What a mighty stoop was this!- the Infinite to 
    the finite. Were it possible for me to save the life of an insect by 
    assuming the form of that insect, I should, by so doing, manifest my great 
    benevolence. But behold the love of our Incarnate God! His heart was bent, 
    His whole soul was set, upon saving man. But He could save man only by 
    becoming man. He could not raise our nature, but as He stooped and assumed 
    that nature. He must not only look upon it, and pity it, and weep over it, 
    but He must take it into the closest and most indissoluble union with 
    Himself. Nor was it the mere exchange or blending together of natures so as 
    to form one new nature. It was not the absorption of the Infinite into the 
    finite, for He ceased not to be God when He became man; He only veiled, He 
    did not extinguish, the glory of His Deity. In this consisted the mightiness 
    of the stoop. I see no humiliation in the Savior's life, but as it springs 
    from this one fact- His condescension in taking up into union with His own 
    Divine our human nature. This was the first and greatest step in the path 
    that conducted Him to the cross. All the acts of abasement and ignominy 
    which follow were ingrafted upon this. And, oh, what humiliation! Look at 
    your nature! Contemplate it in some of its severest forms of degradation, 
    wretchedness, and woe. Are you not often constrained to blush that it is 
    your own? Do you not turn from it at times with loathing and abhorrence, 
    ashamed to confess that you are a man? Above all, what self-loathing, what 
    self-abhorrence, when the Holy Spirit opens the chambers of iniquity in your 
    own heart, and makes you acquainted with the abominations that are there! 
    And yet the Son of God stooped to our nature. &quot;A body have You prepared me.&quot; 
    But it was unfallen, sinless humanity that He took into union with His 
    Godhead. Where, then, is His condescension? In stooping to an inferior 
    nature, though in that stoop He received no taint from us. He was made a 
    sin- offering, yet He was &quot;without sin.&quot; If this truth, dear reader, has no 
    glory to your eye, nor sweetness to your soul, what is your Christianity? It 
    is the foundation of Christianity, it is the marrow of the Gospel, it is the 
    hope of the soul, it is that truth which takes every ruffle from the pillow 
    of death. <br>
    And is not this just the truth we need as a suffering and a tried people? 
    When do we extract the sweetest honey from this bitter of bitters? Is it not 
    when our humanity is wounded, oppressed, and cast down? When do we most 
    value and love the humiliation of the Incarnate God? Is it not when by 
    suffering we are driven to it, then to learn the tenderness and the sympathy 
    that are in Christ? Oh blessed affliction, sweet sorrow, friendly 
    chastisement, that brings my soul into the deeper experience of what God is 
    in my nature! </p>
    <p align="justify">JUNE 25. </p>
    <p align="justify">&quot;Walk in love, as Christ also has loved us, and has given 
    himself for us an offering and a sacrifice to God for a sweet-smelling 
    savor. Ephesians 5:2 </p>
    <p align="justify">It was an entire sacrifice. It was Himself He offered up. 
    More He could not give; less would not have sufficed. He gave Himself- all 
    that He possessed in heaven, and all that belonged to Him on earth, He gave 
    in behalf of His people. His life of obedience, His death of suffering, He 
    gave as &quot;an offering and is sacrifice to God.&quot; It was an entire surrender.
    <br>
    It was a voluntary offering. &quot;He gave Himself.&quot; It was not by compulsion or 
    by constraint that He surrendered Himself into the hands of Divine justice- 
    He went not as a reluctant victim to the altar- they dragged Him not to the 
    cross. He went voluntarily. It is true that there existed a solemn 
    necessity, why Jesus should die in behalf of His people. It grew out of His 
    covenant engagement with the Father. Into that engagement He voluntarily 
    entered: His own ineffable love constrained Him: But after the compact had 
    been made, the covenant of redemption ratified, and the bond given to 
    justice, there was a necessity resting upon Jesus why He should finish the 
    work. His word, His honor, His truth, His glory, all were pledged to the 
    entire fulfilment of His suretyship. He had freely given Himself into the 
    power of justice; He was therefore, on His taking upon Him the form of a 
    servant, under obligations to satisfy all its claims; He was legally bound 
    to obey all its commands. And yet it was a voluntary surrender of Himself as 
    a sacrifice for His people. It was a willing offering. If there was a 
    necessity, and we have shown that there was, it grew out of His own 
    voluntary love to His Church. It was, so to speak, a voluntary necessity. 
    See how this blessed view of the death of Jesus is sustained by the Divine 
    word. &quot;He was oppressed, and He was afflicted, yet He opened not His mouth: 
    He is brought as a lamb to the slaughter, and as a sheep before her shearers 
    is dumb, so He opens not His mouth.&quot; His own declaration confirms the truth. 
    &quot;Therefore does my Father love me, because I lay down my life, that I might 
    take it again. No man takes it the following is from me, but I lay it down 
    of myself. I have power to lay it down, and I have power to take it again.&quot;
    <br>
&nbsp; </p>
    <p align="justify">JUNE 26. </p>
    <p align="justify">&quot;Jesus therefore, knowing all things that should come 
    upon him, went forth, and said unto them, Whom seek you?&quot; John 18:4 </p>
    <p align="justify">His voluntariness was not founded on ignorance. He well 
    knew what the covenant of redemption involved- what stern justice demanded. 
    The entire scene of His humiliation was before Him, in all its dark and 
    somber hues- the manger- the bloodthirsty king- the scorn and ridicule of 
    His countrymen- the unbelief of His own kinsmen- the mental agony of 
    Gethsemane- the bloody sweat- the bitter cup- the waywardness of His 
    disciples- the betrayal of one, the denial of another, the forsaking of all- 
    the mock trial- the purple robe- the crown of thorns- the infuriated cry, 
    &quot;Away with Him, away with Him! Crucify Him, crucify Him!&quot;- the heavy cross- 
    the painful crucifixion- the cruel taunts- the vinegar and the gall- the 
    hidings of His Father's countenance- the concentrated horrors of the curse- 
    the last cry of anguish- the falling of the head- the giving up the spirit; 
    all, all was before the omniscient mind of the Son of God, with vividness 
    equal to its reality, when He exclaimed, &quot;Save him from going down to the 
    pit: I have found a ransom.&quot; And yet He willingly rushed to the rescue of 
    ruined man. He voluntarily, though He knew the price of pardon was His 
    blood, gave Himself up thus to the bitter, bitter agony. And did He regret 
    that He had undertaken the work? Never! It is said that repented God that He 
    had made man; but in no instance is it recorded that it repented Jesus that 
    He had redeemed man. Not an action, not a word, not a look betrayed an 
    emotion like this. Every step He took from Bethlehem to Calvary did but 
    unfold the willingness of Jesus to die. &quot;I have a baptism to be baptized 
    with, and how am I straitened until it be accomplished!&quot; <br>
    Oh, how amazing was the love of Jesus! This, this was the secret why He 
    loved not His own life unto the death. He loved sinners too well. He loved 
    us better than Himself. With all our sinfulness, guilt, wretchedness, and 
    poverty; He yet loved us so much as to give Himself an offering and 
    sacrifice unto God for us. Here was the spring-head where flowed these 
    streams of mercy. This was the gushing fountain that was opened when He 
    died. And when they taunted Him and said, &quot;If You are the King of the Jews, 
    save Yourself,&quot; oh, what a reply did His silence give &quot;I came not to save 
    myself, but my people- I hang here, not for my own sins, but for theirs- I 
    could save myself, but I came to give my life a ransom for many.&quot; They 
    thought the nails alone kept Him to the cross- He knew it was His own love 
    that fastened Him there. Behold the strength of Immanuel's love. Come, fall 
    prostrate, adore and worship Him. Oh, what love was His! Oh the depth! 
    Content not yourself with standing upon the shore of this ocean- enter into 
    it, drink largely from it. It is for you, if you but feel your nothingness, 
    your poverty, your vileness; this ocean is for you. It is not for angels, it 
    is for men. It is not for the righteous, but for sinners. Then drink to the 
    full from the love of Jesus. Do not be satisfied with small supplies. Take a 
    large vessel to the fountain. The larger the demand, the larger the supply. 
    The more needy, the more welcome. The more vile, the more fit. <br>
&nbsp; </p>
    <p align="justify">JUNE 27. </p>
    <p align="justify">&quot;It is good that a man should both hope and quietly wait 
    for the salvation of the Lord.&quot; Lamentations 3:26 </p>
    <p align="justify">A believer may present a right petition in a right way, 
    and yet he may not wait the Lord's answer in His own time. He may appoint a 
    time, and if the Lord does not answer within that period, he turns away, 
    resigning all expectation of an answer. There is such a thing as waiting for 
    the Lord. The apostle alludes to and enjoins this holy patience, when he 
    speaks to the Ephesians of &quot;praying always with all prayer and supplication 
    in the Spirit, and watching thereunto with all perseverance.&quot; A believer may 
    present his request- may have some degree of nearness in urging it- may 
    press it with fervency- and yet, forgetting the hoping, quiet, waiting 
    patience which ought invariably to mark a praying soul; he may lose the 
    blessing he has sought. There is such a thing as &quot;waiting upon the Lord.&quot; 
    Oh; how long have we made Him to wait for us! For years, it may be, we kept 
    Him knocking, and standing, and waiting at the door of our hearts, until His 
    own Spirit took the work in His own hands, and unlocked the heart, and the 
    Savior entered. The Lord would now often have us wait His time in answering 
    prayer. And, if the vision tarry, still let us wait, and hope, and expect. 
    Let the delay but stimulate hope, and increase desire, exercise faith, and 
    multiply petitions at the mercy-seat. It will come when the Lord sees best.
    <br>
    A believer may lose the answer to his prayer, by dictating to the Lord the 
    mode, as well as the time, of answering. The Lord has His own mode of 
    blessing His people. We may prescribe the way the Lord should answer, but He 
    may send the blessing to us through an opposite channel, in a way we never 
    thought of, and should never have selected. Sovereignty sits regent upon the 
    throne, and in no aspect is its exercise more manifestly seen than in 
    selecting the way and the means by which the prayers of the saints of God 
    are answered. Dictate not to the Lord. If you ask a blessing through a 
    certain channel, or in a prescribed way, let it be with the deepest humility 
    of mind, and with perfect submission to the will of God. Be satisfied to 
    receive the blessing in any way which a good and covenant God may appoint. 
    Be assured, it will be in that way that will most glorify Himself, and 
    secure to you the greatest amount of blessing. <br>
&nbsp; </p>
    <p align="justify">JUNE 28. </p>
    <p align="justify">&quot;The path of the just is as the shining light, that 
    shines more and more unto the perfect day.&quot; Proverbs 4:18 </p>
    <p align="justify">The first light that dawns upon the soul is the daybreak 
    of grace. When that blessed period arrives, when the Sun of Righteousness 
    has risen upon the long-benighted mind, how do the shadows of ignorance and 
    of guilt instantly disappear! What a breaking away of, perhaps, a long night 
    of alienation from God, of direct hostility to God, and of ignorance of the 
    Lord Jesus, then takes place. Not, however, strongly marked is this state 
    always at the first. The beginning of grace in the soul is frequently 
    analogous to the beginning of day in the natural world. The dawn of grace is 
    at first so faint, the daybreak so gentle, that a skillful eye only can 
    observe its earliest tints. The individual himself is, perhaps, ignorant of 
    the extraordinary transition through which his soul is passing. The 
    discovery of darkness which that day-dawn has made, the revelation it has 
    brought to view of the desperate depravity of his heart, the utter 
    corruption of his fallen nature, the number and the turpitude of his sins, 
    it may be, well near overwhelms the individual with despair! But what has 
    led to this discovery? What has revealed all this darkness and sin? Oh! it 
    is the daybreak of grace in the soul! One faint ray, what a change has it 
    produced! And is it real? Ah! just as real as that the first beam, faintly 
    painted on the eastern sky, is a real and an essential part of light. The 
    daybreak, faint and glimmering though it be, is as really day as the 
    meridian is day. And so is it with the day-dawn of grace in the soul. The 
    first serious thought- the first real misgiving- the first conviction of 
    sin- the first downfall of the eye- the first bending of the knee- the first 
    tear- the first prayer- the first touch of faith, is as really and as 
    essentially the daybreak of God's converting grace in the soul as is the 
    utmost perfection to which that grace can arrive. Oh, glorious dawn is this, 
    my reader, if now for the first time in your life the daybreak of grace has 
    come, and the shadows of ignorance and guilt are fleeing away before the 
    advancing light of Jesus in your soul. If now you are seeing how depraved 
    your nature is; if now you are learning the utter worthlessness of your own 
    righteousness; if now you are fleeing as a poor, lost sinner to Christ, 
    relinquishing your hold of everything else, and clinging only to Him; though 
    this be but in weakness, and tremulousness, and hesitancy, yet sing for joy, 
    for the day is breaking- the prelude to the day of eternal glory- and the 
    shadows of unregeneracy are forever fleeing away. And as this day of grace 
    has begun, so it will advance. Nothing shall impede its course, nothing 
    shall arrest its progress. &quot;He which has begun a good work in you will 
    perform it until the day of Jesus Christ.&quot; The Sun, now risen upon you with 
    healing in His beams, shall never stand still- shall never go back. &quot;He has 
    set a tabernacle for the sun&quot; in the renewed soul of man; and onward that 
    sun will roll in its glorious orbit, penetrating with its beams every dark 
    recess, until all mental shadows are merged and lost in its unclouded and 
    eternal splendor. <br>
&nbsp; </p>
    <p align="justify">JUNE 29. </p>
    <p align="justify">&quot;For we know in part, and we prophesy in part.&quot; 1 
    Corinthians 13:9 </p>
    <p align="justify">With all our attainments, how little have we really 
    attained! With all our knowledge, how little do we actually know! How 
    superficially and imperfectly are we acquainted with truth; with Jesus who 
    is emphatically &quot;the Truth,&quot; with God whom the Truth reveals. &quot;We see 
    through a glass darkly,&quot;- all is yet but as a riddle, compared with what we 
    shall know when the shadows of ignorance have fled. There are, too, the 
    enshrouding shadows of God's dark and painful dispensations. Our dealings 
    are with a God of whom it is said, &quot;Clouds and darkness are round about 
    Him.&quot; Who often &quot;covers Himself as with a cloud,&quot; and to whom the midnight 
    traveler to the world of light has often occasion to address himself in the 
    language of the Church, &quot;You are a God that hides Yourself.&quot; Ah! beloved, 
    what clouds of dark providences may be gathering and thickening around your 
    present path! Through what a gloomy, stormy night of affliction faith may be 
    steering your tempest-tossed barque! That faith eyeing the promise, and not 
    the providence, the &quot;bright light that is in the cloud,&quot; and not the 
    lowering cloud itself- will steer that trembling vessel safely through the 
    surge. Remember that in the providences of God the believer is passive, but 
    with regard to the promises of God he is active. In the one case he is to 
    &quot;be still&quot; and know that God reigns, and that the &quot;Judge of all the earth 
    must do right.&quot; In the other, his faith, childlike, unquestioning, and 
    unwavering, is to take hold of what God says, and of what God is, believing 
    that what He has promised He is also able and willing to perform. This is to 
    be &quot;strong in faith, giving glory to God.&quot; <br>
&nbsp; </p>
    <p align="justify">JUNE 30. </p>
    <p align="justify">&quot;Until the clay break, and the shadows flee away.&quot; 
    Solomon's Song 2:17 </p>
    <p align="justify">The Divine withdrawment is a shadow, often imparting an 
    aspect of dreariness to the path we are treading to the Zion of God. &quot;Why do 
    You hide Yourself?&quot; says Job. &quot;For a small moment,&quot; says God to the Church, 
    &quot;have I forsaken you. ... In a little wrath I hid my face from you for a 
    moment.&quot; Ah! there are many who have the quenchless light of life in their 
    souls, who yet, like Job, are constrained to take up the lamentation, &quot;I 
    went mourning without the sun.&quot; There are no shadows darker to some of God's 
    saints than this. Many professing Christians dwell so perpetually in the 
    region of shadows, they so seldom feel the sunshine of God's presence in 
    their souls, that they scarcely can discern when the light is withdrawn. But 
    there are others, wont to walk so near with God in the rich, personal 
    enjoyment of their pardon, acceptance, and adoption, that if but a vapor 
    floats between their soul and the sun, in an instant they are sensible of 
    it. Oh, blessed are they whose walk is so close, so filial with God, whose 
    home is so hard by the cross, who, like the Apocalyptic angel, dwell so 
    entirely in the sun, as to feel the barometer of their soul affected by the 
    slightest change in their spiritual atmosphere; in other words- who walk so 
    much beneath the light of God's reconciled countenance as to be sensible of 
    His hidings even &quot;for a small moment.&quot; Then there comes the last of our 
    shadows, &quot;the valley of the shadow of death.&quot; There they terminate. This may 
    be the focus where they all shall meet, but it is to meet only to be 
    entirely and forever scattered. The sentiment is as true as the figure is 
    poetic- &quot;the shadow of death.&quot; It is but a &quot;shadow&quot; to the believer; the 
    body of that shadow Jesus, the &quot;Captain of our salvation,&quot; met on the cross, 
    fought and overcame. By dying He so completely destroyed death, and him that 
    had the power of death, that the substance of death in the experience of the 
    dying Christian dwindles into a mere shadow, and that shadow melts into 
    eternal glory.</p>
