MARCH 0
    <p align="justify"><b>MARCH 1. </b></p>
    <p align="justify">&quot;Search the scriptures; for in them you think you have 
    eternal life: and they are they which testify of me.&quot; John 5:39 </p>
    <p align="justify">The word of God is full of Christ. He is the Sun of this 
    divine system, the Fountain of its light and beauty. Every doctrine derives 
    its substance from His person, every precept its force from His work, every 
    promise its sweetness from His love. Is it not to be feared, that in the 
    study of the Scriptures it is a much-forgotten truth, that they testify of 
    Jesus? Are they not read, searched, and examined, with a mind too little 
    intent upon adding to its wealth by an increased knowledge of His person, 
    and character, and work? And thus it is we lower the character of the Bible. 
    We may read it as a mere uninspired record; we may study it as a book of 
    human literature. Its antiquity may interest us, its history may inform us, 
    its philosophy may instruct us, its poetry may charm us; and thus, while 
    skimming the surface of this Book of books, the glorious Christ, who is its 
    substance, its subject, its sweetness, its worth- and but for whom there had 
    been no Bible- has been deeply and darkly veiled from the eye. <br>
    But it is the office of the blessed and eternal Spirit to unfold, and so to 
    glorify, Jesus in the Word. All that we spiritually and savingly learn of 
    Him, through this revealed medium, is by the sole teaching of the Holy 
    Spirit, opening up this word to the mind. He shows how all the luminous 
    lines of Scripture truth emanate from, return to, and center in, Christ- how 
    all the doctrines set forth the glory of His person, how all the promises 
    are written in His heart's blood, and how all the precepts are embodied in 
    His life. <br>
&nbsp; </p>
    <p align="justify">MARCH 2. </p>
    <p align="justify">&quot;Open you mine eyes, that I may behold wondrous things 
    out of your law.&quot; Psalm 119:18 </p>
    <p align="justify">To the question often earnestly propounded- &quot;What is the 
    best method of reading, so as to understand the Scriptures?&quot; I would reply- 
    Read them with the one desire and end of learning more of Christ, and with 
    earnest prayer for the teaching of the Spirit, that Christ may be unfolded 
    in the Word. With this simple method persevered in, you shall not fail to 
    comprehend the mind of the Holy Spirit, in portions which previously may 
    have been unintelligible and obscure. Restrict not yourself to fixed rules, 
    or to human helps. Rely less upon dictionaries, and maps, and annotations. 
    With singleness of aim, with a specific object of research, and with fervent 
    prayer for the Holy Spirit's teaching, &quot;you need not that any man teach 
    you;&quot; but collating Scripture with Scripture, &quot;comparing spiritual things 
    with spiritual,&quot; you may fearlessly enter upon the investigation of the 
    greatest mysteries contained in the sacred volume, assured that the Savior, 
    for whose glories and riches you search, will reveal Himself to your eye, 
    &quot;full of grace and truth.&quot; Precious Bible! so full of a precious Jesus! How 
    do all its clouds and darkness melt into light and beauty, as He, the Sun of 
    righteousness, rises in noontide glory upon its page! Search it, my reader, 
    with a view of seeing and knowing more of your Redeemer, compared with whom 
    nothing else is worth knowing or making known. Love your Bible, because it 
    testifies of Jesus; because it unfolds a great Savior, an almighty Redeemer; 
    because it reveals the glory of a sin-pardoning God, in the person of Jesus 
    Christ. Aim to unravel Jesus in the types, to grasp Him amid the shadows, to 
    trace Him through the predictions of the prophet, the records of the 
    evangelist, and the letters of the apostles. All speak of, and all lead to, 
    Jesus. &quot;They are they which testify of me.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 3. </p>
    <p align="justify">&quot;If you then be risen with Christ, seek those things 
    which are above, where Christ sits on the right hand of God. Set your 
    affection on things above, not on things on the earth.&quot; Col. 3:1-2 </p>
    <p align="justify">To win heaven, the mind must become heavenly; and to be 
    heavenly, it must habituate itself to heavenly things and heavenly pursuits. 
    It is a law of our mental constitution, that the mind assimilates in its 
    tone and habits of thought with the subject which most engrosses its study. 
    Hence it is that we sometimes become men of one idea. Now the contemplation 
    of divine and spiritual themes has a powerful tendency to spiritualize and 
    sanctify the mind. It seems impossible to breathe a heavenly atmosphere, and 
    not be heavenly; to study holy things, and not be holy; to admire the image 
    of Christ, and not resemble Christ; to have frequent communion with Jesus 
    upon the throne, and not catch some stray beam of His glory. And apart from 
    Christ nothing is really pleasant and satisfying to the heavenly mind. 
    Without Him, what a dreary, lonesome wilderness would this be! But with 
    Christ in the heart, and the heart resting in Christ- He in the center of 
    our souls, and our affections and desires centering on Him- the desert loses 
    its solitude and its desolateness. To have the eye resting on Jesus- all our 
    heart-springs in Him- the spirit in frequent excursions where He dwells in 
    light and glory- to lean upon Him and converse with Him as though He were 
    actually walking by our side, sitting at our table, associating with us in 
    our callings- this, this is heavenly-mindedness. Such is the 
    counter-attraction to the &quot;things on the earth,&quot;- the secularizing pursuits, 
    the low-thoughted cares, the carnal enjoyments- which we so deeply need. And 
    this powerful counteracting influence which we possess is a realization of 
    our resurrection with Christ, and His enthronement in glory. <br>
&nbsp; </p>
    <p align="justify">MARCH4. </p>
    <p align="justify">&quot;Looking unto Jesus the author and finisher of our 
    faith.&quot; Hebrews 12:2 </p>
    <p align="justify">Be careful of making a savior of faith. There is a 
    danger, and it cannot be too vigilantly guarded against, of substituting the 
    work of the Spirit for the work of Christ; this mistake it is that leads so 
    many of God's saints to look within, instead of outside of themselves, for 
    the evidences of their calling and acceptance; and thus, too, so many are 
    kept, all their spiritual course, walking in a state of bondage and fear, 
    the great question never fully and fairly settled; or, in other words, never 
    quite sure of their sonship. The work of Christ is a great and finished 
    work; it is so glorious that it can admit of no comparison, so complete that 
    it can allow of no addition, and so essential that it can give place to no 
    substitution. Precious as is the work of the Holy Spirit in the heart, and 
    essential as it is to the salvation of the soul, yet he who places it where 
    the work of Jesus ought only to be, deranges the order of the covenant, 
    closes up the legitimate source of evidence, and will assuredly bring 
    distress and uncertainty into his soul. &quot;Righteousness, peace, and joy&quot; are 
    the fruit of a full belief in the Lord Jesus Christ, and he who looks for 
    them away from the cross will meet with disappointment; but they are found 
    in Jesus. He who looks away from himself, from his vileness, guiltiness, 
    emptiness, and poverty, fully, and believingly unto Jesus, shall know what 
    the forgiveness of sin is, and shall experience the love of God shed abroad 
    in his heart. <br>
    If, then, your faith is feeble and tried, do not be cast down. Faith does 
    not save you; though it be an instrument of salvation, and, as such, is of 
    vast importance, it is but the instrument. The finished work of Immanuel is 
    the ground of your salvation, yes, it is your salvation itself. Then, make 
    not a savior of your faith; despise it not if it is feeble, exult not in it 
    if it is strong, trample not on it if it is small, deify it not if it is 
    great: such are the extremes to which every believer is exposed. If your 
    faith is feeble and sharply tried, it is no evidence that you are not a 
    believer; but the evidence of your acceptance in the Beloved is to arise 
    from Jesus alone; then let your constant motto be, &quot;looking unto Jesus;&quot; 
    looking to Him just as you are; looking unto Him when faith is feeble; 
    looking unto Him when faith is tried; looking unto Him when faith is 
    declining; yes, looking unto Him when you fear you have no faith. Look up, 
    tried and tempted soul! Jesus is the Author, the Sustainer, and He will 
    become the Finisher of your faith. All you need is in Him; one glimpse, dim 
    though it be, of His cross, one touch, trembling though it be, of His 
    garment, will lift you from your lowest depths, lighten your heaviest 
    burden, gild your darkest prospect, and when you arrive at Jordan's brink, 
    will bear you safely through its swellings, and land you on the sunny and 
    verdant shores of Canaan. </p>
    <p align="justify">MARCH 5. </p>
    <p align="justify">&quot;The spirit is life because of righteousness.&quot; Romans 
    8:10. </p>
    <p align="justify">What are we to understand by the term spirit? Our reply 
    will at once exclude the idea of the Holy Spirit. Of the Third Person of the 
    blessed Trinity it cannot be of whom the apostle speaks. The only remaining 
    interpretation, then, is that which restricts its meaning to the spiritual 
    and immortal part of the believer- the regenerated spirit of man, and not 
    the regenerating Spirit of God. The cheering declaration, then, of the 
    apostle is, that the spiritual and immortal part of our nature is recovered 
    from the curse, renewed and quickened with a divine and heavenly life. If 
    the body is dead because of sin, the spirit is life because of 
    righteousness. The spirit is life- instinct with a new and deathless 
    principle- because Christ is the righteousness of His people. On the broad 
    basis of God's method of justification our spirit lives. In every point of 
    view Christ is identified with our spiritual life. We live a life of 
    justification by Christ- a life of holiness from Christ- a life of faith in 
    Christ- and a life of immortality with Christ. Thus, in all its phases, 
    &quot;Christ is our life.&quot; Oh glorious truth! Welcome death- the spirit lives! 
    Welcome the grave- the spirit is beyond it! Death! you can but touch the 
    material fabric- the inner life towers above your reach, hid with Christ in 
    God. Grave! you can but imprison the body- the soul is at home with Jesus. I 
    live, not because of any righteousness which I have wrought, but because 
    Christ is my righteousness. I live on account of the Righteous One- I live 
    in the Righteous One- and I shall live forever with the Righteous One. Thus 
    is the spirit life because of righteousness. Oh, what a glorious immortality 
    unveils to the eye of faith! If through the gloomy portals of death the 
    spirit of the believer must pass, in its transit to eternity, life attends 
    it, and life awaits it, and life crowns it. Animated with a deathless 
    existence, clothed with the robe of a new-born immortality, it bursts from 
    its enthralment, and, smiling back upon death, speeds its way to glory, 
    honor, and endless life. To this life let us look forward. From a life now 
    experienced, let us live for a life so soon to be enjoyed. The body must 
    die. But what of that? the spirit is life. And the life-inspired spirit will 
    come back again, re-enter and re-animate the slumbering dust; and now, 
    remodeled and spiritualized, it will be with Christ and all the saints in 
    the new heaven and the new earth, wherein will dwell righteousness. <br>
&nbsp; </p>
    <p align="justify">MARCH 6. </p>
    <p align="justify">&quot;Let us therefore come boldly unto the throne of grace, 
    that we may obtain mercy, and find grace to help in time of need.&quot;&nbsp; 
    Hebrews 4:16. </p>
    <p align="justify">The throne of grace is for the needy. It is always a time 
    of need with a child of God. &quot;Without me,&quot; says Jesus, &quot;you can do nothing.&quot; 
    There is not a moment, but, if he knows his real state, he is in need of 
    something. What a blessing, then, is the throne of grace! It is for the 
    needy. It is for those who are in need- upon whom all other doors are 
    closed, with whom all other resources have failed, who have nowhere else to 
    look, nowhere else to fly. To such is the throne of grace always open. Is it 
    a time of trial with you? then it is a time of need. Take your trial, 
    whatever it be, simply to God. Do not brood over it. Do not cherish it. This 
    will not make it sweeter, or more easy to be borne. But taking it to Jesus 
    will. The very act of taking it will lighten it, and casting it upon His 
    tenderness and sympathy will make it sweet. Is it a time of spiritual 
    darkness with you? then it is a time of need. Take your darkness to the 
    throne of grace, and &quot;in His light&quot; who sits upon it you &quot;shall see light.&quot; 
    Is it a time of adverse providences? then it is a time of need. And where 
    can you go for guidance, for direction, for counsel, for light upon the 
    intricacies of the way, but to the God of grace? Is it a time of temporal 
    distress with you? then it is a time of need. Take your temporal cares and 
    necessities to the Lord, for He who is the God of grace is also the God of 
    providence. <br>
    Thank the Lord for every errand that takes you to the throne of grace. 
    Whatever it is that sends you to prayer, count it one of your choice 
    blessings. It may be a heavy cross, a painful trial, a pressing need; it may 
    be a broken cistern, a cold look, an unkind expression; yet, if it leads you 
    to prayer, regard it as a mercy sent from God to your soul. Thank God for an 
    errand to Him. </p>
    <p align="justify">MARCH 7. </p>
    <p align="justify">&quot;Your will be done on earth, as it is heaven.&quot; Matthew 
    6:10. </p>
    <p align="justify">The holy Leighton has remarked, that to say from the 
    heart, &quot;your will be done,&quot; constitutes the very essence of sanctification. 
    There is much truth in this; more, perhaps, than strikes the mind at the 
    first view. Before conversion, the will, the governing principle of the 
    soul, is the seat of all opposition to God. It rises against God- His 
    government, His law, His providence, His grace, His Son; yes, all that 
    appertains to God, the unrenewed will of man is hostile to. Here lies the 
    depth of man's unholiness. The will is against God; and so long as it 
    refuses to obey Him, the creature must remain unholy. Now, it needs no 
    lengthened argument to show that the will, being renewed by the Holy Spirit, 
    and made to submit to God, in proportion to the degree of its submission 
    must be the holiness of the believer. There could not be perfect holiness in 
    heaven, were there the slightest preponderance of the will of the creature 
    towards itself. The angels and &quot;the spirits of just men made perfect,&quot; are 
    supremely holy, because their wills are supremely swallowed up in the will 
    of God. &quot;Your will be done on earth, even as it is in heaven.&quot; The will of 
    God is supremely obeyed in heaven, and in this consists the holiness and the 
    felicity of its glorious inhabitants. <br>
    Now, in exact proportion as God's will &quot;is done on earth&quot; by the believer, 
    he drinks from the pure fountain of holiness; and as he is enabled, by the 
    grace of Christ, in all things to look up to God with filial love, and to 
    say, &quot;not my will,&quot; O my Father, &quot;but your, be done,&quot; he attains the very 
    essence of sanctification. <br>
&nbsp; </p>
    <p align="justify">MARCH VIII. </p>
    <p align="justify">&quot;Let this mind be in you, which was also in Christ 
    Jesus.&quot; Philippians 2:5. </p>
    <p align="justify">What is it to have &quot;the mind that was in Christ&quot;? We 
    answer, it is to be ever aiming after the highest perfection of holiness. It 
    is to have the eye of faith perpetually on Jesus as our model, studying Him 
    closely as our great example, seeking conformity to Him in all things. It is 
    to be regulated in all our conduct by His humble spirit. First, with regard 
    to others, to choose the low place, to acknowledge God in, and to glorify 
    Him for, the grace, gifts, and usefulness bestowed on other saints, and to 
    exemplify in our social communion the self-denying, expansive benevolence of 
    the Gospel, which enjoins the duty of not seeking paramountly our own 
    interests, but to sacrifice all self-gratification, and even honor and 
    advantage, if, by so doing, we may promote the happiness and welfare of 
    others; thus it is to live, not for ourselves, but for God and our fellow 
    men; for &quot;no man lives to himself, and no man dies to himself;&quot; in the 
    spirit of Him, who, on the eve of returning to His glory, took a towel and 
    girded Himself, and washed His disciples' feet, it is to serve the saints in 
    the most lowly acts and offices. Second, it is to exemplify, with regard to 
    ourselves, the same humble spirit which He breathed. It is to be little in 
    our own eyes, to cherish a humble estimate of our gifts, attainments, 
    usefulness, and station- to be meek, gentle, and submissive under rebuke and 
    correction- to &quot;seek not great things for ourselves,&quot;- to court not human 
    praise, watching our hearts with perpetual vigilance and jealousy, lest we 
    thirst for the honor which comes from man, and not &quot;the honor that comes 
    from God only.&quot; It is to contribute to the necessities of saints without 
    begrudging, to give to Christ's cause without ostentation, to do good in 
    secret- to seek, in all our works of zeal, and benevolence, and charity, to 
    hide ourselves, that self may be perpetually mortified- in a word, it is to 
    hunger and thirst after righteousness, to be poor in spirit, lowly in mind, 
    to walk humbly with God, and to live to, and labor for, and aim after, the 
    glory of God in all things. This is to have the &quot;mind which was also in 
    Christ Jesus.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 9. </p>
    <p align="justify">&quot;God was in Christ, reconciling the world unto himself.&quot; 
    2 Cor. 5:19. </p>
    <p align="justify">The great glory of our Immanuel is his essential glory. 
    When our faith can firmly grasp the Deity of our adorable Lord- and on this 
    precious doctrine may it never waver!- there is a corresponding confidence 
    and repose of the mind in each particular of His sacrificial work. Then it 
    is that we talk of Him as a Mediator, and love to view Him as the great 
    Sin-bearer of His people. In vain do we admire His righteousness, or extol 
    His death, if we look not upon Him in the glory which belongs to Him as 
    essentially God. From this truth, as from a fountain of light, beams forth 
    the glory, which sheds its soft halo around His atoning work. Oh, when, in 
    the near view of death, memory summons back the past, and sin in battle 
    array passes before the eye, and we think of the Lord God, the Holy One, 
    into whose dreadful presence we are about to enter, how will every other 
    support sink beneath us but this! And, as the Holy Spirit then glorifies 
    Christ in His essential glory, testifying that the blood and righteousness- 
    the soul's great trust- are of the incarnate God, we shall rise superior to 
    fear, smile at death, and pass in peace and triumph to glory. Yes, reader, 
    we shall be satisfied with nothing short of absolute Deity, when we come to 
    die. And, in proportion as you find this great truth the substance of your 
    life, you will experience it the support of your death. <br>
&nbsp; </p>
    <p align="justify">MARCH 10. </p>
    <p align="justify">&quot;You are come . . . to the spirits of just men made 
    perfect.&quot; Hebrews 12:22, 23. </p>
    <p align="justify">That the saints will recognize and have communion with 
    each other immediately on their entrance into glory is, we think, clear from 
    these words of the apostle, when enumerating the privileges of the released 
    believers. We indulge, therefore, the fond hope that, should death remove us 
    before the coming of the Lord, we shall meet, know, and have delightful 
    communion with our friends who departed this life in Jesus. But the 
    recognition and the communion must necessarily do not be so perfect and full 
    as when Christ shall appear, and the risen saints shall cluster together 
    around the person and in the kingdom of their Lord; since neither we nor 
    they have attained our state of full knowledge and capacity until that great 
    event take place, and the &quot;blessed hope&quot; is realized. We argue the 
    recognition of the saints from the fact of the perfection of knowledge to 
    which the coming glory will advance us. Our dear Lord reminds His saints 
    that they shall be equal to the angels. They know each other. It would seem 
    impossible, living together for so many years, that they would not. If, 
    then, the saints are equal to them at all, they must be in this sweet 
    privilege. And is it reasonable to suppose that in all other respects our 
    knowledge will be perfected, but in this one particular only? Shall we 
    possess an element of mental power here, which we shall lose in a gradation 
    towards perfection, and, consequently, shall not possess in a higher degree 
    hereafter? Assuredly not. When, therefore, the dead in Christ shall rise at 
    His coming, every intellectual faculty will be enlarged, and not only 
    retaining all our former, but increasing the amount by a larger degree of 
    additional knowledge, we shall &quot;know even as we are known.&quot; The perfection 
    of happiness, which glorification implies, involves this blessing. What a 
    rich source of high and holy delight does the communion of saints supply, 
    even in our present state! How it elevates, chastens, expands, and soothes 
    the mind and heart, so much beclouded by care and chafed by sorrow! But 
    heaven will perfect this bliss. Does it not heighten the beauty of the 
    prospect, and strengthen the expectation of the scene? <br>
&nbsp; </p>
    <p align="justify">MARCH 11. </p>
    <p align="justify">&quot;Them also which sleep in Jesus will God bring with him.&quot; 
    1 Thes. 4:14 </p>
    <p align="justify">Will it add nothing to the glory of that event, and to 
    the happiness of that moment, when the Son of God descends, and, dissolving 
    the soft slumbers of the holy dead, will reanimate each with its former 
    occupant, that then we shall perfectly recognize those we once knew and 
    loved, and renew the sweet communion, before imperfect and limited, but now 
    complete and eternal? Dry, then, your tears, and cease to mourn, you saints 
    of God. They are &quot;not lost, but gone before.&quot; Their spirits live with Jesus. 
    And when He comes, He will bring them with Him, and you shall see and know 
    them with a cloudless sight and a perfect knowledge. The very eyes which 
    once smiled upon you so kindly- the very tongue which spoke to you so 
    comfortingly- the very hands which administered to you so skillfully- the 
    very feet which traveled by your side so faithfully- the very bosom which 
    pillowed you so tenderly- you shall meet again. &quot;The coming of the Lord 
    draws near,&quot; and those who &quot;sleep in Jesus will God bring with Him.&quot; Let us 
    &quot;comfort one another with these words.&quot; <br>
    And will it be no additional joy to meet and to know those eminent servants 
    of the Lord whose histories and whose writings stimulated, instructed, and 
    cheered us, shedding light and gladness on our way? Abraham, whose faith had 
    animated us- David, whose experimental psalms had comforted us- Isaiah, 
    whose visions of Jesus had gladdened us- Paul, whose doctrinal epistles had 
    instructed us- John, whose letters of love had subdued us; to gaze upon the 
    &quot;Magdalene &quot; sitting at Jesus' feet- upon the &quot;beggar&quot; reposing in Abraham's 
    bosom- upon the &quot;thief&quot; with Christ in Paradise- oh! will not this add to 
    the happiness of heaven? Will this be no joy, no bliss, no glory? Assuredly 
    it will! At Christ's coming, will not His ministers, too, and those to whom 
    their labors had been useful, meet, know, and rejoice in each other? The 
    pastor and the flock, will there be no certain and permanent reunion? no 
    sweet, and fond, and holy recognition? Shall their union in the Church below 
    exceed, in its beauty and sweetness, their reunion in the Church above? Here 
    it is necessarily mingled with much that is imperfect. Much concealment is 
    connected with their united labors in the vineyard of Christ. They go forth 
    weeping, bearing precious seed, and often are called to their rest before 
    the fruit of their prayers, and tears, and toil appears. Here, too, seasons 
    of sickness and of separation frequently transpire, enshrouding the spirit 
    with gloom, and wringing the heart with anguish. And then, at last, death 
    itself rudely breaks the tender bond, lays the standard-bearer low, leaving 
    the affectionate flock to gaze with streaming eye upon the lessening spirit 
    of their pastor as it ascends and towers away to glory. But the coming of 
    Jesus, with all His saints, will restore this happy union, invest it with 
    new and richer glory, and place it upon a permanent, yes, everlasting basis. 
    &quot;For what is our hope, or joy, or crown of rejoicing? Are not even you in 
    the presence of our Lord Jesus Christ at His coming? For you are our glory 
    and joy.&quot; Yes, beloved, we shall know each other again, altered and 
    glorified though we may be. <br>
&nbsp; </p>
    <p align="justify">MARCH 12. </p>
    <p align="justify">&quot;Let me fall now into the hand of the Lord; for very 
    great are his mercies: but let me not fall into the hand of man.&quot; 1 Chron. 
    21:13. </p>
    <p align="justify">Well did the trembling king of Israel so exclaim, when 
    with an air of tender faithfulness the prophet placed before him the choice 
    of those evils which should mark his sin. Every point of light in which his 
    decision can be viewed justifies both its wisdom and its holiness. It was 
    wise: he knew that the Lord was his God; as such, He had long been wont to 
    deal with him in transactions the most solemn and confiding, and thus, from 
    knowledge and experience, he felt he could now safely trust in Him. It was 
    holy: he saw that God was most righteous in punishing his sin, and that in 
    meekly submitting to that punishment which came more immediately from the 
    Lord, he was sympathizing with the equity of the divine government, and was 
    upholding the character of the &quot;Judge of all the earth&quot; as &quot;most upright.
    <br>
    Guided by these considerations, he would rather fall into the hands of the 
    Lord, uplifted though they were to scourge. Who has not made this prayer his 
    own, and breathed it at the footstool of mercy? The &quot;tender mercies of the 
    wicked are cruel,&quot; but the severest corrections of our Father are love. To 
    be smitten by God is infinitely better to the believer than to be blest by 
    man. The creature's affection often brings with it a snare; and the honor 
    which comes from man tends to nourish the corrupt principle of depraved 
    self. But whatever, in the experience of a child of God, that may be which 
    comes more directly from the Lord, it brings with it its concealed but its 
    certain and often unutterable blessing. Oh, how safe are we in the Lord's 
    hands! Though He frown, we yet may love. Though He scourge, we yet may 
    cling. Though He slay, we yet may trust. &quot;I will cause you to pass under the 
    rod, and I will bring you into the bond of the covenant.&quot; With such an 
    issue, welcome the discipline that leads to it. &quot;Let me fall into the hand 
    of the Lord; for very great are His mercies.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 13. </p>
    <p align="justify">&quot;O you of little faith, wherefore did you doubt?&quot; Matthew 
    14:31. </p>
    <p align="justify">Doubting faith is not doubtful faith. If the believer has 
    not the faith of assurance, he may have the faith of reliance, and that will 
    take him to heaven. All the doubts and fears that ever harassed a child of 
    God cannot erase his name from the Lamb's book of life, nor take him out of 
    the heart of God, nor shut him out of glory. &quot;Unbelief,&quot; says Rutherford, 
    &quot;may perhaps tear the copies of the covenant which Christ has given you; but 
    He still keeps the original in heaven with Himself. Your doubts and fears 
    are no parts of the covenant; neither can they change Christ.&quot; <br>
    &quot;The doubts and fears of the elect,&quot; remarks another, &quot;are overruled by 
    almighty grace to their present and eternal good; as conducing to keep us 
    humble at God's footstool, to endear the merits of Jesus, and to make us 
    feel our weakness and dependence, and to render us watchful unto prayer.&quot; 
    Did ever an unregenerate, lifeless soul entertain a doubt or fear of its 
    spiritual condition? Never. Was it ever known anxiously and prayerfully to 
    question or to reason about its eternal state? Never. Do I seek to 
    strengthen your doubts? No; but I wish to strengthen your tried and doubting 
    faith. I would tell you, for your encouragement, that the minutest particle 
    of grace has eternal glory in it, even as the smallest seed virtually 
    contains all that proceeds from it- the blade, the ear, and the full corn in 
    the ear. Faint not, nor be discouraged in your trial of faith. There is not 
    a sweeter way to heaven than along the path of free grace, paved with hard
    <br>
    trials. It was the way which He trod who was &quot;full of grace.&quot; Rich though He 
    was in grace, yet see how deeply He was tried. Think not, then, that your 
    sore trials are signs of a graceless state. Oh no! The most gracious saints 
    have been the most tried saints. But do not rest here. There is still 
    richer, surer comfort for you- even the fulness of grace that is in Jesus- 
    grace, ever flowing, and yet ever full. Disclose to Him your doubts and 
    fears. Tell Him you desire Him above all good. Plunge into the sea of His 
    fulness; and He, who has created in your soul a thirst for grace, will 
    assuredly and bountifully give you the grace for which you thirst. <br>
&nbsp; </p>
    <p align="justify">MARCH 14. </p>
    <p align="justify">&quot;I will make an everlasting covenant with you, even the 
    sure mercies of David.&quot; Isaiah 55. 3. </p>
    <p align="justify">God had promised David that he would sit upon the throne 
    of his fathers- that the kingdom of Israel, rent from Saul, should be 
    transferred to his government. But the crown and the scepter thus promised 
    loomed in the distance, almost enshrouded from view by dark intervening 
    clouds. The promise seemed as a dead letter. The providence of God appeared 
    to clash with and to contradict the promise of God. But, in the history of 
    His Church, the providences of the divine government are not the exponents 
    of the promises of the Divine Governor. It is not so much by what God does, 
    as by what God has said, that He is to be judged. Christian mourner, in the 
    divine promises you have an equal proprietorship. They are as much yours as 
    they were David's, of whose &quot;sure mercies&quot; you are the possessor. These 
    promises are exceedingly great and precious in their nature- they are 
    personal and particular in their application- they are absolute and 
    infallible in their fulfilment. Death may appear to be written upon the 
    promise, and upon all the means leading to its accomplishment, but there is 
    a life in the promise that cannot die. See how God wrote the sentence of 
    death upon the promise, as in the case of the age of Abraham- the sterility 
    of Sarah- the abduction of Joseph- the demand for Benjamin- the banishment 
    of David; and yet, in all the instances, the word upon which God caused 
    those waiting souls to hope was made good to the letter; and the promise 
    that appeared dead rose again with a life, all the more vigorous and 
    glorious from its long and gloomy entombment. It is the believer's mercy to 
    know that he has to do with a Divine Promiser, whose faithfulness has been 
    proved, and with a promise whose power has been tested. There is not a 
    promise with which the Holy Spirit the Comforter seeks to support and 
    console you, but has passed through the crucible, and has been &quot;tried as 
    silver is tried.&quot; &quot;The word of the Lord is tried.&quot; And if it be a fearful 
    sin to doubt what God has declared, it is a tenfold aggravation of that sin 
    not to believe, when a thousand times over He has made good what He has 
    promised, and when a great cloud of witnesses testify that He has never once 
    falsified His word. <br>
&nbsp; </p>
    <p align="justify">MARCH 15. </p>
    <p align="justify">&quot;Trust in the Lord with all your heart; and lean not unto 
    your own understanding. In all your ways acknowledge him, and he shall 
    direct your paths.&quot; Proverbs 3:5-6 </p>
    <p align="justify">The constant exercise of prayer makes every burden light, 
    and smooths every rugged step of a child of God: it is this only that keeps 
    down his trials; not that he is ever exempt from them- no, it is &quot;through 
    much tribulation that he is to enter the kingdom;&quot;- he is a disciple of the 
    cross, his religion is that of the cross, he is a follower of Him who died 
    upon the cross, and entire exemption from the cross he never expects until 
    he passes to the possession of the crown. But he may pray down his crosses: 
    prayer will lessen their number, and will mitigate their severity. The man 
    whose walk is far from God, whose frame is cold, and worldly, and careless, 
    if he be a true child of the covenant, one of the Lord's family, may expect 
    crosses and trials to increase upon every step he advances towards the 
    kingdom. Ah! little do many of the tried, afflicted, and constantly 
    disappointed believers think how closely related are these very trials, and 
    afflictions, and disappointments, to their restraining of prayer before God; 
    every step seems attended with some new cross- every scheme is blasted by 
    some adverse wind- every effort is foiled- disappointment follows 
    disappointment, wave attends upon wave- nothing they attempt prospers, all 
    they enter upon fails, and everything seems against them. Oh, could we pass 
    behind the scene, what should we discover? a deserted throne of grace! Were 
    we to divulge the secret, and place it in the form of a charge against the 
    believer, what would it be? &quot;You have restrained prayer before God!&quot; The 
    scheme was framed without prayer; the enterprise was entered upon without 
    prayer; the effort was made without prayer- God has blown upon it, and all 
    has come to nothing. No marvel- God was not consulted- the Lord was not 
    acknowledged, His permission was not asked, His wisdom was not sought, His 
    blessing was not craved; and so He blew upon it all! The precious injunction 
    is- &quot;In all your ways acknowledge Him, and He shall direct your paths.&quot; 
    Where this is honored, there is the divine blessing; where it is slighted, 
    there is the divine curse. <br>
&nbsp; </p>
    <p align="justify">MARCH 16. </p>
    <p align="justify">&quot;He shall glorify me.&quot; John 16:14. </p>
    <p align="justify">One essential and important office of the Spirit is to 
    glorify Christ. And how does He most glorify Christ, but by exalting His 
    atoning work, giving to it the preeminence, the importance, and the glory it 
    demands; leading the sinner, whom He has first convinced of sin, to accept 
    of Jesus as a willing, an all-sufficient Savior; to cast away all trust in 
    self, all reliance upon a covenant of works, which is but a covenant of 
    death, and thus going entirely outside of himself, to take up his rest in 
    the blood and righteousness of Immanuel, the God-man Mediator. Oh, what 
    sweet, holy delight must it be to the Spirit of God when a poor sinner, in 
    all his conscious nothingness, is led to build upon Jesus, the &quot;tried stone, 
    the precious corner-stone, the sure foundation!&quot; <br>
    Let the reader, then, imagine how grieving it must be to the Spirit, when 
    there is any resting in His work in the soul, either for acceptance, or for 
    comfort, or for peace, or for strength, or even for evidence of a state of 
    grace, and not solely and entirely in the atoning work which Jesus has 
    wrought out for the redemption of sinners. The work of the Spirit and the 
    work of Christ, though they form parts of one glorious whole, are yet 
    distinct, and to be distinguished in the economy, of grace and in the 
    salvation of a sinner. It is the work of Jesus alone, His perfect obedience 
    to the broken law of God, and His sacrificial death as a satisfaction to 
    divine justice, that forms the ground of a sinner's acceptance with God- the 
    source of his pardon, justification, and peace. The work of the Spirit is 
    not to atone, but to reveal the atonement; not to obey, but to make known 
    the obedience; not to pardon and justify, but to bring the convinced, 
    awakened, penitent soul to receive the pardon, and embrace the justification 
    already provided in the work of Jesus. Now, if there is any substitution of 
    the Spirit's work for Christ's work- any undue, unauthorized leaning upon 
    the work within, instead of the work outside of the believer, there is a 
    dishonor done to Christ, and a consequent grieving of the Holy Spirit of 
    God. It cannot be pleasing to the Spirit to find Himself a substitute for 
    Christ; and yet this is the sin which so many are constantly falling into. 
    If I look to convictions of sin within me, to any motion of the indwelling 
    Spirit, to any part of His work, as the legitimate source of healing, of 
    comfort, or of evidence, I turn my back upon Christ, I remove my eye from 
    the cross, and slight His great atoning work; I make a Christ of the Spirit! 
    I make a Savior of the Holy Spirit! I convert His work into an atoning work, 
    and draw the evidence and the consolation of my pardon and acceptance from 
    what He has done, and not from what Jesus has done! Oh, is not this, again 
    we ask, dishonoring to Christ, and grieving to the Holy Spirit of God? Do 
    not think that we undervalue the Spirit's work- great and precious is it. 
    Viewed as a Quickener- as an Indweller- as a Sanctifier- as a Sealer- as a 
    Witness- as a Comforter- as the Author of prayer- His person cannot be too 
    ardently loved, nor can His work be too highly prized; but the love we bear 
    Him, and the honor we give Him, must not be at the expense of the honor and 
    glory and love due to the Lord Jesus Christ, whom it is His office and His 
    delight to glorify. The crown of redemption must be placed upon the head of 
    Jesus; He alone is worthy to wear it- He alone has a right to wear it. &quot;You 
    have redeemed us by Your blood,&quot; is the song they sing in glory; and &quot;You 
    shall wear the crown,&quot; should be the song echoed back from the redeemed on 
    earth. <br>
&nbsp; </p>
    <p align="justify">MARCH 17. </p>
    <p align="justify">&quot;And the same day Pilate and Herod were made friends 
    together; for before they were at enmity between themselves.&quot; Luke 13:12.
    </p>
    <p align="justify">How striking and solemn the instruction conveyed in this 
    incident! Pilate and Herod, standing in the attitude of the deadliest hate 
    to each other, are now made friends! And what strange but mighty power has 
    thus suddenly subdued their animosity, and turned their hatred into love? 
    What mystic chain has drawn and bound together these hostile rulers? Their 
    mutual and deep enmity against Jesus! Believers in Christ! are the enemies 
    of our glorious Redeemer, inspired by a natural and kindred feeling of 
    hatred, induced to forget their private quarrels, and merge their 
    differences in one common confederation to crush the Son of God, the object 
    of their mutual hostility; and shall not the friends of the Redeemer, 
    constrained by that divine principle of love which dwells in the hearts of 
    all who are born of God, quench their heart-burnings, bury their 
    antipathies, and draw more closely together in one holy, vigorous, and 
    determined alliance to exalt the Son of God, the glorious and precious 
    Object of their mutual affection? Oh, if Jesus is the bond of union to those 
    who hate Him, how much more should He be the bond of union to those who love 
    Him! Beneath His cross how should all unholy jealousy and bitterness, and 
    wrath and anger, and clamor and all uncharitableness, be mourned over, 
    confessed, abhorred, and renounced by the children of the one family; and 
    how should all who love the Lord Jesus Christ in sincerity be unhesitatingly 
    and cordially recognized as such, thus &quot;endeavoring to keep the unity of the 
    Spirit in the bond of peace.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 18. </p>
    <p align="justify">&quot;I John, who also am your brother, and companion in 
    tribulation, and in the kingdom and patience of Jesus Christ, was in the 
    isle that is called Patmos, for the word of God, and for the testimony of 
    Jesus Christ. I was in the Spirit on the Lord's day.&quot; Rev. 1:9-10. </p>
    <p align="justify">Our adorable Immanuel frequently reveals the most 
    brilliant beams of His glory in seasons of the most painful trial and 
    deepest gloom. The dark providential dispensations of God often bring out in 
    richer radiance the glories of His beloved Son, as the darkness of night 
    reveals more distinctly and brightly the existence and beauty of the 
    heavenly bodies. For the manifestation of this remarkable revelation of His 
    risen glory to His servant, our Lord selects precisely such an occasion- an 
    occasion which, to the eye of reason, would appear the most unfavorable and 
    improbable; but to faith's eye, ranging beyond second causes, the most 
    appropriate for such a revelation of Jesus. The emperor Domitian, though not 
    released from his fearful responsibility for the act, was but the instrument 
    of executing the eternal purpose of grace and love. God's hand was moving, 
    and moving too, as it often does, in the &quot;thick darkness.&quot; Exiled as John 
    was by this Roman emperor to a desolate island of the Aegean Sea, &quot;for the 
    word of God, and for the testimony of Jesus Christ,&quot; the Redeemer was but 
    preparing the way for the revelation of those visions of glory, than which, 
    none more sublime or more precious ever broke upon the eye of mortal man. 
    God was not only placing His beloved servant in a right posture to behold 
    them, but was also most wisely and graciously training and disciplining His 
    mind spiritually and humbly to receive them. <br>
    But mark how this dark and trying incident was making for the good of this 
    holy exile. Banished though he was from the saints, from society, and from 
    all means of grace, man could not banish him from the presence of God; nor 
    persecution separate him from the love of Christ. Patmos, to his view, 
    became resplendent with the glory of a risen Savior- a reconciled God and 
    Father was his Sanctuary- the Holy Spirit, the Comforter, overshadowed him- 
    and the Lord's day, already so hallowed and precious to him in its 
    association with the resurrection of the Lord, broke upon him with unwonted 
    effulgence, sanctity, and joy. Oh, how richly favored was this beloved 
    disciple! Great as had been his previous privileges- journeying with Christ, 
    beholding His miracles, hanging on His lips, reposing on His bosom- yet 
    never had he been so privileged- never had he learned so much of Jesus, nor 
    had seen so much of His glory, nor had drunk so deeply of His love, nor had 
    experienced so richly His unutterable tenderness, gentleness, and sympathy; 
    and never had he spent such a Lord's day as now, the solitary in habitant of 
    an isolated isle though he was. Oh, where is there a spot which Jesus cannot 
    irradiate with His glory; where is there solitude which He cannot sweeten 
    with His presence; where is there suffering, privation, and loss, which He 
    cannot more than recompense by His sustaining grace and soothing love; and 
    where is there a trembling and prostrate soul, which His &quot;right hand&quot; cannot 
    lift up and soothe? This, then, was the occasion on which the Lord appeared 
    in so glorious a form, with such soothing words and sublime revelations, to 
    His beloved servant. <br>
&nbsp; </p>
    <p align="justify">MARCH 19. </p>
    <p align="justify">&quot;And he led them out as far as to Bethany, and he lifted 
    up his hands, and blessed them.&quot; Luke 24:50 </p>
    <p align="justify">Let us approach the spot where the Redeemer ascended. It 
    was from Mount Olivet, near to Bethany; so that the two accounts of Christ's 
    ascension recorded by Luke, the one in his Gospel, and the other in his Acts 
    of the Apostles, 1:12, perfectly, agree. How full of great, and holy, and 
    solemn, yes, awful, associations would be that spot to Jesus! It was no 
    strange, unfamiliar, untrodden ground to Him. At the foot of that mount, 
    from whose summit He entered into glory, He had been wont to resort with His 
    disciples for holy meditation and prayer. There, too, His sufferings 
    commenced. There He endured the fearful conflict, when His soul was 
    &quot;exceeding sorrowful, even unto death.&quot; It was there, prostrate in the dust, 
    the cup of trembling in His hand, the sweat of blood falling to the ground, 
    He thrice poured out His soul in that touching prayer- &quot;O my Father, if it 
    be possible, let this cup pass from me: nevertheless, not as I will, but as 
    You will.&quot; Yes, it was from Mount Olivet, the scene of His deep mental 
    agony, and near to Bethany (which signifies the house of affliction), our 
    blessed Lord took His flight to His Father and His God, to enjoy His 
    presence forever, and to drink deeply and eternally of the pleasures which 
    are at His right hand. And so will it be with all His members. As if to 
    heighten, by contrast with the sufferings of earth, the glories of heaven- 
    as if to give a deeper melody to their song, and a richer sweetness to their 
    joy, and a higher character to their ecstasy, and a profounder sense of the 
    grace that brought them there, it often pleases the Lord that affliction, in 
    various forms, should throw its deepest gloom around the path of the 
    children of God, when just on the eve of translation to glory. And when, in 
    anticipation of a smooth descent and a cloudless sunset, they have said, 
    with Job, &quot;I shall die in my nest,&quot; God their Father has seemed to have 
    reserved the bitter dregs of affliction's cup for the dying lips; and, like 
    Jacob, they have been constrained to anticipate that with sorrow their grey 
    hairs will be brought down to the grave. Thus, through much tribulation they 
    enter the kingdom; out of the house of affliction, and, as it were, from 
    Mount Olivet, they ascend to Mount Zion, borne up as in a chariot of fire. 
    Be it so; &quot;He does all things well.&quot; Compared with the sufferings of Jesus, 
    it is, in its heaviest form, but a &quot;light affliction;&quot; and measured with an 
    eternity of bliss, in its longest duration, is but &quot;for a moment.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 20. </p>
    <p align="justify">&quot;And it came to pass, while he blessed them, he was 
    parted from them, and carried up into heaven.&quot; Luke 24:51 </p>
    <p align="justify">How touching and instructive was the parting interview! 
    Oh, how worthy of Himself was this His final blessing! How harmonious with 
    every previous act of His life was this its closing one! Blessing to the 
    last, and while with outstretched hands that blessing was yet breathing from 
    His lips, &quot;received up into glory.&quot; Oh, how full of grace and love is our 
    adorable Immanuel! What a heart of overflowing tenderness and blessing is 
    His! Knowing this, knowing it from observation and from experience, 
    supported by the innumerable proofs which crowd every page of the New 
    Testament, is it not a marvel that we should seek our blessing from any 
    other source than Jesus, or that we should breathe our sighs, or pour our 
    sorrows, or repose our aching head, on any other bosom than His? Ah! our 
    acquaintance with Him- our best, our dearest, our most loving Friend- is so 
    limited, we walk with Him so coldly, we follow Him so distantly, we believe 
    in Him so feebly; the greatest wonder is; that in the midst of all, His 
    patience forbearance, tender and unchangeable love, towards us should still 
    be so unwearied and so great. <br>
    But who can describe the parting interview and the last blessing? Clustering 
    around Him a lonely timid band, saddened as they must have been by the 
    thought that they were about to separate forever on earth from Him whom they 
    loved- as many of them afterwards proved- better than life itself- to whom 
    they had been wont to look for guidance, on whom they had leaned for 
    strength, and to the shelter of whose bosom they had fled in danger and in 
    sorrow, they needed His blessing- they needed that which none but Jesus 
    could give to them. They were oppressed, and He only could undertake for 
    them. They were in sorrow, and He only could comfort them. They were tried 
    and perplexed, and He only could sustain and counsel them. And what, may we 
    suppose, would that blessing contain, which He now breathed over them? The 
    richer anointing of the Spirit to fit them for their work- a larger measure 
    of grace to shield them in temptation, and to uphold them in trial- 
    increased light in the understanding respecting the spiritual nature of His 
    kingdom, and the meaning of the Holy Scriptures of truth; and- what to them, 
    at that moment, would be of unspeakable preciousness- a deeper discovery of 
    His own pardoning love, a fuller assurance of their personal acceptance in 
    Himself, and a richer bestowment of the &quot;peace of God, which passes all 
    understanding.&quot; Thus blessing, He was &quot;parted from them, and carried up into 
    heaven,&quot; to intercede for them there; and thus blessed, &quot;they worshiped Him, 
    and returned to Jerusalem with great joy,&quot; to spread the fragrance and to 
    manifest the power of His name through all the world. <br>
&nbsp; </p>
    <p align="justify">MARCH 21. </p>
    <p align="justify">&quot;It is I; do not be afraid.&quot; John 6:20. </p>
    <p align="justify">Imagine yourself threading your way along a most 
    difficult and perilous path, every step of which is attended with pain and 
    jeopardy, and is taken with hesitancy and doubt. Unknown to you and unseen, 
    there is one hovering each moment around you, checking each false step, and 
    guiding each doubtful one; soothing each sorrow, and supplying each need. 
    All is calm and silent. Not a sound is heard, not a movement is seen; and 
    yet, to your amazement, just at the critical moment the needed support 
    comes- you know not from where, you know not from whom. This is no picture 
    of fancy. Are you a child of God, retracing your steps back to Paradise by 
    an intricate and a perilous way? Jesus is near to you at each moment, unseen 
    and often unknown. You have at times stood speechless with awe at the 
    strange interposition, on your behalf, of providence and of grace. No 
    visible sign betokened the source of your help. There was no echo of 
    footfall at your side, nor flitting of shadow across your path. No law of 
    nature was altered or suspended, the sun did not stand still, nor did the 
    heavens open; and yet deliverance, strange and effectual deliverance, came 
    at a moment most unexpected, yet most needed. It was Jesus, your Redeemer, 
    your Brother, your Shepherd, and your Guide. He it was who, hovering round 
    you, unknown and unobserved, kept you as the apple of His eye, and sheltered 
    you in the hollow of His hand. It was He who armed you with courage for the 
    fight, who poured strength into your spirit, and grace into your heart, when 
    the full weight of calamity pressed upon them. Thus has He always been to 
    His saints. The incident of the disciples in the storm presents a striking 
    instance of this. Behold Him standing upon the shore, eyeing, with riveted 
    gaze, the little boat as it struggled amid the sea. They were often 
    invisible to human eye, but not a moment were they lost to His. Not even 
    when in the mount alone in prayer, were they forgotten or unobserved. He 
    beheld from thence their peril, He knew their fears, and He hastened to 
    their support. Stepping from the shore, He approached them. Oh how majestic 
    did His form now appear- walking like a man; and upon the water, like a God! 
    They did not realize that it was Jesus, and were afraid. But their knowledge 
    of Him was not necessary to their safety. It was enough that He knew them. 
    And just as the storm was at its height, and their fears rose with their 
    peril, He drew near and said, in His own gentle, soothing tone, unto them, 
    &quot;It is I; do not be afraid.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 22. </p>
    <p align="justify">&quot;One God and Father of all, who is above all, and through 
    all, and in you all.&quot; Ephesians 4:6. </p>
    <p align="justify">All who? -the one Church of God. One covenant God and 
    Father unites the one family in heaven and in earth. They are one in His 
    choice, one in His purpose, one in His covenant, one in His heart. The same 
    will chose them- the same affection loved them- the same decree 
    predestinated them: they are one in Him. Blessed truth! &quot;One God and 
    Father.&quot; Behold them clustering together around the mercy-seat: they come 
    from various parts of the world, they speak different languages, they 
    express opposite feelings, they unfold needs and sorrows; yet listen! they 
    all address Him as &quot;Our Father.&quot; Every heart bows in love to Him, every 
    heart is fixed in faith upon Him, and every tongue breathes the lofty, and 
    endearing, and holy name of &quot;Abba, Father.&quot; There, in the glowing light amid 
    which the throne of mercy, stands, all sectarian feeling dies, all 
    denominational distinction is lost, and Christians of every name meet, and 
    embrace, and love as brethren. Holy thought! One God loves all, and protects 
    all; one Father pities all, supplies all, bears with all, and, with an 
    impartial affection, binds all together and alike in His heart. <br>
&nbsp; </p>
    <p align="justify">MARCH 23. </p>
    <p align="justify">&quot;One Lord.&quot; Ephesians 4:5. </p>
    <p align="justify">The Church is also one in the Son- &quot;There is one Lord.&quot; 
    The Lord Jesus is the one Head, as He is the one Foundation, of the Church. 
    All believers are chosen in Christ, blessed in Christ, saved in Christ, 
    preserved in Christ, and in Christ will be glorified. The work of Christ is 
    the one resting-place of their souls. They rely for pardon upon the same 
    blood, for acceptance upon the same righteousness, and for sanctification 
    upon the same grace. One in Christ, all other differences and distinctions 
    are merged and forgotten: &quot;There is neither Jew nor Greek; there is neither 
    bond nor free; there is neither male nor female for you are all one in 
    Christ Jesus.&quot; Blessed truth! the &quot;righteousness of God, which is unto all 
    and upon all those who believe,&quot; imparts the same completeness to all 
    believers in Christ. Upon the breastplate of the great High Priest, now 
    within the veil, every, name is alike written- not a sectarian appellation 
    dims the luster of the &quot;Urim and the Thummin,&quot; in whose glowing light the 
    names of all the saints are alike enshrined. What a uniting truth is this! 
    Jesus is the one Head of life, light, and love, to all His saints. He 
    carried the transgression of all- He bore the curse of all- He endured the 
    hell of all- He pardons the sin of all- He supplies the need of all- He 
    soothes the sorrows of all, and He lives and intercedes for all. To Him all 
    alike repair, it is true, with different degrees of knowledge and of faith, 
    and from different points; yet, to Jesus, as to one Savior, one Brother, one 
    Lord, they all alike come. Oh! what a cementing principle is this! The body 
    of Christ- the purchase of the same blood, loved with the same affection, 
    and in heaven represented by the same Advocate, and soon, oh, how soon, to 
    be &quot;gloried together&quot; with Him. What love, then, ought I to bear towards Him 
    whom Jesus has so loved! How can I feel coldly, to, or look unkindly at, or 
    speak uncharitably of, one whom Jesus has redeemed with the same precious 
    blood, and whom He carries each moment in the same loving heart? <br>
&nbsp; </p>
    <p align="justify">MARCH 24. </p>
    <p align="justify">&quot;By one Spirit are we all baptized into one body, whether 
    we be Jews or Gentiles, whether we be bond or free; and have been all made 
    to drink into one Spirit.&quot; 1 Cor. 12:13. </p>
    <p align="justify">The Church of God is equally one in the Holy Spirit. One 
    Spirit regenerating all, fashioning all, teaching all, sealing all, 
    comforting all, and dwelling in all. Degrees of grace and &quot;diversities of 
    gifts&quot; there are, &quot;but the same Spirit.&quot; That same Spirit making all 
    believers partakers of the same divine nature, and then taking up his abode 
    in each, must necessarily assimilate them in every essential quality, and 
    feature, and attribute of the Christian character. Thus, the unity of the 
    Church is an essential and a hidden unity. With all the differences of 
    opinion, and the varieties of ceremonial, and the multiplicity of sects into 
    which she is broken and divided, and which tend greatly to impair her 
    strength, and shade her beauty, she is yet essentially and indivisibly one- 
    her unity consisting, not in a uniformity of judgment, but better far than 
    this, in the &quot;unity of the Spirit.&quot; Thus, no individual believer can with 
    truth say that he possesses the Spirit exclusively, boasting himself of what 
    other saints have not; nor can any one section of the Christian Church lay 
    claim to its being the only true Church, and that salvation is found only 
    within its pale. These lofty pretensions, these exclusive claims, this 
    vain-glory and uncharitableness, are all demolished by one lightning touch 
    of truth, even by that blessed declaration, &quot;For by one Spirit are we all 
    baptized into one body.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 25. </p>
    <p align="justify">&quot;The love of Christ constrains us.&quot; 2 Cor. 5:14. </p>
    <p align="justify">Love is the great influential principle of the gospel. 
    The religion of Jesus is preeminently a religion of motive: it excludes 
    every compulsory principle; it arrays before the mind certain great and 
    powerful motives with which it leads captive the understanding, the will, 
    the affections, and enlists them all in the active service of Christ. Now 
    the law of Christianity is not the law of coercion, but of love. This is the 
    grand lever, the great influential motive, &quot;the love of Christ constrains 
    us.&quot; This was the apostle's declaration, and this his governing motive; and 
    the constraining love of Christ is to be the governing motive, the 
    influential principle, of every believer. Apart from the constraining 
    influence of Christ's love in the heart, there cannot possibly be a willing, 
    prompt, and holy obedience to His commandments. A conviction of duty and the 
    influence of fear may sometimes urge forward the soul, but love can only 
    prompt to a loving and holy obedience; and all obedience that springs from 
    an inferior motive is not the obedience that the gospel of Jesus inculcates. 
    The relation in which the believer stands to God, under the new covenant 
    dispensation, is not that of a slave to his master, but of a child to its 
    father. &quot;And because you are sons, God has sent forth the Spirit of his Son 
    into your hearts, crying, Abba, Father.&quot; &quot;Wherefore you are no more a 
    servant (a slave), but a son.&quot; With this new and spiritual relation, we look 
    for a new and spiritual motive, and we find it in that single but 
    comprehensive word- Love. And thus has our Lord declared it: &quot;If you love 
    me, keep my commandments;&quot; &quot;If a man love me, he will keep my words;&quot; and 
    &quot;he that loves me not, keeps not my sayings.&quot; It is, then, only where this 
    love is shed abroad in the heart by the Holy Spirit that we may expect to 
    find the fruit of obedience. Swayed by this divine principle, the believer 
    labors not for life, but from life; not for acceptance, but from acceptance. 
    A holy, self- denying, cross-bearing life, is not the drudgery of a slave, 
    but the filial, loving obedience of a child; it springs from love to the 
    person, and gratitude for the work of Jesus, and is the blessed effect of 
    the spirit of adoption in the heart. <br>
    Under the constraining influence of this principle, how easy becomes every 
    cross for Jesus! how light every burden, and how pleasant every yoke! Duties 
    become privileges, difficulties vanish, fears are quelled, shame is humbled, 
    and delay is rebuked. <br>
&nbsp; </p>
    <p align="justify">MARCH 26. </p>
    <p align="justify">&quot;It is good for me to draw near to God.&quot; Psalm 73:28. </p>
    <p align="justify">The more any object is to us a source of sweet delight 
    and contemplation, the more strongly do we desire its presence, and the more 
    restless are we in its absence. The friend we love we want constantly at our 
    side; the spirit goes out in longings for communion with him; his presence 
    sweetens, his absence embitters every other joy. Precisely true is this of 
    God. He who knows God, who with faith's eye has discovered some of His 
    glory, and, by the power of the Spirit, has felt something of His love, will 
    not be at a loss to distinguish between God's sensible presence and absence 
    in the soul. Some professing people walk so much without communion, without 
    fellowship, without daily, filial, and close communion with God; they are so 
    immersed in the cares, and so lost in the fogs and mists of the world; the 
    fine edge of their spiritual affection is so blunted, and their love so 
    frozen by contact with worldly influences and occupations- and no less so 
    with cold, formal professors- that the Sun of Righteousness may cease to 
    shine upon their soul, and they not know it! God may cease to visit them, 
    and His absence not be felt! He may cease to speak, and the stillness of His 
    voice not awaken an emotion of alarm! Yes, a more strange thing would happen 
    to them if the Lord were suddenly to break in upon their soul with a visit 
    of love, than were He to leave them for weeks and months without any token 
    of His presence. Reader, are you a professing child of God? Content not 
    yourself to live thus; it is a poor, lifeless existence, unworthy of your 
    profession, unworthy of Him whose name you do bear, and unworthy of the 
    glorious destiny towards which you are looking. Thus may a believer test the 
    character of his love. He in whose heart divine affection deepens, 
    increases, and expands, finds God an object of increasing delight and 
    desire, and communion with Him the most costly privilege on earth; he cannot 
    live in the neglect of constant, secret, and close fellowship with his God, 
    his best and most faithful friend. <br>
&nbsp; </p>
    <p align="justify">MARCH 27. </p>
    <p align="justify">&quot;We walk by faith, not by sight.&quot; 2 Cor. 5:7. </p>
    <p align="justify">This walk of faith takes in all the minute circumstances 
    of every day's history; a walking every step by faith; a looking above 
    trials, above necessities, above perplexities, above improbabilities and 
    impossibilities, above all second causes; and, in the face of difficulties 
    and discouragements, going forward, leaning upon God. If the Lord were to 
    roll the Red Sea before us, and marshal the Egyptians behind us, and thus 
    hemming us in on every side, should yet bid us advance, it would be the duty 
    and the privilege of faith instantly to obey, believing that, before our 
    feet touched the water, God, in our extremity, would divide the sea and take 
    us dry-shod over it. This is the only holy and happy life of a believer; if 
    he for a moment leaves this path and attempts to walk by sight, difficulties 
    will throng around him, troubles will multiply, the smallest trials will 
    become heavy crosses, temptations to depart from the simple and uptight walk 
    will increase in number and power, the heart will sicken at disappointment, 
    the Holy Spirit will be grieved, and God will be dishonored. Let this 
    precious truth ever be before the mind, &quot;We walk by faith, not by sight.&quot;
    <br>
&nbsp; </p>
    <p align="justify">MARCH 28. </p>
    <p align="justify">&quot;The children of Manasseh could not drive out the 
    inhabitants of those cities; but the Canaanites would dwell in the land.&quot; 
    Joshua 17:12. </p>
    <p align="justify">You will recollect that when the children of Israel took 
    possession of Canaan, although they conquered its inhabitants and took 
    supreme possession and government of the country, yet they could not 
    entirely dispossess the former occupants of the soil. Now, what these 
    Canaanites, these heathenish idolaters, were to the children of Israel, the 
    natural corruptions of the heart are to the called children of God. After 
    all that divine and sovereign mercy has done for the soul, though the 
    inhabitants of the land have been conquered, and the heart has yielded to 
    the power of omnipotent grace, and the &quot;strong man armed&quot; has been deposed, 
    and Jesus has taken the throne, yet the Canaanites still dwell in the land, 
    and we cannot expel them thence. These are the natural corruptions of our 
    fallen nature, the evils of a heart that is but partially renewed, the 
    heathenish lusts and passions and infirmities that formerly were the sole 
    occupants of the soil, and still dwell there, and which we shall never, in 
    the present state, entirely dispossess. But what did the children of Israel 
    do to these Canaanites, whom they could not give out of the cities, but who 
    would dwell in the land? We read in the 13th verse: &quot;Yet it came to pass 
    when the children of Israel were waxen strong, that they put the Canaanites 
    to tribute; but did not utterly drive them out.&quot; Now this is what the 
    children of God must do with the spiritual Canaanites that yet dwell in the 
    renewed heart: they cannot be driven out, but they may be put to tribute; 
    they cannot be entirely extirpated, yet they may be brought into complete 
    subjection, and even made to contribute to the spiritual advance of the 
    soul, and to the glory of God. Yes, even these very indwelling and powerful 
    Canaanites, these strong corruptions that war and fight in the renewed soul, 
    may be made subservient to the spiritual benefit of a child of God. Will it 
    not be so, if they lead him to put no confidence in himself, to draw largely 
    from the fulness of grace in Jesus, to repair often to the throne of mercy, 
    to deal much and closely with the atoning blood, to cultivate a watchful, 
    prayerful, tender spirit, and daily and hourly to rejoice in Christ Jesus, 
    having no confidence in the flesh? Thus may the renewed soul- often led to 
    exclaim, &quot;O wretched man that I am! who shall deliver me from the body of 
    this death?&quot;- through a supply of the Spirit of Christ Jesus, and becoming 
    more thoroughly versed in the are of the holy war, be able to turn the 
    risings of his indwelling sins into occasions of more holy and humble walk 
    with God. <br>
&nbsp; </p>
    <p align="justify">MARCH 29. </p>
    <p align="justify">&quot;I know, O Lord, that your judgments are right, and that 
    you in faithfulness have afflicted me.&quot; Psalm 119:75. </p>
    <p align="justify">The mark of a vigorous love to God is when the soul 
    justifies God in all His wise and gracious dealings with it; rebels not, 
    murmurs not, repines not, but meekly and silently acquiesces in the 
    dispensation, be it ever so trying. Divine love in the heart, deepening and 
    expanding towards that God from where it springs, will, in the hour of 
    trial, exclaim, &quot;My God has smitten me, but He is my God still, faithful and 
    loving. My Father has chastened me sorely, but He is my Father still, tender 
    and kind. This trying dispensation originated in love, it speaks with the 
    voice of love, it bears with it the message of love, and is sent to draw my 
    heart closer and yet closer to the God of love, from whom it came.&quot; Dear 
    reader, are you one of the Lord's afflicted ones? Happy are you if this is 
    the holy and blessed result of His dealings with you. Happy if you hear the 
    voice of love in the rod, winning your lonely and sorrowful heart to the God 
    from whom it came. But when love to God has declined, the reverse of this is 
    the state of a tried and afflicted believer; and hard thoughts of God in His 
    dispensations may be regarded as an undeniable symptom of such declension.
    <br>
&nbsp; </p>
    <p align="justify">MARCH 30. </p>
    <p align="justify">&quot;Having therefore, brethren, boldness to enter into the 
    holiest by the blood of Jesus.&quot; Hebrews 10:19. </p>
    <p align="justify">In all true prayer great stress should be laid on the 
    blood of Jesus; perhaps no evidence distinguishes a declension in the power 
    and spirituality of prayer more strongly than an overlooking of this. Where 
    the atoning blood is kept out of view, not recognized, not pleaded, not made 
    the grand plea, there is a deficiency of power in prayer. Words are nothing, 
    fluency of expression nothing, niceties of language and brilliancy of 
    thought nothing, and even apparent fervor nothing, where the blood of 
    Christ- the new and the living way of access to God, the grand plea that 
    moves Omnipotence, that gives admission within the holy of holies- is 
    slighted, undervalued, and not made the groundwork of every petition. Oh, 
    how much is this overlooked in our prayers, how is the atoning blood of 
    Immanuel slighted! How little mention we hear of it in the sanctuary, in the 
    pulpit, in the social circle! whereas it is this that makes prayer what it 
    is with God. All prayer is acceptable with God, and only so, as it comes up 
    perfumed with the blood of Christ; all prayer is answered as it urges the 
    blood of Christ as its plea; it is the blood of Christ that satisfies 
    justice, and meets all the demands of the law against us; it is the blood of 
    Christ that purchases and brings down every blessing into the soul; it is 
    the blood of Christ that sues for the fulfilment of His last will and 
    testament, every precious legacy of which comes to us solely on account of 
    His death; this it is, too, that gives us boldness at the throne of grace. 
    How can a poor sinner dare approach with out this? How can he look up, how 
    can he ask, how can he present himself before a holy God, but as he brings 
    in the hand of faith the precious blood of Jesus? Outside of Christ, God can 
    hold no communication with us; all communion is suspended, every avenue of 
    approach is closed, all blessing is withheld. God has crowned His dearly 
    beloved Son, and He will have us crown Him too; and never do we place a 
    brighter crown upon His blessed head, than when we plead His finished 
    righteousness as the ground of our acceptance, and His atoning blood as our 
    great argument for the bestowment of all blessing with God. If, then, dear 
    reader, you feel yourself to be a poor, vile, unholy sinner; if a 
    backslider, whose feet have wandered from the Lord, in whose soul the spirit 
    of prayer has declined, and yet still feel some secret longing to return, 
    and dare not, because so vile, so unholy, so backsliding; yet you may 
    return, &quot;having boldness to enter into the holiest by the blood of Jesus.&quot; 
    Come, for the blood of Jesus pleads; return, for the blood of Christ gives 
    you a welcome. &quot;If any man sin, we have an Advocate with the Father, Jesus 
    Christ the righteous.&quot; <br>
&nbsp; </p>
    <p align="justify">MARCH 31. </p>
    <p align="justify">&quot;And for sin, condemned sin in the flesh.&quot; Romans 8:3.
    </p>
    <p align="justify">As sin is the great condemning cause, let us aim to 
    condemn sin, if we would rank with those for whom there is no condemnation. 
    Most true is it, that either sin must be condemned by us, or we must be 
    condemned for sin. The honor of the Divine government demands that a 
    condemnatory sentence be passed, either upon the transgression, or upon the 
    transgressor. And shall we hesitate? Is it a matter of doubt to which our 
    preference shall be given? Which is best, that sin should die, or that we 
    should die? Will the question allow a moment's consideration? Surely not, 
    unless we are so enamored with sin as calmly and deliberately to choose 
    death rather than life, hell rather than heaven. &quot;The wages of sin is 
    death.&quot; Sin unrepented, unforgiven, unpardoned, is the certain prelude to 
    eternal death. Everlasting destruction follows in its turbid wake. There is 
    a present hell in sin, for which the holy shun it; and there is a future 
    hell in sin, for which all should dread it. If, then, we would be among &quot;the 
    pure in heart who shall see God,&quot; if we would lift up our faces with joy 
    before the Judge at the last great day, if we would be freed from the final 
    and terrible sentence of condemnation, oh, let us be holy, &quot;denying all 
    ungodliness and worldly lusts, and living righteously, soberly, and godly in 
    this present world.&quot; Oh, let us condemn sin, that sin may not condemn us. 
    And let us draw the motive that constrains us, and the power that helps us, 
    from that cross where Jesus &quot;condemned sin in the flesh.&quot;</p>
