MAY 0
    <p align="justify"><b>MAY 1. </b></p>
    <p align="justify">&quot;This people has a revolting and a rebellious heart; they 
    are revolted and gone.&quot; Jeremiah 5:23 </p>
    <p align="justify">We look at a believer's lax practice, we mourn and weep 
    over it, and we do well; we trace our own, and still deeper shame and 
    confusion of face cover us: but we forget that the cause of our bitterest 
    sorrow and humiliation should be the concealed principle of evil, from where 
    springs this unholy practice. How few among the called of God are found 
    confessing and mourning over the sin of their nature; the impure fountain 
    from where the stream flows from, the unmortified root from where the branch 
    originates, and from which both are fed and nourished. This is what God 
    looks at- the sin of our fallen, unsanctified nature- and this is what we 
    should look at, and mourn over. Indeed, true mortification of sin consists 
    in a knowledge of our sinful nature; and its subjection to the power of 
    divine grace. The reason why so few believers &quot;through the Spirit mortify 
    the deeds of the body&quot; is, a forgetfulness that the work has to do first and 
    mainly with the root of sin in the soul. &quot;Make the tree good, and the fruit 
    will also be good;&quot; purify the fountain, and the streams will be pure. Oh, 
    were there a deeper acquaintance with the hidden iniquity of our fallen 
    nature- a more thorough learning of the truth, that &quot;in our flesh there 
    dwells no good thing,&quot;- a more heart-felt humiliation on account of it, and 
    more frequent confession of it before God- how much higher than they now 
    are, would be the attainments in holiness of many believers! There is, then, 
    in every child of God, the innate principle of departure. Notwithstanding 
    the wonders of grace God has wrought for the soul- though He has elected, 
    called, renewed, washed, and clothed the believer- yet if He did not check 
    and bridle him in, he would depart, and that forever! -this unsanctified, 
    unmortified principle would bear him away. Is there not in this aspect of 
    our theme something truly heartbreaking?- the subject of God's kind and 
    benevolent government, and yet to be always rebelling against the Sovereign; 
    dwelling under a kind and loving Father's roof, and yet to be perpetually 
    grieving Him and departing from Him; to have received so many costly proofs 
    of His love, and yet rendering the most ungrateful returns- oh, it is enough 
    to sink the soul in the deepest self-abasement before God. Reader, what has 
    the Lord been to you? Come, witness for Him; has He ever been a wilderness 
    to you, a dry and barren land? has there been anything in His dealings, in 
    His conduct, in His way with you, why you should have turned your back upon 
    Him? has there been any harshness in His rebukes, any unkind severity in His 
    corrections, anything judicial and vindictive in His dealings? No, on the 
    contrary, has He not been a fruitful garden, a pleasant land, a fountain of 
    living waters to you? has He not blended kindness with all His rebukes, 
    tenderness with all His chastisements, love with all His dealings, and has 
    not His gentleness made you great? Then why have you departed from Him? What 
    is there in God that you should leave Him, what in Jesus that you should 
    wound Him, what in the blessed Spirit that you should grieve Him? Is not the 
    cause of all your departure, declension, unkindness, unfruitfulness, in 
    yourself, and in yourself alone? But if this has been your conduct towards 
    God, not so has been His conduct towards you. <br>
&nbsp; </p>
    <p align="justify">MAY 2. </p>
    <p align="justify">&quot;I will not let you go, except you bless me.&quot; Genesis 
    32:26 </p>
    <p align="justify">It is the knowledge of his need that gives true eloquence 
    to the petition of the beggar; a sense of destitution, of absolute poverty, 
    of actual starvation, imparts energy to his plea, and perseverance in its 
    attainment; his language is, &quot;I must have bread, or I die.&quot; This is just 
    what we want the child of God to feel: what is he but a pensioner on God's 
    daily bounty? what resources has he within himself?- none whatever; and what 
    is he without God?- poor indeed. Now, in proportion as he becomes acquainted 
    with his real case, his utter destitution, he will besiege the throne of 
    grace, and take no denial. He must know his needs, he must know what grace 
    he is deficient in, what besetting sin clings to him, what infirmities 
    encompass him, what portion of the Spirit's work is declining in his soul, 
    where he is the weakest and the most exposed to the attacks of the enemy, 
    and what he yet lacks to perfect him in all the will of God; let him examine 
    himself honestly, and know his real condition. This will endear the throne 
    of grace, will stir up the slumbering spirit of prayer, will supply him with 
    errands to God, and give argument, energy, and perseverance to his suit. It 
    was his deep and pressing sense of need that imparted such boldness and 
    power to the wrestlings of Jacob. &quot;I will not let You go, except You bless 
    me;&quot; and the Lord said, &quot;Your name shall be called no more Jacob, but 
    Israel; for as a prince have you power with God and with men, and have 
    prevailed.&quot; Thus imitate the patriarch; begin the day with thinking over 
    what you may possibly need before its close- whether any cross is 
    anticipated, or any temptation is apprehended, or any danger to which you 
    may be exposed; and then go and wrestle for the needed and the promised 
    grace. Oh, it is a great mercy to have an errand that sends us to God; and 
    when we remember what a full heart of love He has, what a readiness to hear, 
    what promptness in all His answers, what entering into the minutest 
    circumstance of a believer's history- how it chides the reluctance and 
    rebukes the unbelief that we perpetually manifest in availing ourselves of 
    this most costly, holy, and precious of all our privileges! <br>
&nbsp; </p>
    <p align="justify">MAY 3. </p>
    <p align="justify">&quot;Those who are whole have no need of the physician, but 
    those who are sick: I came not to call the righteous, but sinners to 
    repentance.&quot; Mark 2:17 </p>
    <p align="justify">The Spirit glorifies Christ by revealing what Christ is 
    to an emptied, lowly, penitent soul. And this He does by unfolding the great 
    truth of the Bible- that Jesus died for sinners. Not for the righteous, not 
    for the worthy, but for sinners, as sinners; for the unrighteous, for the 
    unworthy, for the guilty, for the lost. Precious moment, when the Eternal 
    Spirit, the great Glorifier of Jesus, brings this truth with power to the 
    heart! &quot;I had believed,&quot; exclaims the transported soul, &quot;that Jesus died 
    only for those who were worthy of so rich a sacrifice, of such immense love. 
    I thought to bring some price of merit in my hands, some self-preparation, 
    some previous fitness, something to render my case worthy of His notice, and 
    to propitiate His kind regard. But now I see His salvation is for the vile, 
    the poor, the penniless. I read that 'when we were without strength, Christ 
    died for the ungodly,' that 'while we were yet sinners, Christ died for us,'&nbsp; 
    that 'when we were enemies, we were reconciled to God by the death of His 
    Son,' that 'it is a faithful saying, and worthy of all acceptation, that 
    Christ Jesus came into the world to save sinners,'&nbsp; that it is 'without 
    money and without price,' that it is 'by grace we are saved,' and that it is 
    'of faith, that it might be by grace.'&quot; This good news, these joyful 
    tidings, this glorious message of free mercy for the vilest of the vile, 
    believed, received, welcomed, in a moment the clouds all vanish, the fogs 
    all disappear, the face of God beams in mild and softened luster, and, amid 
    light and joy, gladness and praise, the jubilee of the soul is ushered in. 
    Oh, what glory now encircles the Redeemer! That soul venturing upon Him with 
    but the faith of reliance, traveling to Him in all weakness, and in the face 
    of all opposition, brings more glory to His name than all the hallelujahs of 
    the heavenly minstrelsy ever brought. <br>
&nbsp; </p>
    <p align="justify">MAY 4. </p>
    <p align="justify">&quot;Why are you so fearful? how is it that you have no 
    faith?&quot; Mark 4:40 </p>
    <p align="justify">The habitual, or even the occasional, doubtful 
    apprehension indulged in of his interest in Christ will tend materially to 
    the enfeebling and decay of a believer's faith; no cause can be more certain 
    in its effects than this. If it be true that the exercise of faith develops 
    its strength, it is equally true that the perpetual indulgence of doubtful 
    apprehensions of pardon and acceptance must necessarily eat as a canker-worm 
    at the root of faith. Every misgiving felt, every doubt cherished, every 
    fear yielded to, every dark providence brooded over, tends to unhinge the 
    soul from God, and dims its near and loving view of Jesus. To doubt the 
    love, the wisdom, and the faithfulness of God, to doubt the perfection of 
    the work of Christ, to doubt the operation of the Spirit on the heart, what 
    can tend more to the weakening and decay of this precious and costly grace? 
    Every time the soul sinks under the pressure of a doubt of its interest in 
    Christ, the effect must be a weakening of the soul's view of the glory, 
    perfection, and all-sufficiency of Christ's work. But imperfectly may the 
    doubting Christian be aware what dishonor is done to Jesus, what reflection 
    is cast upon His great work, by every unbelieving fear he cherishes. It is a 
    secret wounding of Jesus, however the soul might shrink from such an 
    inference; it is a lowering, an undervaluing of Christ's obedience and 
    death- that glorious work of salvation with which the Father has declared 
    Himself well pleased- that work with which divine justice has confessed 
    itself satisfied- that work, on the basis of which every poor, convinced 
    sinner is saved, and on the ground of which millions of redeemed and 
    glorified spirits are now basking around the throne- that work, we say, is 
    dishonored, undervalued, and slighted by every doubt and fear secretly 
    harbored or openly expressed by a child of God. The moment a believer looks 
    at his unworthiness more than at the righteousness of Christ- supposes that 
    there is not a sufficiency of merit in Jesus to supply the absence of all 
    merit in himself before God- what is it but a setting up his sinfulness and 
    unworthiness above the infinite worth, fulness, and sufficiency of Christ's 
    atonement and righteousness? There is much spurious humility among many of 
    the dear saints of God. It is thought by some, that to be always doubting 
    one's pardon and acceptance is the evidence of a humble spirit. It is, allow 
    us to say, the mark of the very opposite of a lowly and humble mind. That is 
    true humility that credits the testimony of God- that believes because He 
    has spoken it- that rests in the blood and righteousness and all-sufficiency 
    of Jesus, because He has declared that &quot;whoever believes in Him shall be 
    saved.&quot; This is genuine lowliness- the blessed product of the Eternal 
    Spirit. To go to Jesus just as I am, a poor, lost, helpless sinner- to go 
    without previous preparation- to go glorying in my weakness, infirmity, and 
    poverty, that the free grace, and sovereign pleasure, and infinite merit of 
    Christ might be seen in my full pardon, justification, and eternal glory. 
    There is more of unmortified pride, of self-righteousness, of that principle 
    that would make God a debtor to the creature, in the refusal of a soul fully 
    to accept of Jesus, than is suspected. There is more real, profound humility 
    in a simple, believing venture upon Christ, as a ruined sinner, taking Him 
    as all its righteousness, all its pardon, all its glory, than it is possible 
    for any mortal mind to fathom. Doubt is ever the offspring of pride, 
    humility is ever the handmaid of faith. <br>
&nbsp; </p>
    <p align="justify">MAY 5. </p>
    <p align="justify">&quot;If we believe not, yet he abides faithful; he cannot 
    deny himself.&quot; 2 Timothy 2:13 </p>
    <p align="justify">This is the only true and secure anchorage-ground for a 
    poor soul, tossed amid the waves of doubt and perplexity- to know that God 
    cannot alter His word; that it is impossible that He should lie; that were 
    He to deviate from His infinite perfection, He would cease to be a perfect 
    being, and consequently would cease to be God: to know, too, that He is 
    faithful in the midst of the unfaithfulness and perpetual startings aside of 
    His child- faithful in the depth of the deepest affliction- faithful when 
    earthly hopes wither, and human cisterns are broken, and when the soul is 
    led to exclaim, &quot;His faithfulness has failed!&quot;- Oh, what a spring to a tried 
    and drooping faith is this view which God Himself has given of His own 
    glorious and perfect character! It is no small triumph of faith to walk with 
    God, when all is darkness with the soul, and there is no light; to feel amid 
    the roaring of the waves that still He is faithful- that though He slay, yet 
    the soul can trust Him; that though He were to take all else, away He would 
    never remove Himself from His people. Oh glorious triumph of faith! &quot;Who is 
    among you that fears the Lord, that obeys the voice of his servant, that 
    walks in darkness, and has no light? let him trust in the name of the Lord, 
    and stay upon his God.&quot; <br>
&nbsp; </p>
    <p align="justify">MAY 6. </p>
    <p align="justify">&quot;You did run well; who did hinder you that you should not 
    obey the truth?&quot; Galatians 5:7 </p>
    <p align="justify">The apostle Paul, skillful to detect and faithful to 
    reprove any declension in the faith or laxity in the practice of the early 
    Churches, discovered in that of Galatia a departure from the purity of the 
    truth, and a consequent carelessness in their walk. Grieved at the 
    discovery, he addresses to them an affectionate and faithful Epistle, 
    expressive of his astonishment and pain, and proposing a solemn and 
    searching inquiry. &quot;I marvel,&quot; he writes, &quot;that you are so soon removed from 
    Him that called you into the grace of Christ. How, after that you have known 
    God, or rather are known of God, how turn you again to the weak and beggarly 
    elements? I am afraid of you, lest I have bestowed upon you labor in vain. 
    Where is the blessedness you spoke of? I stand in doubt of you. You did run 
    well; who did hinder you?&quot; To the reader conscious of secret declension in 
    his soul, we propose the same searching and tender inquiry. You did run 
    well; who hindered you?- what stumbling block has fallen in your way?- what 
    has impeded your onward course?- what has enfeebled your faith, chilled your 
    love, drawn your heart from Jesus, and lured you back to the weak and 
    beggarly elements of a poor world? You set out fair; for a time you did run 
    well; your zeal, and love, and humility gave promise of a useful life, of a 
    glorious race, and of a successful competition for the prize; but something 
    has hindered you. What is it? Is it the world, creature love, covetousness, 
    ambition, presumptuous sin, unmortified corruption, the old leaven unpurged? 
    Search it out. Rest not until it be discovered. Your declension is secret, 
    perhaps the cause is secret- some spiritual duty secretly neglected, or some 
    known sin secretly indulged. Search it out, and bring it to light. It must 
    be a cause adequate to the production of effects so serious. You are not as 
    you once were. Your soul has lost ground; the divine life has declined; the 
    fruit of the Spirit has withered; the heart has lost its softness, the 
    conscience its tenderness, the mind its lowliness, the throne of grace its 
    sweetness, the cross of Jesus its attraction. Oh, how sad and melancholy the 
    change that has passed over you! And have you not the consciousness of it in 
    your soul? Where is the blessedness you spoke of? where is the sunlight 
    countenance of a reconciled Father? where are the rich moments spent before 
    the cross? the hallowed seasons of communion in the closet, shut in with 
    God? where is the voice of the turtledove, the singing of birds, the green 
    pastures where you did feed, the still waters on whose banks you did repose? 
    Is it all gone? Is it winter with your soul? Ah! yes; your soul is made to 
    feel that it is an evil and a bitter thing to depart from the living God.
    <br>
&nbsp; </p>
    <p align="justify">MAY 7. </p>
    <p align="justify">&quot;For I know that in me (that is, in my flesh) dwells no 
    good thing.&quot; Romans 7:18 </p>
    <p align="justify">The Lord will cause His people to know their total 
    weakness and insufficiency to keep themselves, and that, too, not 
    notionally, not theoretically, nor from what they hear, or from what they 
    read, but from their own deep personal experience of the truth: yes, He is 
    perpetually causing them to learn it. I do not allude merely to that blessed 
    period when the Holy Spirit first lays His axe at the fabric of their 
    self-righteousness- truly they first learn it then- but it is a truth they 
    become growingly acquainted with; it is a lesson they are made daily to 
    learn; and he becomes the most perfectly schooled in it, who watches most 
    narrowly his own heart, is most observant of his own way, and deals most 
    constantly and simply with the cross of Jesus. With regard to the way which 
    the Lord adopts to bring them into the knowledge of it, it is various. 
    Sometimes it is by bringing them into great straits and difficulties, 
    hedging up their path with thorns, or paving it with flints. Sometimes it is 
    in deep adversity after great prosperity, as in the case of Job, stripped of 
    all, and laid in dust and ashes, in order to be brought to the conviction 
    and the confession of deep and utter vileness. Sometimes it is in 
    circumstances of absolute prosperity, when He gives the heart its desire, 
    but sends leanness into the soul. Oh, how does this teach a godly man his 
    own utter nothingness! Sometimes it is by permitting the messenger of Satan 
    to buffet- sending and perpetuating some heavy, lingering, lacerating cross. 
    Sometimes by the removal of some beloved prop, on which we too fondly and 
    securely leaned- putting a worm at the root of our pleasant out-spreading 
    gourd, drying up our refreshing spring, or leading us down deep into the 
    valley of self-abasement and humiliation. But the great school in which we 
    learn this painful yet needed and wholesome lesson, is in the body of sin 
    which we daily bear about with us. It was here Paul learned his lesson, as 
    the seventh chapter of his letter to the Church at Rome shows, and for which 
    Epistle the saints of God will ever have reason to praise and adore the 
    blessed and eternal Spirit. In this school and in this way did the great 
    apostle of the Gentiles learn that the most holy, deeply taught, useful, 
    privileged, and even inspired saint of God was in himself nothing but the 
    most perfect weakness and sin. Do not be cast down, dear reader, if the Lord 
    the Spirit is teaching you the same lesson in the same way; if He is now 
    ploughing up the hidden evil, breaking up the fallow ground, discovering to 
    you more of the evil principle of your heart, the iniquity of your fallen 
    nature, and that, too, it may be, at a time of deep trial, of heavy, 
    heart-breaking affliction. Ah! you are ready to exclaim, &quot;All these things 
    are against me. Am I a child of God ? Can I be a subject of grace, and at 
    the same time be the subject of so much hidden evil, and of such deep, 
    overwhelming trial? Is this the way He deals with His people?&quot; <br>
    Yes, dear believer, you are not solitary nor alone; for along this path all 
    the covenant people of God are traveling to their better and brighter home. 
    Here they become acquainted with their own weakness, their perpetual 
    liability to fall; here they renounce their former thoughts of self-power 
    and of self-keeping; and here, too, they learn more of Jesus as their 
    strength, their all-sufficient keeper, more of Him as their &quot;wisdom, 
    righteousness, sanctification, and redemption.&quot; Cheer up, then, for the Lord 
    your God is leading you on by a safe and a right way to bring you to a city 
    of rest. <br>
&nbsp; </p>
    <p align="justify">MAY 8. </p>
    <p align="justify">&quot;That the trial of your faith, being much more precious 
    than of gold that perishes, though it be tried with fire, might be found 
    unto praise and honor and glory at the appearing of Jesus Christ.&quot; 1 Peter 
    1:7 </p>
    <p align="justify">The trial of faith is a test of its character; it is the 
    furnace that tries the ore of what kind it is- it may be brass, or iron, or 
    clay, or perhaps precious gold; but the crucible will test it. There is much 
    that passes for real faith, which is no faith; there is much spurious, 
    counterfeit metal; it is the trial that brings out its real character. The 
    true character of Judas was not known until his covetousness was tempted; 
    Simon Magus was not discovered to possess a spurious faith, until he thought 
    to purchase the gift of God with money; Demas did not forsake the apostle, 
    until the world drew him away. But true faith stands the trial; where there 
    is a real work of grace in the heart, no tribulation, or persecution, or 
    power of this world, will ever be able to expel it thence; but if all is 
    chaff, the wind will scatter it; if all is but dross and tinsel, the fire 
    will consume it. Let the humble and tried believer, then, thank God for 
    every test that brings out the real character of his faith, and proves it to 
    be &quot;the faith of God's elect.&quot; God will test His own work in the gracious 
    soul; every grace of His own Spirit he will at one time or another place in 
    the crucible; but never will He remove His eye from off it; He will 'sit as 
    a refiner,' and watch that not a grain of the precious metal is consumed; He 
    will be with His child in all and every affliction; not for one moment will 
    He leave him. Let gratitude rather than murmuring, joy rather than sorrow, 
    attend every test which a loving and faithful Father brings to His own 
    gracious work, &quot;that the trial of your faith might be found unto praise and 
    honor and glory at the appearing of Jesus Christ.&quot; <br>
&nbsp; </p>
    <p align="justify">MAY 9. </p>
    <p align="justify">&quot;No man has seen God at any time; the only begotten Son, 
    which is in the bosom of the Father, he has declared him.&quot; John 1:18 </p>
    <p align="justify">Of the spirituality of the Divine nature we can form no 
    just or definite conception. All our ideas of it must necessarily be 
    unintelligible, vague, and shadowy. Referring to this impossibility, and in 
    language of condescending adaptation to our sensible view of objects, Jesus 
    says of His Father, &quot;You have neither heard His voice at any time, nor seen 
    His shape.&quot; Ignorant of this inspired truth, and yet with a quenchless 
    thirst ever desiring such a conception of an infinite spirit as would afford 
    a resting-place for the mind, an object on which faith could repose, and 
    around which the affections could entwine, man has been beguiled into 
    atheism and idolatry of the most debasing and fearful character. Framing his 
    conceptions of spirit after his own low and depraved idea of matter, he has 
    &quot;changed the glory of the incorruptible God into an image made like to 
    corruptible man, and to birds, and four footed beasts, and creeping things.&quot;
    <br>
    But God has revealed Himself. He has stooped to our nature, and in the 
    person of His incarnate Son has embodied the spirituality of His being, with 
    all its divine and glorious attributes. All that we clearly, savingly know 
    of God is just the measure of our acquaintance with this truth. Jesus brings 
    God near. &quot;You are near, O Lord.&quot; Oh, how near! &quot;They shall call His name 
    Emmanuel, which being interpreted is, God with us.&quot; The most stupendous, 
    glorious truth which created mind ever grasped is involved in this wondrous 
    declaration, &quot;Emmanuel, God with us.&quot; With what glory does it invest the 
    Bible! what a foundation does it lay for faith! what substance does it 
    impart to salvation! and what a good hope does it place before the believing 
    soul! God is with us in Christ, with us in the character of a reconciled 
    Father, with us every step of our journey to heaven, with us to guide in 
    perplexity, to soothe in sorrow, to comfort in bereavement, to rescue in 
    danger, to shield in temptation, to provide in need, to support in death, 
    and safely to conduct to glory. My soul! fall prostrate in the dust before 
    the majesty of this amazing, this precious truth; adore the wisdom that has 
    revealed it, and admire the grace that makes it yours! <br>
&nbsp; </p>
    <p align="justify">MAY 10. </p>
    <p align="justify">&quot;Set your affection on things above, not on things on the 
    earth.&quot; Colossians 3:2 </p>
    <p align="justify">How solemn and full of meaning are these words! To set 
    the affections on heavenly things is to realize the ardent desire of the 
    apostle, that he might &quot;know Christ and the power of His resurrection.&quot; Oh, 
    there is a mighty, elevating power in the resurrection of Christ! It is the 
    great lever of a child of God, lifting him above earth, heavenward. To know 
    that he is closely and inseparably one with the risen Head of the Church, is 
    to be the subject of a continuous, quickening influence, which in spirit 
    raises him from the dust and darkness and pollutions by which he is 
    surrounded, fixing the affections with greater ardency of devotion and 
    supreme attachment on things above. Oh, nothing will more sanctify and 
    elevate our hearts, than to have them brought under the &quot;power of Christ's 
    resurrection.&quot; Following Him by faith, from the dust of earth to the glory 
    of heaven, the affections will ascend with their Beloved. Where He is- the 
    heart's most precious treasure- there it will be also. And oh, to have the 
    heart with Christ in heaven, what an unspeakable mercy! And why should it 
    not be? Has earth more that is attractive and lovely, holy and worthy of its 
    affection, than heaven? Here, we are encircled by, and combat with, spirits 
    of darkness and pollution, principalities and powers; there, is &quot;an 
    innumerable company of angels.&quot; Here, we are much separated from the Church 
    of God; there, is the &quot;general assembly and Church of the first-born,&quot; from 
    whom nothing shall divide us. Here, the Divine presence is often withdrawn, 
    and we are taunted and accused by our foes; there, is &quot;God the Judge of 
    all,&quot; whose presence will be our eternal glory, and who will &quot;bring forth 
    our righteousness as the light, and our judgment as the noon-day.&quot; Here, we 
    often hang our heads in sorrow, at the imperfections we mark in the saints; 
    there, are the &quot;spirits of just men made perfect,&quot; &quot;without fault before the 
    throne.&quot; Here, we often lose sight of our beloved Lord; there, is &quot;Jesus, 
    the Mediator of the new covenant,&quot; never more to be veiled from our view. 
    Oh, then, how much richer and more attractive is heaven than earth, to a 
    renewed and holy mind, each moment growing richer and more attractive, by 
    the accession to its happiness of those, the holy and loved ones of the 
    earth, who have for a little while preceded us to that world of perfect 
    bliss! Our treasure in glory, how rapidly it accumulates! Death, which 
    impoverishes us here, by snatching from our embrace the objects of our love, 
    by that same act augments our riches in heaven, into the full possession and 
    enjoyment of which it will, in its appointed time, beneficently translate 
    us. But the sweetest, the most powerful attraction of heaven, let us never 
    forget, is, that Jesus is there. Ah! what would heaven be, were He absent? 
    Could we, at this moment, rush into the fond embrace of the dearest of the 
    glorified ones, and not meet the &quot;Chief among ten thousand, the altogether 
    lovely One,&quot; who on earth was more precious to our hearts than life itself, 
    oh, how soon would its glory fade from our eye, and its music pall upon our 
    ear! It would cease to be heaven without Christ. Even on earth His presence 
    and His smile constitute the first dawnings of that better world. And he who 
    lives most in the enjoyment of this- and oh, how much more may be enjoyed 
    than we have the faintest conception of!- has most of the element of heaven 
    in his soul. Aim, then, to cultivate heavenly affections, by a life of high 
    communion with God. <br>
&nbsp; </p>
    <p align="justify">MAY 11. </p>
    <p align="justify">&quot;Being confident of this very thing, that he, which has 
    begun a good work in you, will perform it until the day of Jesus Christ.&quot; 
    Philippians 1:6 </p>
    <p align="justify">The doctrine of the Spirit's personal dignity affords a 
    pledge that the work thus commenced shall be carried forward to a final and 
    glorious completion. Because He is God, He will finish what He has begun. 
    And let it not be forgotten, that the growth of the believer in the 
    experience of the truth is as much the work of the eternal Spirit as was the 
    first production of divine life in the soul. The dependence of the believer 
    on the Spirit by no means ceases in conversion. There are after-stages along 
    which it is his office to conduct the believing soul. Deeper views of sin's 
    exceeding sinfulness- a more thorough knowledge of self, more enlarged 
    discoveries of Christ- a more simple and habitual resting upon His finished 
    work, increasing conformity to the Divine image- the daily victory over 
    indwelling sin, and a constant fitting for the inheritance of the saints in 
    light- all these works the one and the self-same Spirit, who first breathed 
    into his soul the breath of spiritual life. Not a step can the believer 
    advance without the Spirit- not a victory can he achieve without the Spirit- 
    not a moment can he exist without the Spirit. As he needed Him at the first, 
    so he needs Him all his journey through. And so he will have Him, until the 
    soul passes over Jordan. To the last ebbing of life, the blessed Spirit will 
    be his Teacher, his Comforter, and his Guide. To the last, He will testify 
    of Jesus; to the last, He will apply the atoning blood; and to the very 
    entrance of the happy saint into glory, the eternal Spirit of God- faithful, 
    loving to the last- will be present to whisper words of pardon, assurance, 
    and peace. Holy Spirit! build us up in the infinite dignity of Your person, 
    and in the surpassing greatness and glory of Your work! <br>
&nbsp; </p>
    <p align="justify">MAY 12. </p>
    <p align="justify">&quot;In whom also, after that you believed, you were sealed 
    with that Holy Spirit of promise.&quot; Ephesians 1:13 </p>
    <p align="justify">Although it is most true that the moment a sinner 
    believes in Jesus he becomes actually an &quot;heir of God, and a joint heir with 
    Christ,&quot; and enters into the family as an adopted child, yet the clear and 
    undoubted sense of this vast mercy may not be sealed upon his heart until 
    after years. He may long have walked without the sweet sense of God's 
    adopting love in his heart, and the frame of his spirit, and the language of 
    his soul in prayer, has been more that of the &quot;son of the bond-woman&quot; than 
    the &quot;son of the free-woman;&quot;he has known but little of the &quot;free spirit,&quot;- 
    the spirit of an adopted child- and he has seldom gone to God as a kind, 
    loving, tender, and faithful father. But now the Divine Sealer- the eternal 
    Spirit of God- enters afresh, and impresses deeply upon his soul the 
    unutterably sweet and abiding sense of his adoption. Oh, what an impression 
    is then left upon his heart, when all his legal fears are calmed- when all 
    his slavish moanings are hushed, all his bondage spirit is gone- and when, 
    under the drawings of filial love, he approaches the throne of grace, and 
    cries, &quot;My Father!&quot; and his Father responds, &quot;My child! You shall call me, 
    My Father; and shall not turn away from me!&quot; <br>
    The sealing of the Spirit does not always imply a rejoicing frame. It is not 
    necessarily accompanied by great spiritual joy. While we cannot forget that 
    it is the believer's privilege to be &quot;always rejoicing,&quot; &quot;rejoicing 
    evermore,&quot; and that a state of spiritual joy is a holy as it is a happy 
    state, yet we cannot suppose that the &quot;sealed&quot; are always in possession of 
    this &quot;fruit of the Spirit.&quot; It is perhaps more a state of rest in God- a 
    state of holy quietude and peace, which, in many cases, seldom rises to that 
    of joy. There is an unclouded hope, a firm and unshaken resting on the 
    finished work, a humble reliance on the stability of the covenant and the 
    immutability of God's love, which is never moved even when there is no 
    sensible enjoyment, and when comfort seems to die. It is a state 
    corresponding to that which David thus expresses- &quot;Although my house do not 
    be so with God; yet He has made with me an everlasting covenant, ordered in 
    all things, and sure: for this is all my salvation, and all my desire, 
    although He make it not to grow.&quot; Perhaps more akin to Job's frame of soul 
    when he exclaimed, &quot;Though He slay me, yet will I trust in Him.&quot; Sensible 
    comforts may be withdrawn, joy maybe absent- the Sun of Righteousness 
    casting but a faint twilight over the soul- and yet, such is the power of 
    faith grasping the cross of Christ- such the firm resting of the soul upon 
    the stability of the covenant- upon, what God is, and upon what He has 
    promised- that, without one note of joy, or one ray of light, the believer 
    can yet say, &quot;I know in whom I have believed.&quot; And why, we ask, this strong 
    and vigorous reliance?- why this buoying up of the soul in the absence of 
    sensible comfort? We reply, because that soul has attained unto the sealing 
    of the Spirit. This forms the great secret. <br>
&nbsp; </p>
    <p align="justify">MAY 13. </p>
    <p align="justify">&quot;The Holy Spirit of God, whereby you are sealed unto the 
    day of redemption.&quot; Ephesians 4;30 </p>
    <p align="justify">The believer will never lose the sealing of the Spirit. 
    The impression of God's pardoning love, made upon the heart by the Holy 
    Spirit, is never entirely effaced. We do not say that there are no moments 
    when the &quot;consolations of God are small&quot; with the believer- when he shall 
    have no severe &quot;fightings within, and fears without,&quot; when the experience of 
    the Church shall be his, &quot;I opened to my beloved; but my beloved had 
    withdrawn himself, and was gone: my soul failed when he spoke: I sought him, 
    but I could not find him; I called him, but he gave me no answer;&quot;- all this 
    he may experience, and still not lose the sealing of the Spirit. In the 
    midst of it all, yes, in the lowest depth, there shall be the abiding 
    conviction of an interest in God's love, which sustains, animates, and 
    comforts. It will be seen, by reverting to the state of the Church above 
    alluded to, that, although there was the consciousness of her beloved's 
    withdrawment- though he was gone, and she sought him but could not find him, 
    called him but he gave her no answer- yet not for one moment did she lose 
    the impression that He was still her beloved. Here was the glorious triumph 
    of faith, in the hour when all was loneliness, desolation, and joylessness. 
    Here was the sealing of the Spirit which never left her, even though her 
    &quot;beloved had gone.&quot; And while not a beam of His beauty glanced upon her 
    soul, nor a note of His voice fell upon her ear, she still could look up and 
    exclaim, &quot;I am my beloved's, and my beloved is mine.&quot; Oh mighty power of 
    faith, that can anchor the soul firm on Jesus, in the darkest and wildest 
    tempest! And this is but the sealing of the Spirit. It is the Holy Spirit so 
    deeply impressing on the heart a sense of pardoning love- so firmly 
    establishing it in the faithfulness of God- the finished work of Christ- the 
    stability of the covenant, and the soul's adoption into the one family, that 
    in the gloomiest hour, and under the most trying dispensation, there is that 
    which keeps the soul steady to its center- Jehovah-Jesus. And even should 
    his sun go down behind a mist, he has the sustaining assurance that it will 
    rise upon another world, in peerless, cloudless splendor. O yes! the sealing 
    of the Spirit is a permanent, abiding impression. It is &quot;unto the day of 
    redemption,&quot;- the day when there shall be no more conflict, no more 
    darkness, no more sin. It is not to the day of pardon- for he cannot be more 
    entirely pardoned than he is; it is not to the day of acceptance- for he 
    cannot be more fully accepted than now- no, it is to the glorious &quot;day of 
    redemption&quot;- the day of complete emancipation, longed for by the sons of 
    God, and even sighed for by the &quot;whole creation:&quot; &quot;and not only they, but 
    ourselves also, which have the first-fruits of the Spirit, even we ourselves 
    groan within ourselves, waiting for the adoption, to wit, the redemption of 
    our body.&quot; Oh, shout for joy, you sealed of the Lord! You tried and 
    afflicted, tossed with tempest, and not comforted- you who find the 
    wilderness to be but a wilderness, a valley of tears- the way rougher and 
    rougher, narrower and narrower- lift up your heads with joy, the hour of 
    &quot;your redemption draws near,&quot; and the &quot;days of your mourning shall be 
    ended.&quot; And this is your security- a faithful, covenant-keeping God, &quot;who 
    has also sealed us, and given the earnest of the Spirit in our hearts.&quot; <br>
&nbsp; </p>
    <p align="justify">MAY 14. </p>
    <p align="justify">&quot;And suddenly, when they had looked round about, they saw 
    no man any more, save Jesus only with themselves.&quot; Mark 9:8 </p>
    <p align="justify">It is possible, my dear reader, that this page may be 
    read by you at a period of painful and entire separation from all public 
    engagements, ordinances, and privileges. The way which it has pleased God to 
    take thus to set you aside may be painful and humbling. The inmate of a sick 
    chamber, or curtained within the house of mourning, or removed far remote 
    from the sanctuary of God and the fellowship of the saints, you are, 
    perhaps, led to inquire, &quot;Lord, why this?&quot; He replies, &quot;Come apart, and rest 
    awhile.&quot; Oh the thoughtfulness, the discrimination, the tenderness of Jesus 
    towards His people! He has set you apart from public, for private duties, 
    from communion with others for communion with Himself. Ministers, friends, 
    privileges are withdrawn, and you are- oh enviable state!- alone with Jesus. 
    And now expect the richest and holiest blessing of your life! <br>
    Is it sickness? Jesus will make all your bed in your sickness, and your 
    experience shall be, &quot;His left hand is under my head, and His right hand 
    embraces me.&quot; Is it bereavement? Jesus will soothe your sorrow and sweeten 
    your loneliness; for He loves to visit the house of mourning, and to 
    accompany us to the grave, to weep with us there. Is it exile from the house 
    of God, from the ordinances of the Church, from a pastor's care, from 
    Christian fellowship? Still it is Jesus who speaks, &quot;There will I be unto 
    you as a little sanctuary.&quot; The very circumstances, new and peculiar as they 
    are, in which you are placed, God can convert into new and peculiar mercies, 
    yes, into the richest means of grace with which your soul was ever fed. The 
    very void you feel, the very need you deplore, may be God's way of satiating 
    you with His goodness. Ah! does not God see your grace in your very desire 
    for grace? Does He not mark your sanctification in your very thirsting for 
    holiness? And can He not turn that desire, and convert that thirst, into the 
    very blessing itself? Truly He can, and often does. As one has remarked, God 
    knows how to give the comfort of an ordinance in the desire of an ordinance. 
    And He can now more than supply the absence of others by the presence of 
    Himself. Oh, who can compute the blessings which now may flow into your soul 
    from this season of exile and of solitude? Solitude! no, it is not solitude. 
    Never were you less alone than now. You are alone with God, and He is 
    infinitely better than health, wealth, friends, ministers, or sanctuary, for 
    He is the substance and the sweetness of all. You have perhaps been laboring 
    and watching for the souls of others; the Lord is now showing His tender 
    care for your soul. And oh, if while thus alone with Jesus you are led more 
    deeply to search out the plague of your own heart, and the love of His- to 
    gather up the trailing garment- to burnish the rusted armor- to trim the 
    glimmering lamp- and to cultivate a closer fellowship with your Father, how 
    much soever you may mourn the necessity and the cause, you yet will not 
    regret that the Lord has set you apart from others, that you might rest 
    awhile in His blest embrace- alone with Jesus. <br>
&nbsp; </p>
    <p align="justify">MAY 15. </p>
    <p align="justify">&quot;The throne of grace.&quot; Hebrews 4:16 </p>
    <p align="justify">Forget not, dear reader, it is the throne of grace, to 
    which you come in prayer. It is a throne, because God is a Sovereign. He 
    will ever have the suppliant recognize this perfection of His nature. He 
    hears and answers as a Sovereign. He hears whom He will, and answers what 
    and when He will. There must be no dictation to God, no refusing to bow to 
    His sovereignty, no rebelling against His will. If the answer be delayed, or 
    God should seem to withhold it altogether, remember that &quot;He gives no 
    account of any of His matters,&quot; and that He has a right to answer or not to 
    answer, as seems good in His sight. Glorious perfection of God, beaming from 
    the mercy-seat! <br>
    But it is also a throne of grace. And why? Because a God of grace sits upon 
    it, and the scepter of grace is held out from it, and all the favors 
    bestowed there are the blessings of grace. God has many thrones. There is 
    the throne of creation, the throne of providence, the throne of justice, and 
    the throne of redemption; but this is the throne of grace. Just the throne 
    we need. We are the poor, the needy, the helpless, the vile, the sinful, the 
    unworthy; we have nothing to bring but our deep wretchedness and poverty, 
    nothing but our complaints, our miseries, our crosses, our groanings, our 
    sighs, and tears. But it is the throne of grace. For just such is it 
    erected. It is set up in a world of woe- in the midst of the wilderness- in 
    the very land of the enemy- in the valley of tears, because it is the throne 
    of grace. It is a God of grace who sits upon it, and all the blessings He 
    dispenses from it are the bestowments of grace. Pardon, justification, 
    adoption, peace, comfort, light, direction- all, all is of grace. No worth 
    or worthiness in the creature draws it forth- no price he may bring 
    purchases it- no tears, or complainings, or misery moves the heart of God to 
    compassion- all is of grace. God is so full of compassion, and love, and 
    mercy, He does not need to be stimulated to pour it forth. It gushes from 
    His heart as from a full and overflowing fountain, and flows into the bosom 
    of the poor, the lowly, the humble, and the contrite; enriching, comforting, 
    and sanctifying their souls. Then, dear reader, whatever be your case, you 
    may come. If it is a throne of grace, as it is, then why not you? Why stand 
    afar off? If the poor, the penniless, the disconsolate, the guilty are 
    welcome here- if this throne is crowded by such, why make yourself an 
    exception? Why not come too? What is your case, what is your sorrow, what is 
    your burden? Ah! perhaps you can disclose it to no earthly ear. You can tell 
    it&nbsp; only to God. Then take it to Him. Let me tell you for your 
    encouragement, God has His secret audience-chamber, where He will meet you 
    alone, and where no eye shall see you, and no ear shall hear you, but His; 
    where you may open all your heart, and disclose your real case, and pour all 
    your secrets into His ear. Precious encouragement! It comes from those lips 
    into which grace was poured. &quot;You, when you pray, enter into your closet, 
    and when you have shut your door, pray to your Father which is in secret; 
    and your Father which sees in secret shall reward you openly.&quot; Then, upon 
    this promise, go to the throne of grace. Whatever be the need, temporal or 
    spiritual, take it there. God loves your secrets. He delights in your 
    confidence, and will honor the soul that thus honors Him. <br>
&nbsp; </p>
    <p align="justify">MAY 16. </p>
    <p align="justify">&quot;For we are saved by hope.&quot; Romans 8:24 </p>
    <p align="justify">The phrase, as employed by the apostle, does not imply 
    the instrument by which we are saved, but the condition in which we are 
    saved. The condition of the renewed creature is one of hope. Salvation by 
    the atonement of Christ- faith, and not hope, being the instrument of its 
    appropriation, is a complete and finished thing. We cannot give this truth a 
    prominence too great, nor enforce it with an earnestness too intense. We 
    cannot keep our eye too exclusively or too intently fixed on Jesus. All 
    salvation is in Him- all salvation proceeds from Him- all salvation leads to 
    Him, and for the assurance and comfort of our salvation we are to repose 
    believingly and entirely on Him. Christ must be all; Christ the beginning- 
    Christ the center - and Christ the end. Oh blessed truth to you who sigh and 
    mourn over the unveiled abominations that crown and darken the chamber of 
    imagery! Oh sweet truth to you who are sensible of your poverty, vileness, 
    and insufficiency, and of the ten thousand flaws and failures of which, 
    perhaps, no one is cognizant but God and your own soul! Oh, to turn and rest 
    in Christ- a full Christ- a loving Christ- a tender Christ, whose heart's 
    love never chills, from whose eye darts no reproof, from whose lips breathes 
    no sentence of condemnation! But, as it regards the complete effects of this 
    salvation in those who are saved, it is yet future. It is the &quot;hope laid up 
    for us in heaven.&quot; It would seem utterly incompatible with the present 
    economy that the renewed creature should be in any other condition than one 
    of hopeful expectation. The constitution towards which he tends, the 
    holiness for which he looks, the bliss for which he pants, and the dignity 
    to which he aspires, could not for a moment exist in the atmosphere by which 
    he is here enveloped. His state must of necessity be one of hope, and that 
    hope must of necessity link us with the distant and mysterious future. The 
    idea, &quot;saved by hope,&quot; is illustrated by the effects of Christian hope. It 
    is that divine emotion which buoys up the soul amid the conflicts, the 
    trials, and the vicissitudes of the present life. So that we are cheered and 
    sustained, or &quot;saved&quot; from sinking amid the billows, by the hope of certain 
    deliverance and a complete redemption. &quot;In hope of eternal life, which God, 
    who cannot lie, promised before the world began.&quot; <br>
&nbsp; </p>
    <p align="justify">MAY 17. </p>
    <p align="justify">&quot;Joint-heirs with Christ.&quot; Romans 8:17 </p>
    <p align="justify">This must be understood in a limited though still in a 
    very enlarged sense. In its highest meaning- touching the essential Deity of 
    our Lord- He is the heir of all things. All worlds and all souls are His. 
    All things were created by and for Him. Heaven is His throne, and earth is 
    His footstool. To participation in this heirship we cannot be admitted. Nor 
    can there be any conjointure with Christ in the merit that purchased our 
    redemption. Here again He is alone, no creature aiding the work, or dividing 
    the glory. But, mediatorially, in consequence of the union subsisting 
    between Christ and His people, they become heirs with Him in all the 
    privileges and hopes appertaining to His kingdom. Our union to the Lord 
    Jesus brings us into the possession of vast and untold blessings. On the 
    basis of His atonement we build our claim. He merits all, and we possess 
    all. All the blessings and glories of our present and reversionary 
    inheritance flow to us through Christ. &quot;In whom also we have obtained an 
    inheritance.&quot; &quot;If a son, then an heir of God through Christ.&quot; We cannot lay 
    too great stress on this truth. We possess nothing- we receive nothing- we 
    expect nothing, but through Christ. All is given to us in consideration of a 
    righteousness which upholds and honors the Divine government. Jesus is the 
    meritorious Recipient, and we receive only through Him. Alluding to our 
    right to, and our possession of, our inheritance, the apostle traces both to 
    the atonement of the Son of God- &quot;And for this cause He is the Mediator of 
    the New Testament, that by means of death, for the redemption of the 
    transgressions that were under the first testament, they which are called 
    might receive the promise of eternal inheritance.&quot; Thus it is alone through 
    the &quot;fitness&quot; imparted by Christ, the merit He substitutes in our behalf, 
    and the righteousness He imputes to us, that we become &quot;partakers of the 
    inheritance of the saints in light.&quot; Blessed Redeemer! to what dignity and 
    honor, to what privilege and blessing, to what hope and glory, our union 
    with You has advanced us! We were fallen; and you have lifted us up; we were 
    poor, and You have enriched us; we were naked, and You have clothed us; we 
    were aliens, and You have made us children; we were bankrupts, and You have 
    made us heirs: we lost all from fatal union with the first Adam; we receive 
    all, and infinitely more, by our glorious union with You, the second Adam. 
    Oh, for a heart to love You! Oh, for grace to glorify You! Be increasingly 
    precious to us, and may we be increasingly devoted to You! <br>
&nbsp; </p>
    <p align="justify">MAY 18. </p>
    <p align="justify">&quot;You shall love the Lord your God with all your heart, 
    and with all your soul, and with all your mind. This is the first and great 
    commandment.&quot; Matthew 22:37-38 </p>
    <p align="justify">Love to God is spoken of in His word as forming the 
    primary and grand requirement of the divine law. Now, it was both infinitely 
    wise and good in God thus to present Himself the proper and lawful object of 
    love. We say it was wise, because, had He placed the object of supreme 
    affection lower than Himself, it had been to have elevated an inferior 
    object above Himself. For whatever other object than God is loved with a 
    sole and supreme affection, it is a deifying of that object, so that it, as 
    God, sits in the temple of God, showing itself that it is God. It was good, 
    because a lesser object of affection could never have met the desires and 
    aspirations of an immortal mind. God has so constituted man, implanting in 
    him such a capacity for happiness, and such boundless and immortal desires 
    for its possession, as can find their full enjoyment only in infinity 
    itself. He never designed that the intelligent and immortal creature should 
    sip its bliss at a lower fountain than Himself. Then, it was infinitely wise 
    and good in God that He should have presented Himself as the sole object of 
    supreme love and worship to His intelligent creatures. His wisdom saw the 
    necessity of having one center of supreme and adoring affection, and one 
    object of supreme and spiritual worship, to angels and to men. His goodness 
    suggested that that center and that object should be Himself, the perfection 
    of infinite excellence, the fountain of infinite good. That, as from Him 
    went forth all the streams of life to all creatures, it was but reasonable 
    and just that to Him should return, and in Him should center, all the 
    streams of love and obedience of all intelligent and immortal creatures: 
    that, as He was the most intelligent, wise, glorious, and beneficent object 
    in the universe, it was fit that the first, strongest, and purest love of 
    the creature should soar towards and find its resting-place in Him. <br>
    Love to God, then, forms the grand requirement and fundamental precept of 
    the divine law. It is binding upon all intelligent beings. From it no 
    consideration can release the creature. No plea of inability, no claim of 
    inferior objects, no opposition of rival interest, can lessen the obligation 
    of every creature that has breath to &quot;love the Lord his God with all his 
    heart, and with all his soul, and with all his mind.&quot; It grows out of the 
    relation of the creature to God, as his Creator, moral Governor, and 
    Preserver; and as being in Himself the only object of infinite excellence, 
    wisdom, holiness, majesty, and grace. This obligation, too, to love God with 
    supreme affection is binding upon the creature, irrespective of any 
    advantage which may result to him from so loving God. It is most true that 
    God has benevolently connected supreme happiness with supreme love, and has 
    threatened supreme misery where supreme affection is withheld; yet, 
    independent of any blessing that may accrue to the creature from its love to 
    God, the infinite excellence of the Divine nature and the eternal relation 
    in which He stands to the intelligent universe, render it irreversibly 
    obligatory on every creature to love Him with a supreme, paramount, holy, 
    and unreserved affection. <br>
&nbsp; </p>
    <p align="justify">MAY 19. </p>
    <p align="justify">&quot;Those who love God.&quot; Romans 8:28 </p>
    <p align="justify">Surely it is no small mercy belonging to the Church of 
    Christ, that, composed as it is of all people and tongues, its members as 
    &quot;strangers scattered abroad,&quot; its essential unity deeply obscured, and its 
    spiritual beauty sadly disfigured by the numerous divisions which mar and 
    weaken the body of Christ, there yet is an identity of character in all, by 
    which they are not only known to God, but are recognized by each other as 
    members of the one family- &quot;those who love God.&quot; <br>
    Love to God, then, is the grand distinctive feature of the true Christian. 
    The reverse marks all the unregenerate. Harmonious as their nature, their 
    creed, their Church may be, no love to God is their binding assimilating 
    feature, their broad distinctive character. But the saints are those who 
    love God. Their creeds may differ in minor shades, their ecclesiastical 
    relations may vary in outward forms- as rays of light, the remoter their 
    distances from the center, the more widely they diverge from each other. Yet 
    in this one particular there is an essential unity of character, and a 
    perfect assimilation of spirit. They love one God and Father; and this 
    truth- like those sundered rays of light returning to the sun, approximate 
    to each other- forms the great assimilating principle by which all who hold 
    the Head, and love the same Savior, are drawn to one center, and in which 
    they all harmonize and unite. The regeneration through which they have 
    passed has effected this great change. Once they were the children of wrath, 
    even as others, at enmity with God. Ah! is not this a heart-affecting 
    thought? But now they love Him. The Spirit has supplanted the old principle 
    of enmity by the new principle of love. They love Him as revealed in Christ, 
    and they love Him for the gift of the Revealer- the visible image of the 
    invisible God. Who, as he has surveyed the glory and realized the 
    preciousness of the Savior, has not felt in his bosom the kindling of a 
    fervent love to Him who, when He had no greater gift, commended His love to 
    us by the gift of His dear Son? They love Him, too, in His paternal 
    character. Standing to them in so close and endearing a relation, they 
    address Him as a Father- they confide in Him as a Father- they obey Him as a 
    Father. The spirit of adoption takes captive their hearts, and they love God 
    with a child's fervent, adoring, confiding affection. They love God, too, 
    for all His conduct. It varies, but each variation awakens the deep and holy 
    response of love. They love Him for the wisdom, the faithfulness, the 
    holiness of His procedure; for what He withholds, as for what He grants; 
    when He rebukes, as when He approves. For His frown- they know it to be a 
    Father's frown; for His smile- they feel it to be a Father's smile. They 
    love Him for the rod that disciplines, as for the scepter that governs- for 
    the wound that bleeds, as for the balm that heals. There is nothing in God, 
    and there is nothing from God, for which the saints do not love Him. Of one 
    truth- the source of this feeling- let us not lose sight- &quot;We love Him 
    because He first loved us.&quot; Thus the motive of love to God as much springs 
    from Him as the power to love Him. <br>
&nbsp; </p>
    <p align="justify">MAY 20. </p>
    <p align="justify">&quot;I am he that lives, and was dead; and, behold, I am 
    alive for evermore.&quot; Revelation 1:18 </p>
    <p align="justify">Let the Christian reader fully believe this one truth- 
    that Jesus is alive again, and it will afford to his soul greater 
    confirmation of the veracity of God's character, of the truth of His word, 
    and of the perfection and all-sufficiency of Christ's work, than all other 
    truths beside. Is Jesus alive at the right hand of God?- then the debt is 
    paid, and justice is satisfied. Is Jesus alive at the right hand of God?- 
    then the Father is well pleased in the work of His Son, and He &quot;rests in His 
    love, and rejoices over His Church with singing.&quot; Is Jesus alive?- then 
    every promise shall be fulfilled, and all the blessings of the everlasting 
    covenant shall be freely bestowed, and I, a poor worthless sinner, yet 
    resting upon His atoning work, shall live also. May the Holy Spirit lead you 
    into the full belief- the belief of the heart as of the judgment- of this 
    glorious truth. It is the keystone of the temple; press it as you will, the 
    more you lean upon it, the stronger you will find it- the more you rest upon 
    it, the firmer will grow your hope. Only receive it in simple faith; Jesus 
    is alive- alive for you- all you need in this valley of tears is here; all 
    your temporal mercies are secured to you here; all your spiritual blessings 
    are laid up for you here. Such is the great charter, such the immense untold 
    blessings it contains, that, come how you will, come when you will, and &quot;ask 
    what you will, it shall be granted to you by the Father,&quot; because Jesus is 
    at His right hand. Well may we take up the dauntless challenge of the 
    apostle, &quot;Who is he that condemns? It is Christ that died; yes, rather, that 
    is risen again, who is even at the right hand of God, who also makes 
    intercession for us.&quot; Your salvation is complete, your heaven secure, and 
    all victory, happiness, and glory bound up in this one great fact. Then may 
    we not again exclaim with Paul, &quot;Blessed be the God and Father of our Lord 
    Jesus Christ, which, according to His abundant mercy, has begotten us again 
    unto a lively hope, by the resurrection of Jesus Christ from the dead.&quot; <br>
&nbsp; </p>
    <p align="justify">MAY 21. </p>
    <p align="justify">&quot;Is there no balm in Gilead? is there no physician 
    there?&quot; Jeremiah 8:22 </p>
    <p align="justify">There is! The physician is Jesus, the balm is His own 
    most precious blood. He binds up the broken heart, He heals the wounded 
    spirit. All the skill, all the efficacy, all the tenderness and crucial 
    sympathy needed for the office meet and center in Him in the highest degree. 
    Here then, disconsolate soul, bring your wounded heart. Bring it simply to 
    Jesus. One touch of His hand will heal the wound. One whisper of His voice 
    will hush the tempest. One drop of His blood will remove the guilt. Nothing 
    but a faith's application to Him will do for your soul now. Your case is 
    beyond the skill of all other physicians. Your wound is too deep for all 
    other remedies. It is a question of life and death, heaven or hell. It is an 
    emergency, a crisis, a turning point with you. Oh, how solemn, how eventful 
    is this moment! Eternity seems suspended upon it. All the intelligences of 
    the universe, good spirits and bad, seem gazing upon it with intense 
    interest. Decide the question, by closing in immediately with Jesus. Submit 
    to God. All things are ready. The blood is shed, the righteousness is 
    finished, the feast is prepared, God stands ready to pardon, yes, He 
    advances to meet you, His returning child, to fall upon your neck and 
    embrace you, with the assurance of His full and free forgiveness. <br>
    Let not the simplicity of the remedy keep you back. Many stumble at this. It 
    is but a look of faith: &quot;Look unto me, and be saved.&quot; It is but a touch, 
    even though with a palsied hand &quot;And as many as touched him were made 
    whole.&quot; It is but a believing the broad declaration, &quot;that Christ Jesus came 
    into the world to save sinners.&quot; You are not called to believe that He came 
    to save you; but that He saves sinners. Then if you inquire, &quot;But will He 
    save me? How do I know that if I come I shall meet a welcome?&quot; Our reply is, 
    only test Him. Settle not down with the conviction that you are too far 
    gone, too vile, too guilty, too unworthy, until you have gone and tried Him. 
    You know not how you wound Him, how you dishonor Him, and grieve the Spirit, 
    by yielding to a doubt, yes, the shadow of a doubt, as to the willingness 
    and the ability of Jesus to save you, until you have gone to Him 
    believingly, and put His readiness and His skill to the test. <br>
    Do not let the freeness of the remedy keep you away. This, too, is a 
    stumbling-block to many. Its very freeness holds them back. But it is 
    &quot;without money, and without price.&quot; The simple meaning of this is, no 
    worthiness on the part of the applicant, no merit of the creature, no tears, 
    no convictions, no faith, is the ground on which the healing is bestowed. Oh 
    no! It is all of grace- all of God's free gift, irrespective of any worth or 
    worthiness in man. Your strong motive to come to Christ is your very 
    sinfulness. The reason why you go to Him is that your heart is broken, and 
    that He only, can bind it up; your spirit is wounded, and that He only can 
    heal it; your conscience is burdened, and that He only can lighten it; your 
    soul is lost, and that He only, can save it. And that is all you need to 
    recommend you. It is enough for Christ that you are covered with guilt; that 
    you have no plea that springs from yourself; that you have no money to bring 
    in your hand, but have spent your all upon physicians, yet instead of 
    getting better you only grow worse; that you have wasted your substance in 
    riotous living, and now are insolvent; and that you really feel a drawing 
    towards Him, a longing for Him- that you ask, you seek, you crave, you 
    earnestly implore His compassion- that is enough for Him. His heart yearns, 
    His love is moved, His hand is stretched out- come and welcome to Jesus, 
    come. <br>
&nbsp; </p>
    <p align="justify">MAY 22. </p>
    <p align="justify">&quot;Bear you one another's burdens, and so fulfil the law of 
    Christ.&quot; Galatians 6:2 </p>
    <p align="justify">Thank God for an errand to Him. It may be you have felt 
    no heart to pray for yourself- you have been sensible of no peculiar 
    drawings to the throne for your own soul, but you halt gone in behalf of 
    another; the burden, the trial, the affliction, or the immediate need of 
    some member of God's family has pressed upon you, and you have taken his 
    case to the Lord: you have borne him in your arms to the throne of grace, 
    and, while interceding for your brother, the Lord has met you, and blessed 
    your own soul. Perhaps you halt gone and prayed for the Church, for the 
    peace of Jerusalem, for the prosperity of Zion, that the Lord would build up 
    her waste places, and make her a joy and a praise in the whole earth- 
    perhaps it has been to pray for your minister, that the Lord would teach him 
    more deeply and experimentally, and anoint him more plenteously with the 
    rich anointing and unction of the Holy Spirit- perhaps it has been to pray 
    for Christian missions, and for laborious and self-denying missionaries, 
    that the Lord would make them eminently successful in diffusing the 
    knowledge of a precious Savior, and in calling in His people: and thus, 
    while for others you have been besieging the throne of grace, and pouring 
    out your heart before the Lord, the Lord Himself has drawn near to your own 
    soul, and you have been made to experience the blessing that is ever the 
    attendant and the reward of intercessory prayer. Then let every event, every 
    circumstance, every providence be a voice urging you to prayer. If you have 
    no needs, others have- take them to the Lord. If you are borne down by no 
    cross, smitten by no affliction, or suffering from no need, others are- for 
    them go and plead with your heavenly Father, and the petitions you send up 
    to the mercy-seat on their behalf may return into your own bosom freighted 
    with rich covenant blessings. The falls, the weaknesses, the declensions of 
    others make them grounds for prayer. Thus, and thus only, can you expect to 
    grow in grace, and grace to grow in you. <br>
&nbsp; </p>
    <p align="justify">MAY 23. </p>
    <p align="justify">&quot;Above all, taking the shield of faith, with which you 
    shall be able to quench all the fiery darts of the wicked.&quot; Ephesians 6:16
    </p>
    <p align="justify">Few of the children of God are ignorant, more or less, of 
    Satan's devices. But few are exempt from the &quot;fiery darts &quot; of the 
    adversary; our Lord Himself was not. Many, peculiar, and great are their 
    temptations. They are often those which touch the very vitals of the gospel, 
    which go to undermine the believer's faith in the fundamentals of 
    Christianity, and which affect his own personal interest in the covenant of 
    grace. Satan is the sworn enemy of the believer- his constant, unwearied 
    foe. There is, too, a subtlety, a malignity, which does not mark not the 
    other and numerous enemies of the soul. The Holy Spirit speaks of the 
    &quot;depths of Satan.&quot; There are &quot;depths&quot; in his malice, in his subtlety, in his 
    sagacity, which many of the beloved of the Lord are made in some degree to 
    fathom. The Lord may allow them to go down into those &quot;depths,&quot; just to 
    convince those who are there are depths in His wisdom, love, power, and 
    grace, which can out-fathom the &quot;depths of Satan.&quot; <br>
    But what are some of the devices of the wicked one? What are some of his 
    fiery darts? Sometimes he fills the mind of the believer with the most 
    blasphemous and atheistical thoughts, threatening the utter destruction of 
    his peace and confidence. Sometimes he takes advantage of periods of 
    weakness, trial, and perplexity to stir up the corruptions of his nature, 
    bringing the soul back as into captivity to the law of sin and death. 
    Sometimes he suggests unbelieving doubts respecting his adoption, beguiling 
    him into the belief that his professed conversion is all a delusion, that 
    his religion is all hypocrisy, and that what he had thought was the work of 
    grace is but the work of nature. But by far the greatest and most general 
    controversy which Satan has with the saint of God is, to lead him to doubt 
    the ability and the willingness of Christ to save a poor sinner. The anchor 
    of his soul removed from this truth he is driven out upon a rough sea of 
    doubt and anguish, and is at the mercy of every wind of doctrine and every 
    billow of unbelief that may assail his storm-tossed bark. But in the midst 
    of it all, where does the comfort and the victory of the tempted believer 
    come from? From the promise which assures him that &quot;when the enemy shall 
    come in like a flood, the Spirit of the Lord shall lift up a standard 
    against him.&quot; And what is the standard which the Spirit, the Comforter, 
    lifts up to stem this flood? A dying, risen, ascended, exalted, and 
    ever-living Savior. This is the standard that strikes terror into the foe; 
    this is the gate that shuts out the flood. So the disciples proved. This is 
    their testimony: &quot;And the seventy returned again with joy, saying, Lord, 
    even the devils are subject unto us through Your name.&quot; Immanuel is that 
    name which puts to flight every spiritual foe. And the Comforter, which is 
    the Holy Spirit, leads the tempted soul to this name, to shelter itself 
    beneath it, to plead it with God, and to battle with it against the enemy. 
    Dear reader, are you a target against which the fiery darts of the devil are 
    leveled? Are you sorely tempted? Do not be astonished as though some strange 
    thing had happened unto you. The holiest of God's saints have suffered as 
    you are now suffering; yes, even your blessed Lord, your Master, your 
    Pattern, your Example, and He in whose name you shall be more than 
    conqueror; was once assailed as you are, and by the same enemy. And let the 
    reflection console you, that temptations only leave the traces of guilt upon 
    the conscience, and are only regarded as sins by God, as they are yielded 
    to. The mere suggestion of the adversary, the mere presentation of a 
    temptation, is no sin, so long as, in the strength that is in Christ Jesus, 
    the believer firmly and resolutely resists it. &quot;Resist the devil, and he 
    will flee from you.&quot; Jesus has already fought and conquered for you. He knew 
    well what the conflict with Satan was. And He remembers, too, what it is. 
    Lift up your head, dear tempted soul! You shall obtain the victory. The seed 
    of the woman has bruised the serpent's head; yes, has crushed him, never to 
    obtain his supremacy over you again. He may harass, annoy, and distress you; 
    but pluck you from the hollow of the hand that was pierced for you, he never 
    can. <br>
&nbsp; </p>
    <p align="justify">MAY 24. </p>
    <p align="justify">&quot;Jesus said unto them, Verily, verily, I say unto you, 
    Before Abraham was, I am.&quot; John 8:58 </p>
    <p align="justify">Dear reader, what a wondrous declaration is this! What a 
    glorious and precious truth does it involve! Are you a believer in Jesus? Is 
    He all your salvation, your acceptance, your hope, and desire? Then cast the 
    anchor of your faith deeply, firmly here; you shall find it an eternal rock. 
    Weak faith you may have, and doubtful faith numbers have; but here is the 
    ground of faith, respecting which there can be neither weakness nor doubt. 
    Is it an Almighty Savior that you need? Behold Him! &quot;Before Abraham was, I 
    am.&quot; Oh, what a foundation for a poor sinful worm of the dust to build upon! 
    What a stable truth for faith in its weakest form to deal with- to have a 
    glorious incarnate 'I Am' for an atoning sacrifice- an 'I Am' for a 
    Redeemer- an 'I Am' for a Surety- an 'I Am' as a Day's-man between God and 
    the soul- an 'I Am' as an Advocate, an unceasing Intercessor at the court of 
    heaven, pleading each moment His own atoning merits- an 'I Am' as the center 
    in whom all the promises are &quot;yes and amen&quot;- an 'I Am' as a &quot;Brother born 
    for adversity&quot;- an 'I Am' as &quot;a very present help in trouble&quot;! This is the 
    answer which faith receives to its trembling and anxious interrogatories. To 
    each and all touching His faithfulness, His tenderness, His long-suffering, 
    His fulness, and His all-sufficiency, Jesus answers, &quot;I Am.&quot; &quot;Enough, Lord,&quot; 
    replies the believer, &quot;on this I can live, on this I can die.&quot; </p>
    <p align="justify">MAY 25. </p>
    <p align="justify">&quot;But grow in grace, and in the knowledge of our Lord and 
    Savior Jesus Christ.&quot; 2 Peter 3:18 </p>
    <p align="justify">There is an idea fatal to all true sanctification, which 
    some believers, especially those who are young in experience, are prone to 
    entertain- that nothing is to be done in the soul after a man has believed, 
    that the work of conversion having taken place, all is accomplished. So far 
    from this being the case, he has but just entered upon the work of 
    sanctification- just started in the race, just buckled on the armor. The 
    conflict can hardly be said to have begun in conversion; and, therefore, to 
    rest composed with the idea that the soul has nothing more to do than to 
    accept of Christ as his salvation- that there are no corruptions to subdue- 
    no sinful habits to cut off no long-existing and deeply imbedded sins to 
    mortify, root and branch- and no high and yet higher degrees in holiness to 
    attain, is to form a most contracted view of the Christian life- such a view 
    as, if persisted in, must necessarily prove detrimental to the spiritual 
    advance of the believer. The work of sanctification, beloved, is a great and 
    a daily work. It commences at the very moment of our translation into the 
    kingdom of Christ on earth, and ceases not until the moment of our 
    translation into the kingdom of God in heaven. The notion, so fondly 
    cherished by some, of perfect sinlessness here, is as fatal to true 
    sanctification as it is contrary to God's word. They know but little of 
    their own heart, who do not know that sin, in the language of Owen, &quot;not 
    only still abides in us, but is still acting, still laboring to bring forth 
    the deeds of the flesh;&quot;- who do not know that in their &quot;flesh there dwells 
    no good thing,&quot; that &quot;that which is born of the flesh is flesh,&quot; and will 
    retain its fleshly nature and propensities to the very last. Let us not 
    exult &quot;as though we had already attained, or were already perfect,&quot;- let us 
    not be &quot;ignorant of Satan's devices,&quot; one of which is to build us up in the 
    belief that, in the present life, a man may cease from the work of 
    mortification. The Lord keep the reader from cherishing so erroneous an 
    idea. The work of sanctification is the work of a man's life. &quot;When sin lets 
    us alone (as has been remarked), we may let sin alone.&quot; But when is the day, 
    yes, when is the hour, that sin does not strive for the mastery, and in 
    which the believer can say he has completely slain his enemy? He may 
    &quot;through the Spirit, mortify the deeds of the body,&quot; and if he does, &quot;he 
    shall live;&quot; but, as the heart is the natural and luxuriant soil of every 
    noxious weed of sin, and as another springs up as soon as one is cut down, 
    yes, as the same root appears again above the surface, with new life and 
    vigor, it requires a ceaseless care and vigilance, a perpetual mortification 
    of sin in the body, until we throw off this cumbrous clay, and go where sin 
    is known no more. <br>
&nbsp; </p>
    <p align="justify">MAY 26. </p>
    <p align="justify">&quot;For all the promises of God in him are yes, and in him 
    Amen, unto the glory of God by us.&quot; 2 Corinthians 1:20 </p>
    <p align="justify">It pleased a gracious and sin-pardoning God to meet our 
    guilty and conscience-stricken parents, immediately after the fall, with the 
    comforting and gracious promise that the &quot;seed of the woman&quot;- His eternal 
    Son, the everlasting Mediator- should &quot;bruise the serpent's head.&quot; On this 
    divine assurance of recovering and saving mercy they rested. Believing in 
    this, as they doubtless did, they were saved, &quot;the first fruits unto God and 
    the Lamb.&quot; They rested, let it be emphatically spoken, not upon the bare 
    letter of the promise, but upon its substance; not merely, upon the grace 
    promised; but upon the truth of God in the promise. The bare letter of a 
    promise is no resting-place for a believing soul; it can convey no solid 
    consolation and support. Thus far, and no further, did the Jews get, to whom 
    pertained the promises. This is all that they saw in the types and promises 
    which set forth &quot;God's unspeakable gift.&quot; They rested in the mere letter. 
    They saw not Christ in them; and, seeing not Christ to be their substance 
    and glory, to them &quot;the promises of God were made of none effect.&quot; Now God 
    has fulfilled His ancient promise. The word He spoke to Adam, He has made 
    good to the letter to us, His posterity. It is true, the vision of grace and 
    glory seemed for a while to tarry, but it tarried only for its appointed 
    time. It is true, the vista was long and dreary, through which patriarchs, 
    seers, and prophets beheld it. The star of hope was often scarcely seen in 
    the dim distance, and frequently seemed for a moment entirely quenched in 
    darkness. Time rolled heavily along- a period of four thousand years 
    elapsed; but, true to His word, faithful to His promise, &quot;when the fulness 
    of the time was come, God sent forth His Son, made of a woman, made under 
    the law, that we might receive the adoption of sons.&quot; Oh, how gloriously did 
    the truth of Jehovah shine in the person of the babe of Bethlehem! How did 
    it gather brightness as the holy child Jesus increased in stature and in 
    favor with God and man! And to what meridian splendor did it blaze forth, 
    when on Calvary it united with holiness and justice, in finishing the great 
    work of the Church's redemption! Then was it that &quot;mercy and truth met 
    together, righteousness and peace kissed each other.&quot; Jesus is the grand 
    evidence that God is true. Faith needs, faith asks no more. Here, as on a 
    stable foundation, it rests. Its eye ever &quot;looking unto Jesus,&quot; it can 
    thread its way- often sunless and starless- through a dreary, and an 
    intricate wilderness. It can travel through trials, endure temptations, bow 
    meekly to disappointments, bear up under cross providences, and sustain the 
    shock of fearful conflicts, trusting in the God of the covenant, resting on 
    His promise and oath, and implicitly believing His word, because it sees in 
    Jesus an ever-living witness that God is true. <br>
&nbsp; </p>
    <p align="justify">MAY 27. </p>
    <p align="justify">&quot;He is faithful that promised.&quot; Hebrews 10:23 </p>
    <p align="justify">O you of doubting and fearful heart! looking at the waves 
    rolling at your feet, and well near sinking beneath their swellings, 
    exclaiming, &quot;Will the Lord cast off forever? and will He be favorable no 
    more? Is His mercy clean gone forever? Does His promise fail for evermore? 
    Has God forgotten to be gracious? has He in anger shut up His tender 
    mercies?&quot; Behold the glory of God's truth beaming in the face of Jesus 
    Christ, and doubt no more. So long as Jesus lives- lives as your Advocate, 
    as your High Priest, as your Representative in the court of heaven, all is 
    yours which the covenant promises, and which His mediation secures. &quot;The 
    promises of God are all yes and Amen in Christ Jesus.&quot; Never will he break 
    His oath, or falsify His word, or alter the thing that has gone out of His 
    mouth. &quot;Heaven and earth shall pass away, but my word shall not pass away.&quot; 
    God says it, and let faith believe it because He says it. So essential is it 
    to your comfort, that I would repeat the caution- in all your dealings with 
    the Divine promises, avoid a Jewish faith. Do not so much look at the grace 
    of the promise, or at the thing promised- precious as both are- as at God in 
    the promise. The promise is the heart of your Father speaking; it is the 
    faithfulness of your Father performing. Rest then not in the blessing 
    promised, but in the veracity of Him who promises it, and then shall your 
    faith have confidence towards God. <br>
&nbsp; </p>
    <p align="justify">MAY 27. </p>
    <p align="justify">&quot;Old things are passed away; behold, all things are 
    become new.&quot; 2 Corinthians 5:17 </p>
    <p align="justify">A believer's experience of the truth of God is no mere 
    fancy. However severely experimental godliness may have been stigmatized by 
    an unrenewed world, as the offspring of a morbid imagination, the product of 
    an enthusiastic mind, &quot;he that believes in the Son of God has the witness in 
    himself,&quot; that he has yielded the consent of his judgment and his affections 
    to no &quot;cunningly-devised fable.&quot; A sense of sin- brokenness and contrition 
    before God- faith in the atoning blood of Christ- a sweet consciousness of 
    pardon, acceptance, adoption, and joy in the Holy Spirit, are no mere 
    hallucinations of a disordered mind. To read one's pardon, fully, fairly 
    written out- to look up to God as one accepted, adopted, to feel the spirit 
    going out to Him in filial love and confidence, breathing its tender and 
    endearing epithet, &quot;Abba, Father,&quot;- to refer every trial, cross, and 
    dispensation of His providence to His tender and unchangeable love- to have 
    one's will, naturally so rebellious and perverse, completely absorbed in 
    His- to be as a weaned child, simply and unreservedly yielded up to His 
    disposal, and to live in the patient waiting for the glory that is to be 
    revealed- oh, this is reality, sweet, blessed, solemn reality! Holy and 
    happy is that man whose heart is not a stranger to these truths. <br>
&nbsp; </p>
    <p align="justify">MAY 29. </p>
    <p align="justify">&quot;Cast not away therefore your confidence, which has great 
    recompense of reward.&quot; Hebrews 10:35 </p>
    <p align="justify">There is nothing essentially omnipotent in any single 
    grace of the Spirit; to suppose this would be to deify that grace: although 
    regeneration is a spiritual work, and all the graces implanted in the soul 
    are the product of the Spirit, and must necessarily be in their nature 
    spiritual and indestructible, yet they may so decline in their power, become 
    so enfeebled and impaired in their vigor and tendency, as to be classed 
    among the &quot;things that are ready to die.&quot; It is preeminently so with faith; 
    perhaps there is no part of the Spirit's work more constantly and severely 
    assailed, and consequently more exposed to declension, than this. Shall we 
    look at the examples in God's word? We cite the case of Abraham, the father 
    of the faithful; beholding him, at God's command, binding his son upon the 
    altar, and raising the knife for the sacrifice, we unhesitatingly exclaim- 
    &quot;Surely never was faith like this! Here is faith of a giant character; 
    faith, whose sinews no trial scan ever relax, whose luster no temptation can 
    ever dim.&quot; And yet, tracing the history of the patriarch still further, we 
    find that very giant faith now trembling and yielding under a trial far less 
    acute and severe; he, who could surrender the life of his promised son- that 
    son through whose lineal descent Jesus was to come- into the hands of God, 
    could not intrust that same God with his own. We look at Job: in the 
    commencement of his deep trial we find him justifying God; messenger follows 
    messenger, with tidings of yet deeper woe, but not a murmur is breathed; and 
    as the cup, now full to the brim, is placed to his lips, how sweetly sounds 
    the voice of holy resignation,&quot; The Lord gave, and the Lord has taken away; 
    blessed be the name of the Lord.&quot; &quot;In all this did not Job sin with his 
    lips:&quot; and yet the very faith, which thus bowed in meekness to the rod, so 
    declined as to lead him to curse the day of his birth! We see David, whose 
    faith could at one time lead him out to battle with Goliath, now fleeing 
    from a shadow, and exclaiming- &quot;I shall one day perish by the hand of Saul.&quot; 
    And mark how the energy of Peter's faith declined, who at one period could 
    walk boldly upon the tempestuous sea, and yet at another could deny his 
    Lord, panic-struck at the voice of a little maid. Who will say that the 
    faith of the holiest man of God may not at one time greatly and sadly 
    decline? <br>
    But we need not travel out of ourselves for the evidence and the 
    illustration of this affecting truth: let every believer turn in upon 
    himself. What, reader, is the real state of your faith? is it as lively, 
    vigorous, and active as it was when you first believed? Has it undergone no 
    declension? Is the object of faith as glorious in your eye as He then was? 
    Are you not now looking at second causes in God's dealings with you, instead 
    of lifting your eye and fixing it on Him alone? What is your faith in 
    prayer?- do you come boldly to the throne of grace, asking, nothing 
    doubting? Do you take all your trials, your needs, your infirmities, to God? 
    What is your realization of eternal things- is faith here in constant, holy 
    exercise? Are you living as a pilgrim and a sojourner, &quot;choosing rather to 
    suffer affliction with the people of God,&quot; than float along on the summer 
    sea of this world's enjoyments? What is the crucifying power of your faith?- 
    does it deaden you to sin, and wean you from the world, and constrain you to 
    walk humbly with God, and near to Jesus? And when the Lord brings the cross, 
    and says, &quot;Bear this for Me,&quot; does your faith promptly and cheerfully 
    acquiesce, &quot;any cross, any suffering, any sacrifice for You, dear Lord&quot;? 
    Thus may you test the nature and the degree of your faith; bring it to the 
    touch-stone of God's truth, and ascertain what its character is, and how it 
    has suffered declension. <br>
&nbsp; </p>
    <p align="justify">MAY 30. </p>
    <p align="justify">&quot;Whom the Lord loves he corrects; even as a father the 
    son in whom he delights.&quot; Proverbs 3:12 </p>
    <p align="justify">Hard and harsh thoughts of God will be the effect of 
    wrong interpretations of His dealings: if for one moment we remove the eye 
    from off the heart of God in the hour and depth of our trial, we are 
    prepared to give heed to every dark suggestion of the adversary; that moment 
    we look at the dispensation with a different mind, and to God with an 
    altered affection; we view the chastisement as the effect of displeasure, 
    and the covenant God who sent it, as unkind, unloving, and severe. But let 
    faith's eagle-eye pierce the clouds and darkness that surround the throne, 
    and behold the heart of God as still love, all love, and nothing but love, 
    to His afflicted, bereaved, and sorrow-stricken child; and in a moment every 
    murmur will be hushed, every rebellious feeling will be still, and every 
    unkind thought will be laid in the dust; and, &quot;He has done all things, well- 
    in love and faithfulness has He afflicted me,&quot; will be the only sounds 
    uttered by the lips. If then, beloved, you would have your heart always 
    fixed on God, its affections flowing in one unbroken current towards Him, 
    interpret every dispensation that He sends in the light of His love; never 
    allow yourself to be betrayed into the belief that any other feeling prompts 
    the discipline; do not give place to the suggestion for one moment- banish 
    it from the threshold of your mind the moment it seeks an entrance. And let 
    this be the reflection that hushes and soothes you to repose, even as an 
    infant upon its mother's breast: &quot;My God is love! my Father is unchangeable 
    tenderness and truth! He has done it, and it is well done.&quot; <br>
&nbsp; </p>
    <p align="justify">MAY 31. </p>
    <p align="justify">&quot;My people are bent to backsliding from me.&quot; Hosea 11:7
    </p>
    <p align="justify">The divine life has its dwelling-place in a fallen, 
    fleshly nature. It is encompassed by all the corruptions, weaknesses, 
    infirmities, and assaults of the flesh; there is not a moment that it is not 
    exposed to assaults from within; there is not a natural faculty of the mind, 
    or throb of the heart, that is favorable to its prosperity, but all are 
    contrary to its nature, and hostile to its advance. As there is nothing 
    internal that is favorable to a state of grace, so there is nothing external 
    that assists it forward. It has its many and violent enemies: Satan is ever 
    on the watch to assault it, the world is ever presenting itself in some new 
    form of fascination and power to weaken it- a thousand temptations are 
    perpetually striving to ensnare it; thus its internal and external enemies 
    are leagued against it. Is it then any wonder that faith should sometimes 
    tremble, that grace should sometimes decline, and that the pulse of the 
    divine life should often beat faintly and feebly? <br>
    The saints in every age have felt and lamented this. Hence the prayer of 
    David, which is the prayer of all true believers: &quot;Hold me up, and I shall 
    be safe;&quot; implying the greatest weakness in himself, and his perpetual 
    exposure to the greatest falls: &quot;Hold me up, for only as I am upheld by You 
    am I safe.&quot; Again he prays &quot;Keep back Your servant also from presumptuous 
    sins; let them not have dominion over me;&quot; implying that a believer, left to 
    the tendencies of his fallen nature, might become a prey to the worst sins. 
    In addressing himself to the converted Hebrews, the apostle seizes the 
    occasion thus to exhort them: &quot;Take heed, brethren, lest there be in any of 
    you an evil heart of unbelief, in departing from the living God.&quot; &quot;In 
    departing,&quot;- implying a constant tendency to depart from God. And what does 
    God Himself say of His people? &quot;My people are bent on backsliding from me.&quot; 
    And again, &quot;Why is this people of Jerusalem slidden back by a perpetual 
    backsliding?&quot; Yes, it is a perpetual proneness to declension. The sun rises 
    but to set, the clock is wound up but to run down; and not more natural is 
    it for them thus to obey the laws that govern them, than for the heart of a 
    child of God to follow the promptings of its corrupt and wayward nature.</p>
